[2015-12-04 15:56] garrett opened #1 "Customize README.md"
The readme file should be customized to be specifically for oVirt.

* [x] The title of `README.md` should reflect oVirt.
* [x] If directions do not work or need to be expanded upon, those should also be updated too.

[2015-12-04 19:51] thatdocslady opened #2 "Expand community guidelines topic to community CoC"
Currently we have a "community guidelines" topic that lists in general terms the guidelines to follow when operating within the community. However, the topic describes conduct guidelines only in broad terms, and also contains sections related to naming conventions etc, that don't really belong there.

Link to original topic:
https://github.com/oVirt/ovirt-site/blob/master/source/community/about/co

[2015-12-06 17:46] mscherer opened #3 "Bad link to the privacy policy page in the footer"
So on the new website, it seems that the link to the privacy policy is missing and give a 404.

[2015-12-06 20:42] mscherer opened #4 "Incorrect link on the community page"
On https://beta-ovirtweb.rhcloud.com/community/about/community-guidelines/

there is some example link that are not transformed to html a tag by middleman. See "To search mailing lists"?

[2015-12-06 20:50] mscherer opened #5 "Features missing features name on /develop/release-management/features/"
On https://beta-ovirtweb.rhcloud.com/develop/release-management/features/ , there is several page, listed in subpage, who do not have a proper title.

Looking at the HTML code, this is likely the subcategory where we have only 1 directory, like cloud ( since the html code is:

    <a href='/develop/release-management/features/cloud/'></a>

[2015-12-07 08:58] garrett commented on #3
Link to https://www.redhat.com/en/about/privacy-policy ?

[2015-12-07 08:59] garrett commented on #3
(I think the conversion of http://www.ovirt.org/oVirt_Wiki:Privacy_policy was skipped as it was a special page... and I'm not sure how much it applies now that there isn't a MediaWiki authentication system as a part of the site.)

[2015-12-07 09:13] garrett commented on #4
I guess it's being thrown because of the `:` in the URL? Technically, it is supposed to be encoded as `%3A`... but people shouldn't have to worry about that.

So this Markdown:

[code]

Would be come this, with URL encoded string:

[code]

But, IMHO, Markdown and browsers _should_ handle things like that transparently.

[2015-12-07 09:15] garrett commented on #4
Also, isn't it a bit odd that we're asking people to search the various resources using Google site searches like that (as Bugzilla does have a search engine)? And, there's no wiki, so that part should be removed... the site has its own search too now.

It's also bad that we're asking people to search on a different site for multiple different oVirt resources. If we were to have people search offs

[2015-12-07 09:53] mscherer commented on #3
I am not sure if reusing the privacy policy of RH is a good way to show "that's a independent community", given it say that RH only do things with the data. There is also several breach of the privacy policy in practice ( like the email sent on infra ml with part of the log, for example ).

[2015-12-07 13:04] garrett commented on #4
The above PR merge doesn't fix the issue with URLs with colons, but it does make that page better and replaces the links. (Basically, this was solved by rethinking the block instead of fixing the technical bug.)

[2015-12-07 13:42] garrett commented on #3
This is what's currently on oVirt.org:

(from http://www.ovirt.org/oVirt_Wiki:Privacy_policy)

---

It basically links to the Red Hat privacy policy right now, and has something that is applicable to the oVirt wiki, but not to the new site. So... what should be done for the new site?

[2015-12-09 15:59] garrett commented on #5
Ah, so the category pages were kind of a quick WIP that listed pages that are in the category, similar to MediaWiki. I guess in the website's context — especially with the feature browser — it sort of renders the feature category redundant. Perhaps it should really be handled differently in this instance?

[2015-12-09 17:30] garrett opened #8 "Fix search hash escaping"
Under some circumstances, the hash in the URI might have encoding. Example: `%20` instead of a space.

[2015-12-09 17:34] #8 closed

[2015-12-10 14:19] #5 closed

[2015-12-15 07:36] mykaul opened #11 "Failure to setup - as zlib-devel RPM is missing"
Fedora 23, with all updates.

Running: sudo ./setup.sh

ends with:
Using erubis 2.7.0
Installing expression_parser 0.9.0
Installing favicon_maker 1.3
Installing mini_portile 0.6.0

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /usr/bin/ruby -r ./siteconf20151214-31202-1lbjeh2.rb extconf.rb
checking if the C compiler accepts ... yes
Building nokogiri using packaged librari

[2015-12-15 15:35] david-caro opened #13 "No breadcumbs"
the only way to navigate back is hitting the back button, in the wiki you have some hirachized breadcumbs links that help navigating topics

[2015-12-15 15:36] david-caro opened #14 "Some internal links are broken"
http://beta-ovirtweb.rhcloud.com/community/
there's a link to http://beta-ovirtweb.rhcloud.com/community/develop/infra/infrastructure that should be http://beta-ovirtweb.rhcloud.com/develop/infra/infrastructure/

[2015-12-15 15:36] david-caro opened #15 "The names there are crossed out on community page"
at http://beta-ovirtweb.rhcloud.com/community/

[2015-12-15 15:37] david-caro opened #16 "MediaWiki anchors are named differently — try to handle the difference with client-side JS fuzzy string matching"
In the old wiki you have some html anchors to link page sections, and some intra-page links for the are now broken

[2015-12-15 15:37] david-caro opened #17 "Wrong rendered list in the infra page"
If you go to the 'Decision process' section in that infra page, there's a list that is not rendered properly.

The page is http://beta-ovirtweb.rhcloud.com/develop/infra/infrastructure/

[2015-12-15 15:38] david-caro opened #18 "In the infra page the 'infrastructure team assignments' link does not work"
Infra page: http://beta-ovirtweb.rhcloud.com/develop/infra/infrastructure/

[2015-12-15 15:38] david-caro opened #19 "Bad rendered code in the infra-instances page"
the page: http://beta-ovirtweb.rhcloud.com/develop/infra/infrastructure-instances/

[2015-12-15 15:39] david-caro opened #20 "Wrong linked category in the 'becoming an infra team member' page"
the page: http://beta-ovirtweb.rhcloud.com/develop/infra/becoming-an-infrastructure-team-member/

[2015-12-15 15:39] david-caro opened #21 "Wrongly rendered quotes (seen in in a cople pages iirc)"
one of them http://beta-ovirtweb.rhcloud.com/develop/infra/infra-bash-style-guide/

[2015-12-15 15:40] david-caro opened #22 "Scrambled installation section in the jenkins page"
the page: http://beta-ovirtweb.rhcloud.com/develop/infra/jenkins/

[2015-12-15 15:40] david-caro opened #23 "User links not working on the ovirt.org config page"
The page: http://beta-ovirtweb.rhcloud.com/develop/infra/www.ovirt.org-configuration/

The links are at the end

[2015-12-16 10:36] #11 closed

[2015-12-16 10:38] garrett commented on #23
1. There was an early decision in the conversion process to remove user pages.
2. The page is extremely out of date anyway (as it is mainly about MediaWiki), so the content should be revised regardless.

[2015-12-16 11:01] garrett commented on #22
The original page is also quite wonky: http://www.ovirt.org/Jenkins

[2015-12-16 12:08] garrett commented on #21
Please add any other pages where you've seen this issue.

Using a quick grep for `&amp;`, `&gt;`, or `&quot;`, I've found the following pages match:

* community/get-involved/wiki-rules-and-etiquette.html.md
* develop/developer-guide/vdsm/hook/vmfex.html.md
* develop/dev-process/working-with-gerrit.html.md
* develop/infra/phoenix-lab-hosts.html.md
* develop/infra/phoenix-lab-ssh-spice-tunnel.html.

[2015-12-16 12:12] garrett commented on #20
Categories are no longer used, as this isn't MediaWiki.

Simple fix is to remove the link at the bottom of the page. Categories are supported in the metadata, and the conversion should have caught the links and converted them to metadata for the most part.

During conversion, category information was initially used for a starter filesystem layout, which was then revised (as many pages lacked categ

[2015-12-16 12:14] garrett commented on #19
It's inherited from the original page: http://www.ovirt.org/Infrastructure_oVirt_Instances

Should that be code blocks? (And is the content of this page even valuable?)

[2015-12-16 12:15] garrett commented on #18
It should link to `/develop/infra/infrastructure-team-administrators/`

[2015-12-16 15:34] garrett commented on #17
BTW: That's exactly how it is rendered on the wiki too. http://www.ovirt.org/Category:Infrastructure#Decision_process

The problem isn't rendering, but formatting in the source, both original wiki text and the problem was preserved in the Markdown conversion.

The fix is in pull request #27. :smiley:

[2015-12-16 15:41] garrett commented on #16
...every heading has an auto-generated ID based on the text. You can link to that.

It basically takes the text, lowercases it, and replaces most non-alphanumeric character with a dash. So a headline with "This is an example, here!" would be transformed into "this-is-an-example-here" for the ID of the h1/h2/h3/h4/h5/h6. You can then link directly to it by adding `#this-is-an-example-here` at the e

[2015-12-16 15:42] garrett commented on #16
Also, the links to headings within pages are going to be broken, as MediaWiki handles them differently. This is not a bug; it's an implementation difference. The same page will still load, however.

[2015-12-16 15:46] garrett commented on #15
Yep. That's a debugging style to show that the link no longer works for special wiki pages. It should be disabled before the site is published live.

It's defined as `.broken-link` in line 182 of `site.sass`.

https://github.com/oVirt/ovirt-site/blob/master/source/stylesheets/lib/site.sass#L182-L186

This is intentional, to make those non-working links highly visible. Someone needs to go through a

[2015-12-16 15:53] garrett commented on #15
Here's a list of all resulting pages:

* community/activities/gamification/index.html
* community/events/archives/events/index.html
* community/events/archives/workshop/global-workshops/index.html
* community/events/archives/workshop/intel-workshop-may-2013/index.html
* community/events/archives/workshop/netapp-workshop-january-2013/index.html
* community/get-involved/wiki-rules-and-etiquette/inde

[2015-12-16 15:57] garrett commented on #15
I can modify the code that produces the error to silently ignore user pages. It would then not link to anything, but still show the text of the link (that is, the name of the person). For the case of the Special pages, those need to be edited in the source.

There are 706 pages that refer to "user:", so having it automated would probably be preferable.

There are 4 documents that link to "special:

[2015-12-16 19:17] thatdocslady opened #28 "Add "Blog" tab in top navbar and switch Develop/Community tabs"
The Blog tab should link to a page that contains the "archives" of the blog posts (same page that is accessible when you click "more news" from the Home page).

After the reorg, the top navbar should read:

Home
Blog
Download
Documentation
Develop
Community
Search

[2015-12-16 19:23] thatdocslady commented on #3
@mscherer - the link from the Home page should go to the page with the text that @garrett pasted above.

As for what to write, unless anyone has any brilliant and easy-to-implement ideas, we can continue with the existing RH policy text. RDO also uses this method: https://www.rdoproject.org/legal/

[2015-12-16 20:14] garrett commented on #28
That's controlled from https://github.com/oVirt/ovirt-site/blob/master/data/navigation.yml

I'll make a PR with this fixed, even though it's quite a lot of navigation links. :wink:

[2015-12-16 20:45] #18 closed

[2015-12-16 23:38] thatdocslady commented on #13
@david-caro are you referring to the Table of Contents that you sometimes see (like here http://www.ovirt.org/OVirt_3.6_Release_Management#Key_Proposed_Changes)?

@garrett can we solve this with a sidebar like in the feature pages? or some other suggestion?

[2015-12-16 23:44] thatdocslady commented on #14
@garrett it looks like @mscherer tried to fix the broken link but he used a relative path to /develop/infra... and the link ended up generating _under_ the /community/ parent instead of <base-domain>/develop/etc...

Is this a Middleman thing? Can/should we enforce relative paths to "start" from the base URL instead of under the immediate parent directory?

[2015-12-16 23:46] thatdocslady commented on #4
@garrett so what are we doing to simplify the search function? If I have anything to say about it, I vote to keep the number of search platforms as low as possible, but I don't know how you can use the ovirt site to search in bugzilla =/

[2015-12-17 10:27] garrett commented on #4
The search function for the website only searches the website. There's no possible way to have it search anything else — it has to build an index, and it isn't going to download mailing list archives and bugzilla.

--

As far as the search form on that page, it searches both the mailing lists and bugzilla by default, but one can choose something else. I could extend that to search the website via

[2015-12-17 10:31] garrett commented on #14
It should work if you link to "/develop/infra/infrastructure/", using normal linking, or "Infrastructure", with the wiki workaround in place. If it doesn't work with either of those two, then it's possibly a bug in my linking override code.

[2015-12-17 10:33] garrett commented on #13
A sidebar seems odd for this type of thing. I guess I can look into overriding pages in a layout to see if they're more than a level deep and add some breadcrumb navigation if so?

[2015-12-17 12:05] thatdocslady commented on #13
@garrett sounds good, I think whatever we choose to implement as long as it's fairly simple to maintain and doesn't look out of place will help here, the sidebar was just an idea because we already use it elsewhere.

[2015-12-17 12:14] garrett commented on #13
Well, maintenance would be set it and forget it. It would basically pull apart the URL and link to each piece if depth > 1 or > 2 (whatever works best). And there should probably be an option to disable it from rendering on a page by page basis.

[2015-12-17 14:11] garrett commented on #16
(That said, it might be possible to do some magic in client-side JavaScript to check for a fragment and see if any ID on the page fuzzy matches and redirect it to the best match.)

[2015-12-17 14:11] garrett commented on #16
(I'm pretty sure that's possible, in fact. And I am fairly certain I know how to do it.)

[2015-12-17 19:21] #28 closed

[2015-12-18 11:02] garrett commented on #13
Here's a screenshot (with the debugging bar turned off, which will be the case when the site goes to production):

![screen shot 2015-12-18 at 11 59 03](https://cloud.githubusercontent.com/assets/10246/11895413/c4d3e314-a57e-11e5-84ef-1e3ca8f4b2f2.png)

The breadcrubs bar intentionally does not show up at pages of 0 or 1 in depth, but for everything after. That is, it will not show up for the home

[2015-12-18 11:10] #13 closed

[2015-12-18 12:15] thatdocslady commented on #13
@garrett this is perfect! @david-caro what do you think? this is similar breadcrumb setup to many documentation libraries, and will basically replace the auto-generated wiki-style table of content (except for pages that already have a sidebar).

[2015-12-18 12:56] garrett commented on #23
(Duplicate of #15, BTW.)

[2015-12-18 12:56] #23 closed

[2015-12-18 13:16] garrett opened #32 "Add "edit this page on GitHub" link"
It should be similar to what's on ManageIQ.org and RDOproject.org.

[2015-12-18 13:30] #32 closed

[2015-12-18 14:19] thatdocslady opened #34 "Blog page needs different layout"
Currently the Blog page shows a list of sub-pages: http://beta-ovirtweb.rhcloud.com/blog/

Is there a way to make it look more like the case-studies page: http://beta-ovirtweb.rhcloud.com/community/user-stories/user-stories/

*But* only showing one column (not two, like in the case-studies), similar to your standard Tumblr/Wordpress blog layouts?

[2015-12-18 16:21] garrett commented on #34
Normally, it would look more like https://www.rdoproject.org/blog/ — I guess the indexer overrides that for some reason (not sure why). I can look into this next week (it may take some time to debug/fix, so it's not half-past-5pm-on-Friday-after-a-long-week material).

[2015-12-18 16:55] thatdocslady commented on #34
Yes, that would be great, thank you! We have more time now :)

[2015-12-21 12:28] garrett opened #35 "Add URL fragments as search keywords"
Since a 404 triggers a search of pages, it's probably useful to add the search fragments to the search index.

In most cases, the page bubbles to the top anyway, but in a few somewhat rare instances, the terms are only used in the URL and not in the page, making the 404 search show no results. Adding the fragments to the index, both for the original page as well as a wiki title (if applicable), wo

[2015-12-21 12:54] #21 closed

[2015-12-21 13:00] garrett opened #37 "Review & optimize code blocks"
Many pages use code blocks. This issue addresses the need to review and optimize each code block. Optimized code blocks are indented starting at the flush left, surrounded by three backticks and, optionally, the programming language (which would cause the code block to be syntax highlighted)... instead of just merely being indented.

See http://kramdown.gettalong.org/syntax.html#code-blocks for mo

[2015-12-21 13:05] #19 closed

[2015-12-21 13:05] garrett commented on #37
Here is a list of all pages that render a `<code>` block:

* [community/about/licensing/](https://beta-ovirtweb.rhcloud.com/community/about/licensing/)
* [community/about/meetings/](https://beta-ovirtweb.rhcloud.com/community/about/meetings/)
* [community/activities/gamification/](https://beta-ovirtweb.rhcloud.com/community/activities/gamification/)
* [community/activities/summer-of-code/](https:/

[2015-12-21 13:07] garrett commented on #37
Here's the same list, but with the links pointing to a locally running instance:

* [community/about/licensing/](http://0.0.0.0:4567/community/about/licensing/)
* [community/about/meetings/](http://0.0.0.0:4567/community/about/meetings/)
* [community/activities/gamification/](http://0.0.0.0:4567/community/activities/gamification/)
* [community/activities/summer-of-code/](http://0.0.0.0:4567/commun

[2015-12-21 13:19] #17 closed

[2015-12-22 13:18] garrett opened #39 "Events are broken: both Upcoming & /events/"
- [ ] the /events/ page has moved elsewhere; this should be corrected
- [ ] check to see if events are being picked up properly, and why they're not showing up
- [x] ensure events are tagged with oVirt in rh-events
- [ ] port over event changes from RDO wiki conversion to middleman

[2015-12-22 15:56] garrett commented on #39
oVirt wans't mentioned or tagged. Fixed in the events already in the repo @ https://github.com/OSAS/rh-events/commit/105fb92b8aaa8fcac3e01801c2796f212343325c

[2015-12-22 15:58] garrett commented on #39
Tagging oVirt (or even mentioning it) would cause it to show up. This is why events were no longer showing up. The rh-events repo is where the events are fed from. One of the many advantages of rh-events is having the same event information showing up on all the sites, wherever applicable, so people don't have to re-add information in multiple systems.

In this case, I just had to simply add oVirt

[2015-12-22 16:56] garrett commented on #39
Adding another TODO item:

- [ ] port over event changes from RDO wiki conversion to middleman

[2015-12-23 12:46] #39 closed

[2015-12-23 14:13] #35 closed

[2015-12-23 14:39] garrett opened #42 "scrub pages pertaining to MediaWiki"
Many pages are out of date, simply by the fact that they contain MediaWiki-related information. The pages should either be:

1. Removed
2. Have MediaWiki information removed from the page (and leave other stuff)
3. Changed to reflect similar Middleman-related information

Which method of the above that should be used really depends on the page in question.

To start, here's a search for "MediaWiki

[2015-12-23 14:41] garrett commented on #42
Doing a search for "wiki" also turns up a lot of additional pages.

https://beta-ovirtweb.rhcloud.com/search/#wiki

However, these may have false positives, and there are many more pages. I'd suggest concentrating on pages in the MediaWiki search above first.

[2015-12-23 15:15] #34 closed

[2015-12-23 16:02] garrett commented on #34
Just like the front page, /blog/ will look better once there's content in the blog post. (And /blog/ will also list multiple blog posts with summaries, with pagination too.)

[2015-12-23 16:04] garrett opened #43 "First blog post"
We need an actual blog post with content. The site doesn't look right without it.

It would be nice to get this in soon, or at least have a filler post so the layout isn't broken*. (:

(\* _The site should never have empty blog posts ever again, once it's deployed to production, so it's not a problem_.)

[2016-01-17 16:18] thatdocslady commented on #43
Resolved with PR: https://github.com/oVirt/ovirt-site/pull/45

[2016-01-17 16:18] #43 closed

[2016-01-17 16:19] thatdocslady commented on #1
Replaced the content with oVirt-specific info, PR merged: https://github.com/oVirt/ovirt-site/pull/46

[2016-01-17 16:20] thatdocslady commented on #1
@garrett what do you mean by "title should reflect ovirt"? I was sure that the standard GH practice is to keep README.md as the default root file...

[2016-02-11 15:05] mscherer commented on #3
So coming back on that issue, the RH policy say "This Privacy Statement may not apply to open source project websites sponsored by Red Hat.". This is ambigous, because it can be "may not" as "is not permitted to" or "is not automatically supposed to".

The RH policy also say we do not give the information except:
- business partner, who signed a confidentiality agreement
- merger/acquisition/etc
-

[2016-02-11 16:38] mscherer opened #55 "Privacy policy of the project is inadequate"
Since @thatdocslady  did ask me for a new bug report, let's restart the discussion from #3 here.

So basically, the reuse of the RH privacy policy is inadequate for ovirt.org for several reasons, and i will list just the 2 main ones for now to not overload the issue:

First, it states that RH do not give the information except to partner that signed a confidentiality agreement, law enforcement or

[2016-02-14 14:19] sandrobonazzola opened #61 "Reporting a bug doesn't guide the user"
In http://beta-ovirtweb.rhcloud.com/documentation/ Reporting a BUG link just point to the oVirt classification bugzilla without saying what to add to the report (like log-collector report, sos report, single log file). It would be better to add a page explaining how to create a useful bug report, with instructions about ovirt teams, projects, components, attachments.

[2016-02-14 14:25] sandrobonazzola opened #62 "Missing links to social networks in contacts"
In http://beta-ovirtweb.rhcloud.com/community/about/contact/ there's no link to facebook, google+. twitter, linkedin pages.

[2016-02-17 21:39] 0xABAB commented on #55
Informations is not a word, just so you know.

[2016-02-19 09:26] jelkosz opened #69 "ovirt.org leads to redirect loop"
If trying to reach the page as ovirt.org (without the www.) it leads to redirect loop

[2016-02-19 16:47] david-caro commented on #69
This should be solved now, it should redirect to the www once and load the new site, please verify and close if ok

[2016-02-19 16:48] david-caro commented on #69
For reference, the change has been done in the linode01.ovirt.org machine

[2016-02-21 08:27] didib opened #77 "PDF links return 404"
Most of the "Slides" links in e.g. [1], e.g. [2], return "page not found".

I can't find any pdf files in the git repo.

Nor can I find how these ":Media:" links are supposed to work, in case I want to fix some of them...

[1] http://www.ovirt.org/community/events/archives/fosdem-2014/
[2] http://www.ovirt.org/community/events/archives/fosdem-2014/:Media:Fosdem-hosted-engine.pdf

[2016-02-21 19:33] jelkosz commented on #69
yes, works now, thanx

[2016-02-21 19:33] #69 closed

[2016-02-22 15:00] thatdocslady commented on #77
@garrett - any idea why this is happening?

[2016-02-22 15:02] thatdocslady commented on #15
@eedri I think this is what you were talking about?

[2016-02-22 15:06] garrett commented on #1
`README.md` has "oVirt.org Project Website" at the top for the title of the file. :wink:

And you really overhauled the README overall. The instructions look really nice now!

[2016-02-22 15:06] #1 closed

[2016-02-22 15:08] garrett commented on #77
Yep. PDFs are not hosted in the site (nor should they be, really). As the links point to a non-existing URL, the links are broken.

[2016-02-22 15:08] garrett commented on #77
I'd suggest hosting content like PDFs in the same place as ISOs and RPMs, if possible.

[2016-02-22 15:11] thatdocslady commented on #77
So where were they hosted before the migration? I assume they're still
sitting somewhere, waiting to be linked...

On Mon, Feb 22, 2016 at 4:08 PM, Garrett LeSage <notifications@github.com>
wrote:

[2016-02-22 15:18] eedri commented on #15
@thatdocslady yes

[2016-02-22 17:45] david-caro opened #87 "Mixed non-ssl resources on the ssl page"
Hi,
So after enabling the correct cert, when loading the ssl-enabled page firefox complains about a couple resources not being fetched from secure connections, the resources are:

   http://www.redhat.com/j/elqNow/elqCfg.js
   http://www.redhat.com/j/elqNow/elqImg.js

The https counterparts already work, so probably it's just a matter of changing a hardcoded url somewhere

[2016-02-22 17:57] thatdocslady commented on #87
@garrett is this something you can help with?

[2016-02-23 10:54] didib commented on #77
They were disguised as images. Specifically, in the above case, the link in [1] is to [2].

I see the reasoning in putting them on our files server (resources.ovirt.org), but this will be a high barrier to pass for contributors - and not sure it makes sense from the "content" pov.

What do other middleman sites do?

Is there a technical problem to just push commits adding these files and link to t

[2016-02-23 13:20] thatdocslady opened #89 "Create issue and pull request templates"
Based on these instructions: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-23 20:36] mykaul opened #91 "http://www.ovirt.org/develop/dev-process/working-with-gerrit/ is a mess"
Something in the move did not go well. It is unreadable and is a very important page.

[2016-02-24 09:00] mureinik commented on #91
@mykaul seems like the angular brackets in <username>.id.fedoraproject.org were not correctly escaped, which broke the md to html conversion.
See proposed patch.

[2016-02-24 09:59] sandrobonazzola commented on #91
Thanks Allon, can you verify it's ok so we can close the issue?

[2016-02-24 13:23] mureinik commented on #91
The merged fix indeed handles the brunt of the issue, but upon further inspection, it seems to have been a partial solution.

The new PR (with patch 	2522ea0) should solve the remaining issues.

[2016-02-24 14:58] yevgenyz opened #97 "'source/images/wiki' folder was updated 8 monthes before the site migration date"
Example of the problem: [IPv6 support feature page](http://old.ovirt.org/Features/IPv6_support) referrers to [the image file](http://old.ovirt.org/File:Edit_network_ipv6.jpg) that is present in the legacy site and is missing from the new one.

[2016-02-24 15:07] thatdocslady commented on #97
@yevgenyz as a best practice, please link to the new page as well as the old page. Otherwise, I just merged a PR with all of the missing images that weren't copied from the old wiki, so please check whether this is fixed and let me know. If the image is still missing and you are the owner of this feature, please add the image again to the new page.

[2016-02-24 15:23] sandrobonazzola opened #98 "Release notes conversion is incomplete"
Comparing http://www.ovirt.org/release/3.6.3/ and OVirt_3.6.3_Release_Notes I mirrored locally before the switch to the new site, I see that the table of contents is missing (just annoying) and all references to the bugs have been lost (real issue).

In older site I had:
- BZ 1191514 - Missing gluster error codes

with the BZ linked to the bugzilla url. It used a macro/template {{BZ|1191514}}
in n

[2016-02-24 15:24] sandrobonazzola opened #99 "Previous site pages are unreachable"
Even if from the new website the previous website page are referenced, they're not reachable anymore so if something gone wrong with the conversion you can't reach the correct one to compare with.

[2016-02-24 15:27] thatdocslady commented on #99
Can you provide some examples?

[2016-02-24 15:27] thatdocslady commented on #98
@garrett can you please check what happened to BZ links during the conversion?

[2016-02-28 11:56] dankenigsberg commented on #97
Mikey, your pull request https://github.com/oVirt/ovirt-site/commit/d337b685bd0b5ea640448d107c48cdb05fb06afd does not include the image that Yevgeny mentioned http://old.ovirt.org/File:Edit_network_ipv6.jpg .

May I ask how did you create the list of images that need update? Apparently, at least one image is missing from it.

[2016-02-29 19:28] gpadgett commented on #97
Adding to this, the [flow diagram](http://www.ovirt.org/images/wiki/Image_Upload-HTTP_Sequence_Diagram.png?1454370862) on the [Image Upload](http://www.ovirt.org/develop/release-management/features/image-upload/) page is outdated by a few versions.

I'm happy to submit a pull request with the updated diagram, but am concerned that not all pages would get the same attention.

[2016-03-01 11:46] sandrobonazzola commented on #99
http://www.ovirt.org/download/ovirt-live/ has a link to http://ovirt.org/OVirt_Live which just redirect to http://www.ovirt.org/download/ovirt-live/ so you can't check if something is missing.

Same for http://www.ovirt.org/release/3.6.3/ which has a link to http://ovirt.org/OVirt_3.6.3_Release_Notes which is Not found :(

[2016-03-02 06:51] dankenigsberg opened #115 ""Jobs" section"
oVirt is always looking for talented contributors. Red Hat may be able to hire some of them. Please add a "Jobs" tab to the main page, where we can list the descriptions of Linux-savvy Python and enterprise Java developers that we are looking for.

[2016-03-02 15:48] thatdocslady commented on #99
@garrett @jasonbrooks can one of you help here?

[2016-03-02 16:59] jasonbrooks commented on #99
It looks like all those old wiki page links need to get `old.` appended. So, `http://ovirt.org/OVirt_Live` should become `http://old.ovirt.org/OVirt_Live`, an so on...

[2016-03-06 13:25] mureinik commented on #91
Both PRs are merged now, and the page looks fine. How can I close this issue?
(@mykaul - should you do this? )

[2016-03-06 13:36] #91 closed

[2016-03-06 13:37] mykaul commented on #91
Closing, thanks!

[2016-03-07 06:50] mykaul opened #122 "Inaccurate ovirt engine picture in architecture page"
In the new architecture page (http://www.ovirt.org/documentation/architecture/architecture/), overall architecture picture shows that engine supports active-active high availability.

According to Yaniv Kaul(ykaul at redhat.com) in mailing list,

(copy-paste from https://bugzilla.redhat.com/show_bug.cgi?id=1315120 )

[2016-03-07 13:19] didib opened #124 "old.ovirt.org indexed"
Now noticed that a google search returned also results from old.ovirt.org.

If we intend to drop it by end of current month, which btw seems
pretty immature to me - perhaps wait half a year or so, we better stop
google from searching and/or returning results from it. robots.txt
should have been enough if done beforehand, not sure what tools exist
now. Adding one won't hurt anyway. Obviously google

[2016-03-08 09:00] sandrobonazzola commented on #99
Thanks, fixed.

[2016-03-08 09:00] #99 closed

[2016-03-08 09:04] sandrobonazzola opened #125 "broken links on heapplianceflow feature page"
http://www.ovirt.org/develop/release-management/features/heapplianceflow/
   has two broken links to jobs that create the hosted engine appliance.
   found appliance image in
   http://jenkins.ovirt.org/job/ovirt-appliance_ovirt-3.6_build-artifacts-el7-x86_64/

[2016-03-09 12:32] mureinik commented on #37
Pull request 127 should handle bullet 303 on this list

[2016-03-09 17:59] mureinik commented on #37
Did not notice this issue at the time, but PR #96 fixes bullet 113 on this list.

[2016-03-10 16:45] garrett commented on #77
It's a bit messy to put binary files in git, and a better policy is to host them elsewhere and link them. @mscherer has something implemented for ManageIQ (iirc) for large binary files... but I think that's more for ISOs.

How many are there and how large are they?

Also: I'm pretty sure I didn't see them in the images.

[2016-03-10 16:48] garrett commented on #87
Nope, unless those are available at https too. The site should technically refer to those links with `//` instead of `http://` so they use the same resource as the calling site (http if http, https if https).

A quick look seems to confirm that https works for those links... so they should be referred to as `//www.redhat.com/j/elqNow/elqCfg.js` and `//www.redhat.com/j/elqNow/elqImg.js`.

[2016-03-10 16:49] garrett commented on #98
Well, there's nothing set up to handle that. I might be able to extend things to support it... but I'm not sure.

(Worst case scenario is that we can use regular expressions to rewrite the content of the pages if it's not easily possible to handle that.)

[2016-03-10 22:02] mscherer commented on #77
So for manageiq, I have 2 things:
- the iso are uploaded to the rackspace CDN
- the pdf were download and placed on /pdf manually, until we decide on a better process. it seems this didn't happened at all once the issue was fixed with a hack.

And yeah, each big file we had in git is a big file we need to download for a git rebase or clone. A few would be fine, like image, but if we start adding m

[2016-03-15 16:37] scrat14 opened #135 "slide-decks.html.md - broken links"
Links to documents in ovirt.org slide decks page are broken, as they point to documents uploaded to old images/ or wp-content/upload folders, which aren't available anymore.
Are these ODPs and PDFs migrated to the new site - can't find them in git repository...

[2016-03-16 07:46] #87 closed

[2016-03-18 05:40] darrylb123 opened #138 "Admin guide markup corrupts 1/3 of guide"
The markup after 'Installing Guest Agents and Drivers' corrupts the remainder of the document. Looks like there is some html that is not parsed by the markdown engine and breaks everything afterwards.

This is the raw code where it breaks. I notice it renders properly on github just not on the web site.

<dl>
<dt>
Installing the agents and drivers on Red Hat Enterprise Linux guests

<dd>
All of th

[2016-03-18 10:41] sandrobonazzola commented on #138
#140 should fix this issue

[2016-03-18 10:58] sandrobonazzola commented on #125
Should be fixed by pull #141

[2016-03-18 11:10] sandrobonazzola commented on #138
fixed

[2016-03-18 11:10] #138 closed

[2016-03-22 12:42] thatdocslady opened #147 "Move feature pages"
Feature pages should be created in /source/develop/features/, and at the moment they're in /source/feature/. The feature template should also be moved there.

[2016-03-27 13:58] rollandf opened #152 ""About" link in all pages is broken"
The "About" link in the bottom of all the pages is not leading anywhere.
http://www.ovirt.org/about/

[2016-03-28 17:50] mykaul opened #153 "broken link on latest blog - http://www.ovirt.org/blog/2016/03/up-and-running-with-ovirt-3-6/"
The link to http://www.ovirt.org/blog/2016/03/up-and-running-with-ovirt-3-6/develop/release-management/features/engine/self-hosted-engine-hyper-converged-gluster-support/ is broken.

@jasonbrooks  -  can you look at this?

[2016-03-31 10:59] SyuTingSong opened #159 "Server not providing intermediate certificate makes Google Chrome report as untrusted website"
Server not providing intermediate certificate makes Google Chrome report as untrusted website

[2016-03-31 16:12] jasonbrooks commented on #153
The link should be working -- something's happening w/ middleman and links that point to ovirt.org, they're being made relative to the blog post they appear in. PR 160 works around the issue for now w/ html-style links.

[2016-04-01 21:15] sandrobonazzola commented on #135
Mikey we need a decision on where we need to store slides.

[2016-04-01 21:16] #125 closed

[2016-04-01 21:20] sandrobonazzola commented on #77
@mscherer @garrett @thatdocslady ok, so: where should we upload slides and pdf files? How could we upload them?.

[2016-04-01 22:44] mscherer commented on #77
So either we upload them "as is" to the gears (but then, we need to make a backup somewhere), or we get a second gears with "static.ovirt.org", or get a VM, or upload to a CDN. There is a ton of option, so the biggest question is:
- who should be allowed to upload, and how do we decide what is uploaded.

Without more informations on the workflow we want for upload, it is hard to design a solution.

[2016-04-05 16:10] sandrobonazzola commented on #77
with oldovirt wiki whoever had a wiki account could upload images / slides / pdf.
Is there a solution somewhere for allowing upload after github authentication?

[2016-04-08 20:05] sandrobonazzola commented on #98
Progress on this?

[2016-04-08 20:08] sandrobonazzola commented on #159
Can you please re-check? Looks ok to me now.

[2016-04-08 20:11] sandrobonazzola commented on #153
Closing this as solved by PR #160. If there's an issue in middleman configuration, @jasonbrooks or @garrett please open a separate issue. If it's a middleman bug, let's ensure it's reported.

[2016-04-08 20:11] #153 closed

[2016-04-17 06:47] didib opened #181 "automatic page-level "table of contents" menus"
In the old site, many/most pages had "Contents" automatically generated based on their internal section/subsection hierarchy. IMO we should have that by default for most pages of the new site, perhaps with a simple option to turn off/on. I searched a bit and could not find how to do that and/or whether it's supposed to be supported.

As an example, compare these:

http://old.ovirt.org/Hosted_Engin

[2016-04-19 09:46] mykaul opened #184 "Search is not working well"
Searching for '3.6.5' doesn't find anything:
http://www.ovirt.org/search/#3.6.5

While it should have found http://www.ovirt.org/release/3.6.5/

[2016-04-19 09:58] sandrobonazzola commented on #184
@garrett can you have a look?

[2016-04-20 10:21] MarSik opened #186 "Local test requested before pull, but no instructions and both server and docker scripts fail"
Hi,

The CONTRIBUTING file asks for local testing of changes in the "Test your changes locally" section. But there are no instructions about how to actually do that.

I tried using the standard approach of bundle install && bundle exec ./run-server.sh, but it fails with:

[code]

I also tried to use the ./docker-setup.sh && ./docker-run.sh script, but that also failed:

[code]

So apart from havin

[2016-04-21 07:48] sandrobonazzola opened #193 "[urgent] ovirt.org not being updated by github commits"
Looks like ovirt.org is not receiving updates from github commits.
patches merged more than 1 hour ago are not showing up even if travis finished more than one hour ago.

[2016-04-24 09:09] mykaul opened #203 "add visible RSS feed link for our blog"
How do we add a RSS feed to oVirt blog?
For example, I wanted to add news to it @ https://www.openhub.net/p/oVirt/rss_subscriptions/new - and I did not find our RSS feed.

@jasonbrooks  ?

[2016-04-28 00:19] jasonbrooks commented on #203
@mykaul http://www.ovirt.org/blog/feed.xml

[2016-04-28 05:16] mykaul commented on #203
@jasonbrooks  - thanks - how can one know it? I did not find it anywhere.

[2016-04-28 16:11] gregsheremeta commented on #186
run ./setup.sh and then ./run-server.sh

[2016-05-01 14:17] mykaul opened #224 "4.0 Release notes link @ http://www.ovirt.org/develop/release-management/releases/4.0/release-management/ is broken"
Can't find the RN from http://www.ovirt.org/develop/release-management/releases/4.0/release-management/

[2016-05-03 06:57] sandrobonazzola commented on #224
Code looks good:
[oVirt 4.0 Release Notes](http://www.ovirt.org/release/4.0.0/)
but it's translated to http://www.ovirt.org/develop/release-management/releases/4.0/release-management/release/4.0.0/ so something broken somewhere else. @garrett can you please have a look?

[2016-05-03 07:43] #186 closed

[2016-05-09 10:51] sandrobonazzola opened #232 "http://www.ovirt.org/stats/ from bitergia is not working anymore"

[2016-05-17 14:49] didib opened #243 "bad numbering on Hosted Engine host operating system upgrade Howto"
Now noticed that the numbering on [1] is different from [2], which is the same page but rendered using github.

E.g. "Migrate VMs as needed to the new host" is numbered "7" in [2] but '1' in [1]. Likely something in the markdown causes the renderer to exit the list, and start a new one, where in github it's a single long list as it should be.

[1] https://www.ovirt.org/documentation/how-to/hosted-

[2016-05-18 15:04] jasonbrooks commented on #203
We should add a link or rss image somewhere -- I only know about it from familiarity w/ other middleman-powered sites.

[2016-05-20 05:55] sandrobonazzola commented on #243
@garrett any hint on what's causing the different numbering?

[2016-06-01 07:56] mwperina opened #267 "Travis build fails for merged ovirt-site content"
Travis build fails for already merged ovirt-site content with following error:

== Request: /develop/release-management/features/sla/deploy-hosted-engine-hosts-via-engine/index.html

       error  build/develop/release-management/features/sla/deploy-hosted-engine-hosts-via-engine/index.html

undefined method `split' for nil:NilClass

@jasonbrooks could you please take a look?

[2016-06-01 09:24] mykaul commented on #267
@rgolangh  - Roy, can it be related to:
commit 291afd50c292fcb718c8d8c5da02302b8005679e
Author: Roy Golan <royg21@gmail.com>
Date:   Wed May 25 12:42:50 2016 +0300

    Create deploy-hosted-engine-hosts-via-engine.md

[2016-06-02 08:18] fbacchella opened #270 "[RFE] Added a mini TOC for feature pages."
Some page can be quit long:

http://www.ovirt.org/develop/release-management/features/storage/importstoragedomain/

A mini-TOC for this page should be generated, so it's possible to know the important part in it. It will make easer to the reader to found that there is API documentation in it for example.

[2016-06-02 09:37] #184 closed

[2016-06-02 16:32] jasonbrooks commented on #267
@mwperina It was missing frontmatter, see discussion in #268

[2016-06-07 13:17] doron-fediuck commented on #77
@thatdocslady we really need to solve this as feature pages should have a screenshot of the relevant change in the user interface.
We can open a temporary dropbox account to temporary host images and slides included in a PR.
Once accepted they should be uploaded to a persisted storage by the maintainer.

So the flow is:
1. Contributor push a PR with relevant files uploaded to temporary dropbox.
2.

[2016-06-08 07:39] duck-rh commented on #77
Why would we use another third-party and non-free service?

Is httpd + ftpd gears not sufficient? or ftpd + CDN sync ?

[2016-06-08 10:51] doron-fediuck commented on #77
For our purposes Dropbox is free. We only need it as a temporary storage
for the review process.
Using httpd is irrelevant since you need a temporary storage which is loosely moderated
so people can upload their files for review. Once accepted (or rejected) the files should be
removed from the temporary storage (we can script it).

[2016-06-08 14:14] duck-rh commented on #77
I was speaking about non-Free with "Free as in free speech".

And I talked about FTP for this function, httpd is only if we distribute the moderated assets directly on the same host. And "mv" is clearly much more simple than scripting a web API, even if I'm pretty sure there's many libs for all languages around.

[2016-06-08 14:21] mscherer commented on #77
well, I do not think we need to have a specific process for temporary stuff. If people want to use their server, that work fine as well as dropbox. So just say "people give a url to the content before being reviewed" and that should be sufficient.

The real problem is how to push things to openshift, how to do backup, audit access, etc.

[2016-06-08 15:15] duck-rh commented on #77
Why not. In this case people can just pop on the ML and give an URL hosted anywhere. So there is track of it and people can comment before it is pushed to the real location.

On the OpenShift side, the httpd/etc/conf.d/ directory seems customizable, so we could have a specific out-of-openshift operations directory we could sync, and alias it in the Apache configuration.

As for the storage, I don'

[2016-06-09 07:32] didib commented on #77
I now downloaded all the static ('File:' or 'Media:') files from the old site, and they are 90MB in size.

I think it will be ok to just add them to the git repo.

Another option is to maintain them in a separate git repo, say oVirt/ovirt-site-static, or ovirt-site-files etc. I'd hope for such a system to be semi-automatic, with the actual URLs part of the configuration of the site and not hard-co

[2016-06-09 07:59] doron-fediuck commented on #77
We still need a temporary storage for the review phase.
So far I didn't see any concrete suggestion to this need.

[2016-06-09 08:49] didib commented on #77
The temporary storage is just like for any text change - a branch in the clone the user did.

[2016-06-09 09:02] doron-fediuck commented on #77
We cannot rely on github for large files support, and the general limitation is around 1GB for a repo.
See:
https://github.com/blog/1533-new-file-size-limits
https://help.github.com/articles/what-is-my-disk-quota/

Hence we need to separate the storage for images / videos / etc to resources.ovirt.org or similar.
And yes, we still need a temporary storage for the review phase.

[2016-06-09 12:37] didib commented on #77
I'd say that if in 4.5 years we needed 90MB, 1GB will be ok for some time to go.
We should ask people to keep their files small when reviewing pull requests.
Videos can imo be put on youtube or some such. Also, I currently mainly care about the existing files. New files might be discussed separately.

[2016-06-09 13:51] doron-fediuck commented on #77
The point is that source control (and git and github) are not meant for binary files.
So let's do this the right way instead of forcing people to clone a huge repo for no good reason.

[2016-06-10 05:02] duck-rh commented on #77
I agree with Garrett and doron-fediuck this is not a good place.

Garrett talked about the ISO place, and I asked about resources.ovirt.org (which may be the same place), but nobody replied on this.

Should we raise a more wide discussion on the ML?

[2016-06-11 20:02] mykaul opened #287 "'About' link is dead (from main page)"
Leads to http://www.ovirt.org/about/#about which is not found.

[2016-06-12 02:31] mureinik commented on #270
This was already requested by Issue #181. Closing so we can track it in one place only.

[2016-06-12 02:31] #270 closed

[2016-06-13 09:05] didib commented on #77
Do we want a single place/process for both past (old site) binary files and future ones?

If not, we can copy them once to resources.ovirt.org and then fix the links here. And then think about future ones, if/when there is enough pressure for this (which I admit I currently do not feel).

[2016-06-13 10:20] didib commented on #77
Now uploaded them to [1]. Didn't publish yet anywhere, so can move/rename if we want, e.g.:

/website-files
    /old-site
    /2016
Or whatever other scheme we can think of.

These files are a result of running this:

for tag in File Media; do cat ./* | sed -n "s/.*\[\[:*${tag}: *\([a-zA-Z_0-9 ().-]*\).*\]\].*/\1/p"; done | sed 's;^;http://old.ovirt.org/File:;' > /tmp/file-urls

wget -i /tmp/file-

[2016-06-20 08:46] garrett commented on #243
The site does not use GitHub markdown, but Kramdown. Perhaps the indentation is not quite right?

Here are the specific docs on using lists in Kramdown: http://kramdown.gettalong.org/quickref.html#lists

In most cases, the Markdown flavors are close enough, but they're not exactly the same thing. (There is no one Markdown, only many flavors.) Eventually, there will be [CommonMark](http://commonmar

[2016-06-20 09:21] garrett commented on #224
First link works fine for me. Perhaps it was fixed with the redirect changes I made earlier this month? (PR #285)

Closing, as I cannot replicate the error. Please re-open with clarification if I'm incorrect in closing this. :wink:

[2016-06-20 09:21] #224 closed

[2016-06-20 09:36] #243 closed

[2016-06-20 09:42] garrett commented on #243
Please check the commit with the explanation of what I did as well as a diff with all the changes @ https://github.com/oVirt/ovirt-site/commit/0c84f649898856101763ba20672cf38dec63d5c7.

[2016-06-20 15:37] garrett commented on #287
To fix this, someone working on content would need to one of the following:

1. make the content for an about page
2. move http://www.ovirt.org/documentation/introduction/about-ovirt/ to /about/ (and polish up that page)
3. change the footer link to point to /documentation/introduction/about-ovirt/ (and polish up that page)

(I've listed the options in the order of preference.)

So, someone who co

[2016-06-20 15:40] garrett commented on #232
The stats are at:
http://projects.bitergia.com/redhat-ovirt-dashboard/browser/

...previously, before the wiki conversion to middleman, they were sync'd in and server via some Apache rule. Since the conversion, the syncing has been dropped. @mscherer or @duck-rh would need to do something to restore the sync and webserver graft.

(Meanwhile, the above link still works.)

[2016-06-20 15:45] garrett commented on #193
@mscherer or @duck-rh would have to look into this.

I haven't had any problems in a while — and I know that the site has updated fine a few times today (with a few PRs I sent in and merged), so I suspect this was a one time odd thing. Perhaps there was an issue with the build machine or a bad commit might have been merged in. Regardless, it seems like it is no longer an issue, so I'm closing the

[2016-06-20 15:45] #193 closed

[2016-06-20 15:48] garrett commented on #152
To fix this, someone working on content would need to one of the following:

1. make the content for an about page
2. move http://www.ovirt.org/documentation/introduction/about-ovirt/ to /about/ (and polish up that page)
3. change the footer link to point to /documentation/introduction/about-ovirt/ (and polish up that page)

(I've listed the options in the order of preference.)

So, someone who co

[2016-06-20 15:48] garrett commented on #287
Closing as duplicate of #152

[2016-06-20 15:48] #287 closed

[2016-06-20 16:05] garrett commented on #181
I thought I had the ToC code on oVirt.org, but only had it on the RDO website. I've pulled the commits over and tested it locally. As soon as PR #304 is merged, you will have the ability to use the "toc" layout to easily have a generated table of contents for nearly any page (aside from feature pages).

To use, set a `layout` field in the frontmatter to `toc`. In other words, at the top of a file,

[2016-06-20 16:06] garrett commented on #135
Related to #77

[2016-06-20 16:11] garrett commented on #14
FWIW: The example appears to be fixed. Redirects are now handled in Middleman instead of relying on Apache, so all other link redirects should work properly too. If you find other redirect links that are a problem, please open up another issue, or reopen this one. Thanks!

[2016-06-20 16:11] #14 closed

[2016-06-20 16:11] garrett commented on #15
This looks fixed. Closing bug.

[2016-06-20 16:11] #15 closed

[2016-06-20 16:13] garrett commented on #16
This is now handled in the new redirect code. (#285)

[2016-06-20 16:13] #16 closed

[2016-06-20 16:14] garrett commented on #22
Fixed in #24.

[2016-06-20 16:14] #22 closed

[2016-06-21 03:50] duck-rh commented on #193
It is too old to investigate, there is only status files for debugging the previous run and it would be unreproducible now. It was probably discussed/investigated on IRC anyway at that time.

[2016-06-21 05:08] duck-rh commented on #232
Quack,

On 06/21/2016 12:40 AM, Garrett LeSage wrote:

There is nothing on the oVirt builder but I figured out it would be the
same sort of things we have for the community dashboard, limited to this
specific project.

I can work on this part, as it is Ruby code. It should be possible to
adapt a bit to format for a single or multiple sources using the same
script and page. Would be nice to share t

[2016-06-21 14:54] garrett commented on #181
I have added a pull request to address your "BTW" about anchor offsetting @ PR #309 — and added a little highlight when the content is linked too (to make it a little more obvious).

[2016-06-21 15:04] mscherer commented on #232
I am not convinced that we need to sync, what about just redirect people to the bitergia dashboard ?

[2016-06-21 16:42] garrett commented on #232
Yeah, I'm fine with a redirect. It's easiest for all involved, and doesn't have any duplication of locations.

[2016-06-21 17:11] duck-rh commented on #232
Quack,

On 06/22/2016 01:42 AM, Garrett LeSage wrote:

Well, too late, I already worked on it.

So I've made a few simple changes to separate the config from the code
and adapt the presentation. I think we should consider merging it anyway.

I'm not allowed to push to community-middleman (where I made the patch
to ensure it still work). could one of you allow me to push a branch to
made a PR?

The

[2016-06-22 04:05] duck-rh commented on #232
Quack,

On 06/22/2016 02:11 AM, Marc Dequènes (Duck) wrote:

This is still relevant, so as to have a unique version of the code.

done in PR #312

\_o<

[2016-06-22 15:30] garrett commented on #61
This already exists @ http://beta-ovirtweb.rhcloud.com/community/get-involved/report-a-bug/

[2016-06-22 16:01] garrett commented on #61
The pull request is pending, but it needs some assistance to correct some of the Bugzilla queries. I don't know what they're supposed to do exactly, and both the old and modified links for a few of them just don't work. I've commented on the ones that are broken.

[2016-06-23 13:06] duck-rh commented on #152
I think I like option 2. having two pages on almost the same kind of information is not fine and noone would thin to update them both and one or both would be partially obsolete fast.
But if we intend to talk about the community and general goal of the project in the about page and the software/solution presentation in /documentation/introduction/about-ovirt/, which is probably better, then option

[2016-06-23 13:26] garrett commented on #152
I just sent a PR that addresses the footer links being broken and points them to the location of the ported-from-mediawiki pages. It's option 3 for now.

A good second step is to create a standalone about page which talks about oVirt _and_ the oVirt community. (Option 1, with a link change to that new about page.)

But this PR fixes the link to the about page (and privacy policy and legal disclaim

[2016-06-23 14:20] garrett opened #324 "Create new About page"
While the link in the footer now points to the ported-over-from-wiki about page, it's in the documentation area and talks about oVirt itself.

A more proper about page should talk about oVirt on a high-level view _and_ the oVirt community.

(This is a continuation of issue #152, but with a different scope.)

[2016-06-23 14:21] garrett commented on #152
Created new issue for about page content; closing this issue as the link is fixed.

[2016-06-23 14:21] #152 closed

[2016-06-23 15:14] sandrobonazzola opened #328 "http://www.ovirt.org/events/ points to RDO events instead of oVirt events"
For some reason http://www.ovirt.org/events/ points to RDO events instead of oVirt events and seems to not be aware for example of the oVirt Boston meetup we had 3 days ago or of the oVirt session at Red Hat Summit in 4 days.

[2016-06-27 13:03] didib opened #338 "broken link in 4.0.0 release notes"
In [1], there is a link with text "Migration Guide", linking at a non-existent page [2]. The source at that point is:

[code]

which looks ok to me, no idea why it's changed during site building (or otherwise broken).

[1] http://www.ovirt.org/release/4.0.0/
[2] http://www.ovirt.org/release/4.0.0/documentation/migration-engine-3.6-to-4.0/

[2016-06-28 14:18] jekader opened #340 "update QuickStart guide for 4.0"
Currently, lots of places in the QuickStart guide have outdated versions of CentOS/Fedora as well as old oVirt releases present:
https://github.com/oVirt/ovirt-site/blob/master/source/documentation/quickstart/quickstart-guide.html.md

This should be updated. I can help with this, but first we need to agree on the supported list of platforms and oVirt versions since that changed a lot in 4.0. Shoul

[2016-07-03 12:11] mureinik opened #344 "Warning about multiple sources when running bundle install"
Running `bundle install` issues a warning about multiple sources:

[code]

The site eventually launches, so I guess it's not critical, but it's probably worth cleaning up.

[2016-07-04 02:29] duck-rh commented on #344
It's not critical even if it would be better to use blocks to be sure we have the version we expect.
As long as you trust a repository, then this repository could publish alternatives for gems already in the others, so the security problem is in the repository choice and not in the Gemfile. An author could decide legitimately to publish at multiple locations. If one is compromised, limiting in blo

[2016-07-04 04:48] mureinik commented on #344
@duck-rh makes sense. Should this issue be dismissed then?

[2016-07-15 11:06] thatdocslady commented on #4
@garrett for the sake of clarity, can you please close this issue and open a different issue that focuses on the general search functionality?

[2016-07-15 11:07] thatdocslady commented on #3
@mscherer @garrett can we separate the broken link issue from the privacy policy issue? if the link is fixed, let's close this issue and open another one if further discussion about privacy policy is required

[2016-07-15 11:08] thatdocslady commented on #20
looks like @garrett 's patch fixed the issue, closing

[2016-07-15 11:08] #20 closed

[2016-07-15 11:11] thatdocslady commented on #3
It looks like @mscherer opened another issue for the privacy policy: https://github.com/oVirt/ovirt-site/issues/55

@garrett can you please help fixing the broken link and then close this issue? thanks!

[2016-07-15 11:12] thatdocslady commented on #37
@garrett is there an automated/semi-automated way to apply fixes to code blocks? maybe some search-and-replace?

[2016-07-19 05:29] #61 closed

[2016-07-19 09:28] sandrobonazzola opened #366 "broken links to migration guide"
http://www.ovirt.org/documentation/migration-engine-3.6-to-4.0/ link get broken when seen on website from 4.0.0 and 4.0.1 release notes.

[2016-07-19 16:08] bproffitt commented on #366
@garrett I went in to the release notes to fix the links, and the actual code goes to the right link, but renders to the wrong place. What gives?

[2016-07-20 13:54] ghost opened #370 "ovirt-guest-agent install guide Debian - service ovirt-guest-agent enable"
according to your guide

https://www.ovirt.org/documentation/how-to/guest-agent/install-the-guest-agent-in-debian/

after agent install, i must enable and start it with:

`service ovirt-guest-agent enable &&  service ovirt-guest-agent start`

but if i try on debian7/8 i have only:

[code]

[2016-07-21 06:33] duck-rh commented on #370
Since Debian 8, systemd is the default, so commands should be updated appropriately.

[2016-07-29 15:45] sandrobonazzola opened #385 "release management page needs redesign"
having more than 400 pages listed under http://www.ovirt.org/develop/release-management/ without grouping by features, releases, processes and proposals is not really useful.

It would be better to group them at least by subdirectory.

[2016-07-29 15:46] sandrobonazzola commented on #147
@mykaul are we ok on moving to  /source/develop/features/ ? If we have agreement this should be a *simple* fix

[2016-07-29 16:59] mureinik commented on #147
:+1:

[2016-08-02 11:49] drtwisted opened #387 "Documentation home page has duplicate embedded videos"
Home documentation page http://www.ovirt.org/documentation/ contains two embedded videos: "Installing oVirt on a single machine" and "Creating and migrating VMs". Second video is the same as the first one, though. The correct link should lead to this video (https://www.youtube.com/watch?v=C4gayV6dYK4), I guess.

[2016-08-02 14:26] bproffitt commented on #387
Fixed with PR #388 . Thanks, @drtwisted !

[2016-08-02 14:26] #387 closed

[2016-08-10 08:16] mwperina opened #398 "Provide a way how to include generated HTML into oVirt site"
We should host oVirt API description on ovirt.org site, but those description are usually generated directly from source code into HTML. In order to support that we need to have some directory (for example /api) which will allow us to upload generated HTML content into (without doing markdown compilation). At the moment I see following docs which should be included like that:

  oVirt Engine Exten

[2016-08-10 08:29] sandrobonazzola commented on #398
@mwperina  IIRC all the html is generated from asciidoc sources right?

[2016-08-10 08:29] sandrobonazzola commented on #398
@garrett any suggestion?

[2016-08-10 08:34] mwperina commented on #398
@sandrobonazzola No, JavaDoc is generated directly from Java sources using javadoc tool, PythonSDK will most probably use pdoc tool which generates HTML from Python sources and comments using asciidoc formatting, Ansible Module is using Ansible tool to generate doc from Python source. So generally we should just include generate code as is and display it directly (no inclusion into oVirt site styl

[2016-08-10 08:49] #89 closed

[2016-08-10 09:25] garrett commented on #398
Do you have URLs to any examples of the current input and ouput?

[2016-08-10 10:18] mwperina commented on #398
For example JavaDoc for ovirt-engine-extensions-api is generated from java sources at:

https://github.com/oVirt/ovirt-engine/tree/master/backend/manager/modules/extensions-api-root/extensions-api/src/main/java/org/ovirt/engine/api/extensions

The HTML output is contained in

http://resources.ovirt.org/pub/ovirt-4.0/rpm/el7/noarch/ovirt-engine-extensions-api-impl-javadoc-4.0.1.1-1.el7.centos.noarc

[2016-08-10 12:01] garrett commented on #398
So wait — are there two _different_ API sources, tools, and outputs?

[2016-08-10 12:08] mwperina commented on #398
Exactly, pretty much every language uses different tools/sources to generate API doc, so that's why we need to be able to push generated HTML content without any preprocessing into some predefined URL, so we can refers to it from markdown generated site.

Taking two examples above I'd like to publish following:

/api/ovirt-engine-extensions-api-1.0
  - contains files from the RPM under /usr/share/

[2016-08-10 15:14] garrett commented on #398
I've looked into this for a bit today, but I don't see a clear path to do integrate the API documentation into the website like you request.

(Perhaps I just don't know JavaDoc or pdoc or whatever well enough.)

I'm sure it's possible — this is just software, after all. But, the question is if it makes sense from a tool + effort + time point of view.

## How would integration work?

It seems integ

[2016-08-10 17:54] mwperina commented on #398
Garret, you have misunderstood me, I don't want api doc tooling intergration into current markdown generation flow, I just want to be able to include existing static HTML content into ovirt site and expose it under www.ovirt.org/static for example. Here's the flow I'm thinking about:

1. Generate JavaDoc for engine extension API (this is response of API project maintainer)
      - this will create

[2016-08-11 05:41] didib commented on #398
Not sure what's the best approach - I agree with @mwperina that a single site makes more sense to users, but not sure it's worth the effort, if it's significant. I'd also like to mention #77 - while current talks about html, which is probably more suitable to git archiving (not sure about that in reality - this depends on how it's generated - if versions are so different that git can't compress mu

[2016-08-11 08:03] garrett commented on #398
Everything I wrote above still applies, minus the toolchains.

But then, trying to import HTML means you have to do the following:

- Parse the HTML (as I'm sure it has parts that you don't want in-page — at least the `<html>` and `<head>` tags, and you'd still want to have others, like the `<title>`)
- Change the pages to a format that Middleman supports as an input type (as it writes HTML _out_)

[2016-08-11 08:11] mwperina commented on #398
OK, thanks. Closing this issue as it's obvious that our current system is completely unusable for hosting generated HTML pages.

[2016-08-11 08:27] mwperina commented on #398
Garret, I didn't want to be rude, I'm just completely disappointed that such simple thing as including existing HTML content under some static URL is not possible with our new site. We don't need change the look of generated docs, we don't need to search through it and we don't want to adapt it at all. The only thing for API docs we want is to published as is under ovirt.org. And when a user (in t

[2016-08-11 08:39] garrett commented on #398
Sorry, but you _are_ actually being rude. (You don't even make the basic effort to spell my name correctly. Repeatedly.)

You might want to publish them at a URL such as `api.ovirt.org`. @mscherer or @duck-rh might be able to help set that up. The website itself is not the place for random static HTML being tossed in. It would make it a bad experience, as stated above.

[2016-08-11 08:47] mwperina commented on #398
Garrett, I'm really very sorry for misspelling you name, shame on me I've noticed before :-(

[2016-08-11 10:30] garrett commented on #398
@mwperina: Thanks for the apology!

I'm sorry it isn't as simple to integrate the API docs into the site as hoped for. It's certainly possible, but to do it correctly would require a good deal of work, and it would require constant gardening to make sure the docs are integrated correctly. It's just simpler to have it on a different site (which can just include a subdomain), as API docs are a speci

[2016-08-11 12:57] didib commented on #398
For this specific thing, another idea, following a discussion with Barak Korren: Build the api doc in build-artifacts.sh and have it served right off jenkins' build-artifacts.

[2016-08-11 13:06] mscherer commented on #398
I also think a separate vhost is easier, and if possible, not one hosted on openshift v2.

[2016-08-11 13:21] mwperina commented on #398
@didib Generation of javadoc is not an issue, we already do that automatically, because we release special RPM with javadoc documentation for each API. We will do the same also for Python SDK and most probably also Ruby SDK.

@mscherer Could you please estimate what is needed to have separate vhost to server static content? At the moment we would use it for API doc, but it could also be used to pr

[2016-08-11 13:53] didib commented on #398
I suggested jenkins as the host to serve this, not as a solution to how/when to generate.

The problem in adding another system (vhost or other) is management - creating a system to manage users, permissions, access, etc.

[2016-08-11 14:02] mwperina commented on #398
Well, I see several issues with that, but I may wrong:

1. We need API doc to be extracted, so not providing archive with API doc inside, but accessing extracted content using regular HTTP -> is it possible

2. We need this to be available for long time, for example ovirt-engine-extension-api haven't changed since its introduction almost 2 years ago. Can we assure such artifacts are not deleted fr

[2016-08-11 20:36] didib commented on #398
On Thu, Aug 11, 2016 at 5:02 PM, Martin Perina <notifications@github.com> wrote:

Can't see why not.

Per build, there is a link "Keep this build forever" which you can
press. Should survive for quite a long time. Recently we moved to a
new jenkins server, and didn't migrate old jobs (so they are still
available but under a different url - would have broken the site if
used like that), but this sh

[2016-08-12 14:44] sandrobonazzola commented on #338
@garrett can you have a look?

[2016-08-12 14:58] sandrobonazzola commented on #62
closing since about/contact doesn't exist anymore and social contacts are now in http://www.ovirt.org/community/

[2016-08-12 14:58] #62 closed

[2016-08-12 15:12] sandrobonazzola commented on #42
@garret progress on this?

[2016-08-15 03:00] duck-rh commented on #398
I'm in favor of a separate vhost too. api.ovirt.org like Garrett said seems really nice.

We may have to create builders for each tool or at least language involved, which could then rsync the build.

Having multiple version is a matter of switching the destination directory between two major releases, which needs to be added in the build configuration and release steps. As @didib said we could ma

[2016-08-15 15:33] garrett commented on #42
@sandrobonazzola: I don't know. I wasn't the one working on it. That's why I marked it "help wanted" and gave pointers to people who were supposed to pick it up. :wink:

[2016-08-16 07:19] rollandf commented on #37
PR #408 will fix item 83

[2016-08-16 12:40] tigert commented on #115
We need to draft the content for this first, so it can be linked to, adding the link is very easy.

This actually relates to the whole "getting involved in the oVirt community" message so maybe it should be somehow tied together with that? While we may hire some contributors to let them focus on oVirt full-time, it really involves a lot of the same things every contributor learns when he/she gets

[2016-08-16 14:24] bproffitt commented on #115
Dan: Were we going to add jobs just from Red Hat? Or anyone else? How will they be maintained?

[2016-08-17 10:32] garrett commented on #338
Remove the dots from the filename. IIRC, it confuses Middleman, as it expects file extensions.

(Not sure if there's a workaround or other solution, but this would certainly fix it.)

[2016-08-17 10:52] garrett commented on #37
@thatdocslady: Yes, I did what I could a while back. The conversions didn't do it 100% (especially as a lot of oVirt's code blocks were a bit odd or complex), so it needs manual intervention — hence this issue to track changes.

[2016-08-20 20:27] sandrobonazzola commented on #398
So, can we reach an agreement on what to do and on who's doing it?
Looks like we need:
- a new vm or a vhost
- one or more jenkins jobs for building the docs and publish them
- someone to implement and maintain above infra

[2016-08-22 02:59] duck-rh commented on #398
I'm not a Jenkins expert, just used it a bit in the past, but maybe I can help.
Having the exact build recipe would help. I recall many such tools have settings to show/hide private API, have optional details in the doc and so on, so better use the same settings as for the RPM.

So first, do we agree on api.,ovirt.org on a new PHX vhost?

[2016-08-23 12:58] mscherer commented on #267
I guess this issue can be closed, since #268 is closed.

[2016-08-23 12:58] #267 closed

[2016-08-23 19:30] jniederm opened #422 "Links 'Editing this wiki' and 'Organising pages in the wiki' don't work"
### Description of the problem

Links at http://www.ovirt.org/documentation/, section Community documentation point at 'help:Editing' resp. 'help:Wiki_structure'.

[2016-08-23 19:36] jniederm opened #423 "'active_support' dependency missing"
### Description of the problem
`./run-server.sh` executes `fetch-dashboard.rb` that requires `active_support`. However this gem is never installed. This causes following warning during each server start:

[code]

[2016-08-26 19:59] er2 opened #428 "Dead links to jenkins on Node page"
Almost all the links at the bottom of this page are dead: [https://www.ovirt.org/node/#releases](https://www.ovirt.org/node/#releases)

[2016-08-29 11:33] rollandf opened #431 "Missing screenshots in "Debug Obfuscated UI""
Missing screenshots in :
http://www.ovirt.org/uncategorized/engine-debug-obfuscated-ui/

See :
http://old.ovirt.org/OVirt_Engine_Debug_Obfuscated_UI

[2016-08-31 07:45] rollandf opened #443 "Python-sdk page has wrong images"
Look at:
http://www.ovirt.org/develop/release-management/features/infra/python-sdk/
There are unrelated images and messed up text.

old wiki:
http://old.ovirt.org/Python-sdk

[2016-09-01 11:05] garrett commented on #398
I'm still on vacation, but found this great open source solution that would probably work perfectly well for what you'd want on api.ovirt.org:

https://devdocs.io/

The GitHub repo is @ https://github.com/Thibaut/devdocs

The FeedHenry team within Red Hat seems to have forked it to customize it to their needs @ https://github.com/rsmeral/devdocs and have a demo server @ http://devdocs-poc.herokuap

[2016-09-03 08:00] mureinik commented on #431
PR #439 solves this issue, not quite sure why GitHub didn't close it automatically.

[2016-09-03 08:00] #431 closed

[2016-09-03 08:01] mureinik commented on #443
PR #445 fixes this page, not sure why the issue is still open.

[2016-09-03 08:01] #443 closed

[2016-09-03 08:04] mureinik commented on #37
@rollandf's PR 445 fixes item 212

[2016-09-03 08:17] mureinik commented on #423
@duck-rh can't this issue be closed now?

[2016-09-04 14:58] mureinik commented on #428
@fabiand @irosenzw  Doesn't PR #430 fix this issue?

[2016-09-05 04:11] duck-rh commented on #423
I probably forgot the close message or did not format it well, but this was solved by PR #424

[2016-09-05 04:11] #423 closed

[2016-09-05 07:47] mureinik commented on #423
Thanks @duck-rh

[2016-09-05 08:09] fabiand commented on #428
Yes, the jobs got renamed, but with PR #430 this is fixed (I just verified).

[2016-09-05 08:09] #428 closed

[2016-09-15 12:44] sandrobonazzola opened #464 "http://www.ovirt.org/community/get-involved/report-a-bug/ has wrong instruction"
### Description of the problem
### Steps to reproduce
1. Go to http://www.ovirt.org/community/get-involved/report-a-bug/
2. Try to open a bug following instructions
3. You end up trying to open a bug on Community instead of on oVirt classification

[2016-09-19 12:32] rollandf commented on #147
There are not much there:
source/feature/
├── container-support.html.md
├── feature-template.html.md
├── gluster-arbiter-volume.html.md
├── inclusterupgrade.html.md
├── networkfilter.html.md
├── openvswitch
│   ├── linux_legacy_networking_model.svg
│   ├── native-openvswitch.html.md
│   ├── ovs_networking_model.svg
│   └── solution_diagram.svg
└── remove-dc-entity-network.html.md

It should be mov

[2016-09-19 14:32] rollandf opened #475 "None of the "Talk:" links in feature pages are working"
In many feature pages there is a "Talk:<some topic>" link that leads to nowhere.

For example:
http://www.ovirt.org/develop/release-management/features/engine/get-route/

These links needs to be removed unless there is an equivalent possibility in the new wiki.

[2016-09-21 07:56] rollandf commented on #475
This issue can be closed.

[2016-09-21 07:56] #475 closed

[2016-09-27 11:53] garrett commented on #422
Yep. This is a known side effect from data being ported from the wiki, and it is still waiting for people to step up and fix the documentation.

I could have removed them all, but it could possibly break the text — and some pages, like this one, need to be re-edited to make sense, rather than just deleting (old, broken) links.

The proper way to edit a page from the website is to scroll down and c

[2016-09-27 11:55] garrett commented on #422
Here are the places where "help:" links still exist:

[code]

Thankfully, at this time, it's not really a lot. It's mainly the one documentation page that's left.

[2016-09-30 12:04] tigert commented on #464
(These are easy to do btw: Just go to the page in question, click on the "Edit this page on github" link on the bottom, and fix the issue. You have a preview tab to verify your Markdown is correct. Once happy, click save and it leads you through making a pull request.

[2016-10-03 12:21] SayBeano opened #504 "http://www.ovirt.org/blog/2016/08/up-and-running-with-ovirt-4-0-and-gluster-storage/"
### Description of the problem

Link for Jason's gdeploy is broken
### Steps to reproduce
1. run `yum install -y https://copr-be.cloud.fedoraproject.org/results/jasonbrooks/gdeploy/epel-7-x86_64/00442697-gdeploy/gdeploy-2.0-0.noarch.rpm`
2. install fails
### Help needed from (use @mention to request assistance)

[2016-10-03 15:49] SayBeano commented on #504
Correct link

https://copr-be.cloud.fedoraproject.org/results/jasonbrooks/gdeploy/epel-7-x86_64/00442607-gdeploy/gdeploy-2.0-0.noarch.rpm

[2016-10-10 06:36] sandrobonazzola opened #518 "Broken links due to wrong URL rewriting"
### Description of the problem

http://www.ovirt.org/develop/infra/testing/test-cases/ is rewritten as http://www.ovirt.org/develop/release-management/features/os-support/fedora-24-support/develop/infra/testing/test-cases/

It shouldn't.

### Steps to reproduce

1.Go to http://www.ovirt.org/develop/release-management/features/os-support/fedora-24-support/

2.Try to follow "Test Case" link in Testi

[2016-10-11 05:43] mureinik commented on #464
@sandrobonazzola Now that PR #499 is merged (thanks @tigert btw!), can this issue be closed?

[2016-10-11 05:54] mureinik opened #520 "Features main page seems broken"
### Description of the problem

The "Features" main page (http://ovirt.org/develop/release-management/features/) seems broken. It has links that start at 3.1 and go up to "proposed 3.6 features" (no 4.0 or 4.1 content), and clicking through on those links brings up empty pages.

By inspecting the source of `source/develop/release-management/features/index.html.md` it seems like a remnant from the

[2016-10-13 11:25] sandrobonazzola opened #524 "http://www.ovirt.org/documentation/admin-guide/virt/supporting-chrome/ needs to be updated"
### Description of the problem
http://www.ovirt.org/documentation/admin-guide/virt/supporting-chrome/

points to abandoned patches in gerrit and needs a refresh to reflect current status of the feature.

### Help needed from @michalskrivanek

[2016-10-15 09:04] sandrobonazzola commented on #524
Page removed with PR#525

[2016-10-15 09:04] #524 closed

[2016-10-16 12:03] sandrobonazzola commented on #520
In the old website features were classified by target release. http://ovirt.org/develop/release-management/features/ was imported from the future category page which linked all the release classes.
We need to decide how to classify the features in the new website.

[2016-10-16 12:06] sandrobonazzola commented on #232
Despite PR #312 http://www.ovirt.org/stats/ is still 404 not found

[2016-10-16 12:07] sandrobonazzola commented on #124
old.ovirt.org is offline, I think we can close this issue.

[2016-10-16 12:07] #124 closed

[2016-10-16 12:11] sandrobonazzola commented on #3
@mscherer @garrett @thatdocslady Looks like privacy policy link has been fixed. Closing for now.

[2016-10-16 12:11] #3 closed

[2016-10-16 12:51] mureinik commented on #520
Let's start a thread on the mailing list?

[2016-10-17 03:52] duck-rh commented on #232
That's a different issue: before the data were not updated and the stats file not created, now the stats page is created without extension (build/stats). The content of the file seems ok, just the naming is wrong.

we have this config:
  proxy 'stats', '/dashboard.html'

the 'build/dashboard/index.html' file is well created.

the other proxy commands define the extension is wanted, to I guess the

[2016-10-17 04:14] #232 closed

[2016-10-17 14:14] mbghsource opened #533 "documentation for hyper-converged ovirt+glusterfs cluster turndown"
While there is documentation to show how to turn up ovirt + glusterfs hyperconverged, with self-hosted engine, I couldn't find a shutdown sequence, so that the cluster can be turned up again without any data corruption/loss.

[2016-10-20 21:02] sandrobonazzola commented on #338
pr #540 should solve this.

[2016-10-20 21:02] #338 closed

[2016-10-21 06:42] sandrobonazzola commented on #518
@garrett  any hint on hoow to solve?

[2016-10-21 06:44] sandrobonazzola commented on #366
I thought to have fixed this with PR #540 but looks like it wasn't enough. On local instance the patch was working fine.

[2016-10-21 06:45] sandrobonazzola commented on #366
@garrett any other hint?

[2016-10-21 06:47] sandrobonazzola commented on #147
@mureinik @mykaul @bproffitt So, let's gather agreement, ok to move to source/develop/release-management/features/ ?

[2016-10-21 11:03] sandrobonazzola commented on #366
@garrett never mind, fixed using relative URLs.

[2016-10-21 11:03] #366 closed

[2016-10-21 14:59] sandrobonazzola opened #544 "obsolete page: http://www.ovirt.org/documentation/documentation/"
### Description of the problem

http://www.ovirt.org/documentation/documentation/ is obsolete and need some love.

[2016-10-24 12:03] garrett commented on #518
Sorry — I was on vacation for a week and then got sick the week following. (I'm actually still pretty sick, but a good deal better and trying to work through the illness today.)

Why are you using `http://www.ovirt.org` in that link? I bet that's the problem. Remove that, and it will probably work as intended. You should *never* refer to a page with an absolute link that references the resource an

[2016-10-24 12:04] garrett commented on #518
I've submitted a simple patch that removes `http://www.ovirt.org` from the link, and have verified that it works locally.

[2016-10-24 14:25] #518 closed

[2016-10-25 18:21] bproffitt commented on #544
Currently I am working with Content Services to get new oVirt-branded
versions of documentation. Now that I am done traveling, I can get a better
update on time soon.

On Fri, Oct 21, 2016 at 12:59 PM, Sandro Bonazzola <notifications@github.com

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2016-10-25 18:54] bproffitt commented on #147
I don't understand Fred's reasoning. Why would we move the features pages
so deep into the filesystem tree? I liked the original
/source/develop/features/ suggestion.

BKP

On Fri, Oct 21, 2016 at 4:47 AM, Sandro Bonazzola <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2016-10-26 06:46] rollandf commented on #147
The location I suggested is the current location of all the features, while only a few are in source/feature.
I have no problem with /source/develop/features/.
I guess in both cases some work on redirection needs to be done.

[2016-10-26 07:24] mykaul commented on #147
As long as it's a single location, I don't mind that much where. I don't see the value in a deep tree, but perhaps there was some kind of a reason for it (was it done during the conversion from the old site? @thatdocslady perhaps knows?)

[2016-11-06 06:06] mykaul opened #578 "Broken link @ https://www.ovirt.org/documentation/how-to/hosted-engine/"
### Description of the problem
Trying to go to https://www.ovirt.org/documentation/how-to/hosted-engine/develop/release-management/features/heapplianceflow/ leads to not found.

[2016-11-12 08:01] mbghsource opened #589 "Create an automated tool to identify broken links in documentation"
### Description of the problem
There are quite a few broken links in ovirt documentation pages.
Perhaps this is due to transitioning from one wiki system to another.
Whatever the reasons, it caused me a bit of frustration. Many others are likely to be affected by this, risking bad reputation for oVirt.

An automated process,
- that identifies broken links and marks them prominently on the page as

[2016-11-12 14:18] mureinik commented on #589
@maorlipchuk and @danielerez started work on such a tool back in the day, although I'm not sure about its current status:
https://github.com/maorlipchuk/Wiki-Link-Validator

Maor, Daniel - can you show @mbghsource the ropes?

[2016-11-12 16:53] mureinik commented on #578
As noted above, @bproffitt's PR fixed this issue. Closing.

[2016-11-12 16:53] #578 closed

[2016-11-12 16:56] mureinik commented on #344
Dismissing the issue as per @duck-rh's comment.

[2016-11-12 16:56] #344 closed

[2016-11-13 04:49] mbghsource commented on #589
@mureinik - Thank you for responding promptly.

After noticing that better minds have already worked on this issue, I did what I could've done before filing this issue. Search for tools ;-)

I found a few chrome extensions, that highlighted bad links prominently, and help avoid the pain of discovering them manually.

Here is a screen recording from trying one such tool (LinkMiner).
https://drive.g

[2016-11-13 13:56] mbghsource opened #592 "Editing documentation using github, should show the page as it would be rendered"
### Description of the problem
Preview after editing a documentation page doesn't show how it would actually look on the website.
This makes it difficult to make useful contribution to documentation.

### Steps to reproduce

1. Using chrome browser visit https://www.ovirt.org/community/get-involved/wiki-rules-and-etiquette/

2.  Observe the last section at the bottom of the page titled "Using Spec

[2016-11-13 18:29] mbghsource commented on #592
Perhaps fixing the broken link - "Editing this wiki"  on http://www.ovirt.org/documentation/ with instructions might help guide people like me.

[2016-11-13 22:15] mbghsource opened #593 "Green tab bar fills most of the page when using browser zoom (ctrl++)"
### Description of the problem
I tend to increase browser zoom to make it easier to read content on webpages. When I do that on ovirt.org the green tab bar on the top of the page fills up and occupies most of the browser window,
with almost no room for content.

It might be helpful to provide an option to increase font size on the page.

[2016-11-21 14:52] garrett commented on #592
That's outdated information (from when the content was in MediaWiki) and should be removed.

(This is related to issue #42.)

[2016-11-21 14:55] garrett opened #604 "rewrite MediaWiki links in document source"
### Description of the problem

The website is still using MediaWiki links. Currently, these are being rewritten on the fly.

Downsides to current approach:

1. The MW-based links are fragile, as they're reliant on custom code.
2. Build time is increased while rewriting links.
3. It's possible that some links that should not be rewritten may be rewritten on accident.
4. You don't know what the lin

[2016-11-22 10:44] #604 closed

[2016-12-06 11:50] mykaul commented on #593
@mbghsource it looks reasonable on my screen until I go above 150%. How much of a zoom are using?

[2016-12-06 14:48] mbghsource commented on #593
I have uploaded some screenshots using chrome 54.0.2840.99 on Windows 10 on
a Thinkpad Yoga at 1920x1080 resolution, no windows magnification.
There are two sets, one in windows 10 side-by-side tiled mode at 90% and
100% browser zoom, and another set in wide mode at 100% and 125% browser
zoom.
The wide mode is just wide enough so that at 100% browser zoom, the green
bar doesn't become too big.

He

[2016-12-12 21:16] bproffitt opened #651 "Relative links to same-directory files not working as expected"
### Description of the problem

I am trying to bootstrap the oVirt 4.0 documentation and keep the book/chapter/topic file structure. But links in a file like /documentation/bootstrap/md-Data_Warehouse_Guide/en-US/Data_Warehouse_Guide/ try to go "down" to a subdirectory when clicked. I would like for the link to stay in the same directory. Do I need to format the md relative link differently?

###

[2016-12-12 21:30] bproffitt commented on #651
Wait, never mind. Solved it. Putting "../" at the beginning of each link fixes it.

[2016-12-12 21:30] #651 closed

[2016-12-17 18:29] mureinik opened #661 "Can't run bundle since upgrading to Fedora 25"
### Description of the problem

Since upgrading to Fedora 25, I can't run middleman like I used to in order to preview the site locally:

[code]

(running `bundle install` does not help)

### Help needed from @garrett

[2016-12-19 13:37] bproffitt commented on #661
@garrett is on PTO, so no luck there. Did you try deleting your
gemfile.lock file? Sometimes doing that and then re-running the ./setup.sh
script will recalibrate the needed gems after a Fedora upgrade for me.

On Sat, Dec 17, 2016 at 1:29 PM, Allon Murienik <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2016-12-19 22:14] mureinik commented on #661
@bproffitt thanks for the tip, but no dice. I remove `Gemfile.lock`, and well as `~/.gem` and `~/.bundle` for good measures, rerun `bundle install` and still got the same error.

[2016-12-20 13:58] bproffitt commented on #661
Did you try running the ./setup.sh script? It includes bundle install and
other steps, I believe.

BKP

On Mon, Dec 19, 2016 at 5:14 PM, Allon Murienik <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2016-12-20 14:43] duck-rh commented on #661
If you're using a non-root user, which you should, then bundle install should put gens in vendor/bundle. I tested the setup.rb works on f25 and 'bundle exec middleman' is fine too.
If you happen to work as root, then bundle will install gems in the system directories and middleman will be installed in /usr/local/bin/middleman. In this case I can reproduce the same error.
So I guess this is your si

[2016-12-20 17:58] mureinik commented on #661
@duck-rh thanks. I can't seem to figure out where I have a rogue middleman installed, but using `bundle install --deployment` allows me to work on the site in the meanwhile.
Can you please take a look at PR #664 to allow others to do this too without having it spam up their `git status`?

[2016-12-21 03:14] duck-rh commented on #661
To me, this is a local configuration problem.

We could add the option to the setup script to ensure people don't stumble on it again.

[2016-12-21 08:06] mureinik commented on #661
@duck-rh agreed

[2016-12-28 17:30] ekohl commented on #203
At least a link header would help. I think ```<link type="application/atom+xml" rel="alternate" href="https://www.ovirt.org/blog/feed.xml">``` would work.

[2016-12-28 17:34] ekohl commented on #159
This is still incorrect. See https://www.ssllabs.com/ssltest/analyze.html?d=www.ovirt.org

[2017-01-03 10:24] garrett commented on #661
Hi! I'm back.

During the Fedora 25 alpha cycle, I upgraded my work machine to F25a to ensure sites using Middleman, including the oVirt website, would work with F25, as previous releases have changed things (such as Ruby versions) that caused minor issues. In F25, nothing drastic changed in the platform that would cause things to break, and as such, the oVirt website has been confirmed working fo

[2017-01-03 10:24] garrett commented on #661
@mureinik: Is everything working for you now?

[2017-01-04 01:42] duck-rh commented on #661
@garrett maybe we should consider adding the --deployment option in the script. Maybe also we should document to do things as non-root.

[2017-01-04 02:04] duck-rh commented on #203
@garrett I think you should have a look at this. I guess MM has a feature to add it.

[2017-01-04 08:59] duck-rh commented on #159
Interestingly chromium 55.0.2883.75-2 does not complain.

I have re-setup the certificate and used a chain to include the intermediate certs and it works well now.

[2017-01-04 08:59] #159 closed

[2017-01-04 16:09] ekohl commented on #159
@duck-rh browsers have an intermediate cache, so if you visited another site that uses the same intermediate then they will happily use that. It's no guarantee though.

Thanks for fixing this, I've added the blog to https://planet-ovirt.ekohl.nl/ (which could use some more content)

[2017-01-10 11:19] #464 closed

[2017-01-10 11:22] mykaul opened #687 "Quick start guide should not mention only 4.0"
### Description of the problem
Currently it mentions anything from 3.3 to 3.6 - need to remove all this information and add 4.0 information.

Specifically, the paragraph below needs to be changed:

The oVirt Engine must be configured to receive updates from the oVirt project's software repository, as provided by the ovirt-release package matching your OS distribution:
oVirt 3.3
oVirt 3.4.
oVirt 3.

[2017-01-10 11:24] mykaul opened #688 "Quick Start guide should be updated with supported host operating systems"
### Description of the problem
The sentence:
"Install Fedora 19 (or Red Hat Enterprise Linux 6.5 or CentOS 6.5) on a server" should be updated to indicate that Fedora 24 or RHEL 7.3 or CentOS 7.3 are the ones supported.

[2017-01-16 18:17] mykaul opened #704 "http://www.ovirt.org/documentation/Quick_Start_Guide leads to 404"
### Description of the problem
http://www.ovirt.org/documentation/ links to quick start guide - but it leads to 404.

So are all the links @ http://www.ovirt.org/documentation/install-guide/Installation_Guide/ (I suspect, tried 3 of them)

@bproffitt - related to your merge?

[2017-01-16 18:19] mykaul opened #705 "Docs - Admin guide - almost empty"
### Description of the problem
http://www.ovirt.org/documentation/admin-guide/ looks very empty.

[2017-01-16 18:20] mykaul commented on #704
So are the links @ http://www.ovirt.org/documentation/upgrade-guide/upgrade-guide

[2017-01-16 18:21] bproffitt commented on #705
That's not the right link.
http://www.ovirt.org/documentation/admin-guide/administration-guide/

But there's a completely different problem, please stand by

BKP

On Mon, Jan 16, 2017 at 1:19 PM, Yaniv Kaul <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2017-01-16 18:22] bproffitt commented on #704
They are all broken. Something went wrong when I posted them, because they
were fine on my test machine. Please stand by.

On Mon, Jan 16, 2017 at 1:20 PM, Yaniv Kaul <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2017-01-17 16:08] bproffitt commented on #704
Closed #704 per PRs #709 #710

[2017-01-17 16:08] #704 closed

[2017-01-17 16:19] bproffitt commented on #705
Okay, this one can be fixed by tagging the chapters appropriately. Now that the links have been fixed, I can get to this right away.

[2017-01-21 11:43] mureinik opened #717 "Live merge flow diagram"
### Description of the problem
[The Live Merge feature page](http://www.ovirt.org/develop/release-management/features/storage/live-merge/) states that:

We should really update that.

### Help needed from
@alhino

[2017-01-22 08:33] mureinik commented on #661
@garrett sorry, somehow the notification about this got away from me. Turns out the issue was even dumber than that. `bundle install` places the executable under `$HOME/bin/middleman`, and for some reason, I didn't have `$HOME/bin` in my `$PATH`. The upgrade to F25 may have had something to do with that, or may have been completely incidental.

Regardless, adding it back to `$PATH` does the trick,

[2017-01-22 08:33] #661 closed

[2017-01-22 09:38] mykaul opened #719 "Feature page: oVirt Scheduler API needs to be updated"
### Description of the problem
Document URL: http://wiki.ovirt.org/Features/oVirtSchedulerAPI#REST

Section Number and Name: Current Status

Describe the issue:
It is not clear if the REST api is a new 3.5 feature or the whole oVirtSchedulerAPI is a new 3.5 feature. If the only new part is rest api please split the feature page accordingly.
The feature page doesn't show a target release.
The statu

[2017-01-22 09:39] mykaul opened #720 "Feature page: Support blkio SLA features needs to be updated"
### Description of the problem
Document URL: http://www.ovirt.org/Features/blkio-support

Section Number and Name: Current status

Describe the issue:
Status: implementation while the feature is marked as not completed in  http://goo.gl/4SuYdE and Bug #1085049 is on qa
It is not clear if the status is completed or not.

Suggestions for improvement:
Please also use feature template: http://www.ovir

[2017-01-22 09:40] mykaul opened #721 "Feature page: Custom Fencing needs to be updated"
### Description of the problem
Document URL: http://www.ovirt.org/Custom_Fencing

Describe the issue: the page looks more like an administration guide addendum than a feature page.
Please ensure the page is linked from the oVirt guide and create a feature page for the changes introduced in oVirt 3.5.

Suggestions for improvement:
Please use feature template: http://www.ovirt.org/Feature_template
P

[2017-01-22 09:41] mykaul opened #722 "Feature page: PMHealthCheck needs to be updated"
### Description of the problem
Document URL: http://www.ovirt.org/Features/PMHealthCheck

Section Number and Name: Current status

Describe the issue:
Current status and target version are not listed in the page.
The page doesn't point to the detailed description which has a different URL: http://www.ovirt.org/Features/Design/DetailedPMHealthCheck
The detailed description says that the feature is

[2017-01-22 09:42] mykaul opened #723 "Feature page: DetailedHostPMProxyPreferences needs to be updated"
### Description of the problem
Document URL: http://www.ovirt.org/Features/Design/DetailedHostPMProxyPreferences

Section Number and Name: Current status

Describe the issue:
 - Target Release: 3.2
 - Status: Design
 - Last updated date: Nov 4 2012

While the feature is marked as completed for 3.5 in http://goo.gl/4SuYdE and Bug #1054778 is marked as verified.

Suggestions for improvement:
Please

[2017-01-22 16:59] sandrobonazzola opened #726 "Subprojects page needs some styling"
### Description of the problem
http://www.ovirt.org/subprojects/ is really ugly and difficult to read.
It's outdated, missing several incubation projects and reporting obsolete data.
it's formatted with tables without lines which make it really difficult for reading.

It would  be nice to get fresh information about maintainers directly from gerrit, avoiding data duplication.

[2017-01-23 02:17] duck-rh commented on #661
If you install as non-root, it would end-up as ./vendor/bundle/ruby/2.3.0/bin/middleman and bundle exec would add the path magically, so you would not have to care about manual config.

[2017-01-23 12:32] mykaul opened #728 "Update http://www.ovirt.org/develop/release-management/features/infra/python-sdk/ - to reflect it is the old (v3) API"
### Description of the problem
The page refers to the older (v3) API. The page should reflect that and direct to the newer v4 SDK documentation and examples.

[2017-01-28 06:22] sandrobonazzola opened #741 "New oVirt User Case Study needed - Florida State University"
### Description of the problem
http://www.ovirt.org/community/user-stories/users-and-providers/ is missing a user story from Florida State University, see ~~https://rcc.fsu.edu/news/rcc-adopts-ovirt-virtualizationac~~
https://rcc.fsu.edu/news/rcc-adopts-ovirt-virtualization

### Help needed from @bproffitt

[2017-01-28 11:33] mykaul opened #742 "Need to update http://www.ovirt.org/develop/developer-guide/vdsm/hook/hugepages/"
### Description of the problem
1. There's some data missing there (in what is added to libvirt.XML)
2. I'm not sure it is up-to-date / relevant.

[2017-01-29 04:09] sandrobonazzola opened #743 "Outreach / Promote page needs an update"
### Description of the problem
We need an update to https://www.ovirt.org/community/get-involved/promote/ giving community an updated page about promoting oVirt. The current page last update is around 2012.

### Help needed from @bproffitt

[2017-01-29 05:38] sandrobonazzola opened #745 "Home page is showing OpenStack events instead of oVirt events"
### Description of the problem
http://www.ovirt.org/ is showing (past) OpenStack events instead of upcomint oVirt events

### Help needed from @garrett

[2017-01-29 07:17] sandrobonazzola opened #748 "Windows Guest Tools page needs an update"
### Description of the problem
http://www.ovirt.org/develop/release-management/features/engine/windows-guest-tools/
Needs an update with the changes introduced in 4.1.

### Help needed from @didib

[2017-01-30 15:24] bproffitt commented on #741
That link is a 404.

[2017-01-30 15:39] rollandf commented on #741
here is the link:
https://rcc.fsu.edu/news/rcc-adopts-ovirt-virtualization

[2017-02-03 07:45] sandrobonazzola opened #765 "Wiki redirects are not working anymore"
### Description of the problem
Wiki redirects are not working anymore
Quoting from user mailing list: http://lists.ovirt.org/pipermail/users/2017-February/079415.html

links in release notes are broken ( https://www.ovirt.org/release/4.1.0/ )
They are going to https://www.ovirt.org/release/4.1.0/Hosted_Engine_Howto , but docs for 4.1.0 are absent.

### Help needed from @garrett

[2017-02-03 12:40] duck-rh commented on #765
The redirection config says "Hosted Engine Howto" redirects to 'howto/hosted-engine' (in 'source/redirects.yaml'). Unfortunately, this path does not exist.

In commit 67eca9e229 the path 'source/howto' was renamed to 'source/documentation/how-to', so this is the source of your problem. This was in november 2015, so it is quite disturbing it went unnoticed…

So I guess the redirects should be fixed

[2017-02-05 07:37] sandrobonazzola commented on #765
Maybe we should get rid of the wiki redirects and just fix the links to match website structure.
Is there a way to add a check in travis to fail if a change add or modify a link or modify a file path breaking linking?

[2017-02-05 19:28] duck-rh commented on #765
I wonder why it was done this way instead of rewriting from the start (as the URL most probably differed anyway). I'll give it a look after the Configuration Management Camp.

I think Garrett suggested something similar. I'm not up-to-date on the tools to do that, but I've added it to the todolist.

[2017-02-06 16:08] mmirecki commented on #77
Could we have the files on resources.ovirt.org and just have a list of link here?

[2017-02-07 12:32] sandrobonazzola opened #774 "Add "How to report a bug" to the site"
### Description of the problem
Document URL: http://www.ovirt.org/Reporting_a_bug   <--- [gs: 404]

Suggestions for improvement:
A reference to sos, ovirt-log-collector or any other diagnostic that may help getting basic info for debugging the issue should be added to the guide.

Initially opened as https://bugzilla.redhat.com/show_bug.cgi?id=1198343 , moved here since it make more sense to track

[2017-02-07 12:41] sandrobonazzola opened #775 "Add anchors to titles"
### Description of the problem
Currently titles within the pages on the website are missing anchors.
Please add them. Looks like it shouldn't be difficult:
http://blog.davydovanton.com/2016/05/14/middleman-add-title-anchors/

### Help needed from (use @mention to request assistance) @garrett @duck-rh

[2017-02-09 17:15] duck-rh commented on #775
I totally agree this would be nice to have.

As for the implementation, I did not test it yet, but I can already say the permalink generation is far too simplistic. Currently if you reorder or insert chapters, then your link would not go where you expect it to go… it should be generated in relation to the title; maybe we could patch this ourselves.

[2017-02-10 19:38] dougti opened #788 "oVirt Node ISO links broken"
Well, not broken exactly, but they all link to blank HTML pages. I see the ISOs are available in the parent directories however.

Page: http://www.ovirt.org/node/

Links:
- http://jenkins.ovirt.org/job/ovirt-node-ng_master_build-artifacts-el7-x86_64/lastSuccessfulBuild/artifact/exported-artifacts/latest-installation-iso.html
- http://jenkins.ovirt.org/job/ovirt-node-ng_master_build-artifacts-el7-x

[2017-02-11 07:04] sandrobonazzola commented on #788
@yuvalturg can you please have a look?

[2017-02-11 07:05] sandrobonazzola commented on #765
Thanks @duck-rh !

[2017-02-12 12:24] yuvalturg commented on #788
It redirects to the iso in firefox, chrome is blocking this redirect with: "Refused to execute the redirect specified via '<meta http-equiv='refresh' content='...'>'. The document is sandboxed, and the 'allow-scripts' keyword is not set."

[2017-02-13 14:43] rollandf opened #795 "Case studies links are broken"
Most of the case studies links are broken.
https://www.ovirt.org/community/user-stories/users-and-providers/

For example :
Go to :
https://www.ovirt.org/community/user-stories/users-and-providers/
Under 'Brussels Airport'
Click 'case study'

Same for other sections under this page.

[2017-02-13 20:47] #795 closed

[2017-02-13 20:48] bproffitt commented on #795
Fixed with PR #796

[2017-02-14 08:18] rollandf commented on #795
Thanks !!

[2017-02-22 00:55] happylynx opened #813 "https://ovirt.org doesn't work"
### Description of the problem
https://ovirt.org site has non-trusted certificate and it doesn't redirect to https://www.ovirt.org. It returns 400 Bad request.
Note: http://ovirt.org is redirected properly.

### Steps to reproduce

1. Open https://ovirt.org in browser

2.

3.

### Help needed from (use @mention to request assistance)
@bproffitt

[2017-02-22 17:22] bproffitt commented on #813
@mscherer @duck-rh I remember there being a reason for this. Can you elaborate?

[2017-02-23 13:49] sandrobonazzola opened #819 "RHV procedures are listed in oVirt documentation"
### Description of the problem
RHV procedures are listed in oVirt documentation.
One example is "# subscription-manager repos --enable=rhel-7-server-rhv-4-mgmt-agent-rpms" suggested in http://www.ovirt.org/documentation/self-hosted/chap-Maintenance_and_Upgrading_Resources/

We need to do a review of the documentation ensuring it's consistent with oVirt workflow.

[2017-02-23 13:50] sandrobonazzola commented on #819
cc @dyaniv

[2017-02-23 15:48] bproffitt commented on #819
@sandrobonazzola Ah, I thought I caught all of these. I must have missed some. Will review.

[2017-02-24 14:18] jniederm opened #825 "http://www.ovirt.org/documentation/admin-guide looks odd"
### Description of the problem
... there are multiple empty bullets, see http://imgur.com/a/GJhjt

### Steps to reproduce

1. open http://www.ovirt.org/documentation/admin-guide

2.

3.

### Help needed from (use @mention to request assistance)
Hi @bproffitt could you please check that out?

[2017-02-24 14:47] bproffitt commented on #825
I am aware of this issue. This breadcrumb page is a holdover from the old
wiki pages. There are two approaches to fixing this:

* Tag all admin-guide chapters so they will show up on this page.
* Fix the nav system so the breadcrumbs will pick up pages based on
directory location, not page tags.

The second option would be the best option, but I am unsure how to
accomplish this.

BKP

On Fri, Feb

[2017-02-25 10:08] mscherer commented on #813
So, before, it was because we were using openshift. ovirt.org is the apex domain, and can't be pointing to a CNAME (some RFC forbid it), and openshift requires it (to handle containers migration in a seamless way). So we have to get something to redirect somewhere, and until recently, we were using RHIT for that service (as we didn't had anything to do the hosting ourself, no VMs, no servers), but

[2017-02-27 10:17] duck-rh commented on #813
Quack,

There was a redirection for HTTP, not HTTPS. I added it so it seems to be fine. Could someone else test it and report please?

[2017-02-27 10:28] rollandf commented on #813
Works for me 👍

[2017-02-27 10:31] duck-rh commented on #813
thanks, closing then.

[2017-02-27 10:31] #813 closed

[2017-03-06 08:53] sandrobonazzola opened #833 "[URGENT] Website is not updating pages"
### Description of the problem
I updated 4.1.1 release notes last week with pull request #832 but the website still shows previous version

### Help needed from @garrett

[2017-03-06 09:04] garrett commented on #833
This appears to be a build and/or deploy issue, especially since only a markdown doc was changed. Please contact @duck-rh and/or @mscherer.

Meanwhile, I'll building this locally just to double check.

[2017-03-06 09:08] garrett commented on #833
BTW: Also, it does check out fine in CI (which does a clean build), so that's a strong sign it's a deploy issue.

Also, I checked to make sure master builds; it does. I'm working on merging the change and will build again with the PR changes. (I expect it will, as CI works, so this is most likely a bit redundant.)

[2017-03-06 10:07] mscherer commented on #833
So, it seems the VM building things is paused, for some reason.

Usually, that mean that the disk is full, or someone did on purpose.

[2017-03-06 10:12] mscherer commented on #833
I restarted the VM, let's see how it go.

[2017-03-06 11:08] mscherer commented on #833
So we have 2 Vm for that, 1 on os1 (that was shutdown), 1 on osas infra, who was paused.

I restarted the external one, since we should get out of os1.

[2017-03-06 13:23] mscherer commented on #833
So after discussing with Duck on irc, I stopped the external one, and restarted the internal one. We however still need to move them out of os1.

[2017-03-06 14:08] duck-rh commented on #833
It's not ready yet but WIP and well in sight in the todolist.

[2017-03-07 14:51] JohnMarksRH opened #837 "User story image needs resizing and caption"
### Description of the Problem
The image of Stephane Vincent in the Alter Way case study, needs resizing (it's too big) and it would be good to add a caption underneath the image that says "Stéphane Vincent, Director of Strategic Services and Innovation, alter way"

### Steps to reproduce

1. To view the issue, simply visit https://www.ovirt.org/community/user-stories/alter-way-case-study/

2.

3.

[2017-03-08 07:29] jelkosz opened #838 "Document also the bootloader settings for headless VMs"
Please mention in [1] that the grub needs to be set to boot in console mode otherwise it may hang.
This issue has originally been discussed in [2]

[1]: http://www.ovirt.org/develop/release-management/features/virt/headless-vm/
[2]: https://bugzilla.redhat.com/show_bug.cgi?id=1425076

### Help needed from @sgratch

[2017-03-08 13:28] sgratch commented on #838
Done

[2017-03-08 13:37] sandrobonazzola opened #840 "Community page still have instructions for MediaWiki"
### Description of the problem
https://www.ovirt.org/community/ still ask to login on the wiki in order to update documentation
See "Write Documentation" section

[2017-03-09 18:35] prodicus opened #845 "Missing images from the architecture page"
### Description of the problem

The page [https://www.ovirt.org/documentation/architecture/architecture/](https://www.ovirt.org/documentation/architecture/architecture/) has all the images missing from it

[2017-03-10 12:46] jelkosz opened #848 "incorrect images on architecture page"
on https://www.ovirt.org/documentation/architecture/architecture/ no image is displayed

[2017-03-10 16:00] rollandf commented on #845
Fixed

[2017-03-10 16:00] #845 closed

[2017-03-10 16:01] rollandf commented on #848
Fixed with issue #845

[2017-03-10 16:01] #848 closed

[2017-03-13 01:54] duck-rh commented on #840
I gess it should just refer to https://github.com/oVirt/ovirt-site#how-to-contribute

[2017-03-15 10:22] otheus opened #853 "Links are all FUBAR'd? e.g: Guest Agent page"
### Description of the problem

Many or all of the links on the page "/documentation/internal/guest-agent/understanding-guest-agents-and-other-tools/" are broken.  I wanted to fix this with a fork, but realized that so many are broken, it can only be considered a design error.

### Steps to reproduce

1. Go to http://www.ovirt.org/documentation/internal/guest-agent/understanding-guest-agents-and-o

[2017-03-15 14:15] #840 closed

[2017-03-15 20:59] bproffitt commented on #853
Merged #854

[2017-03-15 20:59] #853 closed

[2017-03-16 06:29] jack17529 commented on #745
@sandrobonazzola assign me this.

[2017-03-16 07:28] duck-rh commented on #745
All the events listed on https://www.ovirt.org/events/ are ovirt-tagged events in the 2017 directory of the rh-events repository. So, if there is a mistake, it should be solved there and not here.

[2017-03-16 13:47] sandrobonazzola commented on #833
@duck-rh @mscherer @garrett looks like it's working now, do you need this ticket kept open or can we close this?

[2017-03-16 13:48] sandrobonazzola commented on #788
@yuvalturg is this still an issue or can we close it now?

[2017-03-16 13:54] mscherer commented on #833
We can close, IMHO, since this is working.

[2017-03-16 14:10] yuvalturg commented on #788
it was fixed for chrome but yeasterday we saw it is not working at all with new version of firefox (recent f25 update), so we need to debug this again, lets keep it open

[2017-03-16 14:21] bproffitt commented on #745
Yeah, that calendar is my domain, let me take a look at it.

BKP

On Thu, Mar 16, 2017 at 3:28 AM, duck-rh <notifications@github.com> wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2017-03-16 14:23] #745 closed

[2017-03-17 09:46] duck-rh commented on #788
wget says: Connecting to jenkins.ovirt.org (jenkins.ovirt.org)|66.187.230.92|:443... failed: No route to host.

So I guess this is not a browser issue but a network/infra one.

[2017-03-17 09:52] duck-rh commented on #788
This is due to this -> https://ovirt-jira.atlassian.net/browse/OVIRT-1243 (HTTPS connection to ovirt.org causes HSTS pinning for subdomains)

Unfortunately Jenkins is not HTTPS aware. For security and privacy reasons it really should anyway.

[2017-03-17 10:46] jekader commented on #788
I can't reproduce the problem - the links posted above do not return empty pages for me on Chrome 58.0.3029.19

@duck-rh I don't see how this is related to HSTS as neither the website link nor Jenkins has HTTPS in the initial ticket description. For me everything works via plain HTTP.

[2017-03-19 03:26] duck-rh commented on #788
HSTS was introduced in the apex configuration with the 'includeSubDomains' parameter (this was removed recently), so your browser would then automatically switch to HTTPS for all *.ovirt.org websites.

[2017-03-22 22:55] lgh2 commented on #504
I can submit a fix for this issue.

[2017-03-23 03:02] mureinik commented on #504
@lgh2 That would be cool - please do!

[2017-03-23 10:35] JohnMarksRH opened #866 "Change 'oVirt News' to 'oVirt Blog'"
### Change 'oVirt News' to 'oVirt Blog'
### Located at ovirt.org > home & ovirt.org > blog

1.The main menu says 'Blog', but the heading on both the home page and the blog page say 'oVirt News'. Let's change it to 'oVirt Blog'. The items in this section are generally more blog-like than news-like.
I don't know where the home page or main blog page file is located.

2.

3.

### Help needed from @bp

[2017-03-23 12:15] bproffitt commented on #866
The title on the home page can be changed in this section of
/source/index.html.haml

%h2
          = data.site.name
          News

Change "News" to "Blog"

On Thu, Mar 23, 2017 at 6:35 AM, JohnMarksRH <notifications@github.com>
wrote:

--
Brian Proffitt
Principal Community Analyst
Open Source and Standards
@TheTechScribe
574.383.9BKP

[2017-03-23 18:19] bproffitt commented on #866
"= data.site.name"

That's oVirt

Don't change it.

BKP

On Thu, Mar 23, 2017 at 2:01 PM, JohnMarksRH <notifications@github.com>
wrote:

--

BRIAN PROFFITT

PRINCIPAL COMMUNITY ANALYST

Red Hat Inc. <https://www.redhat.com/>

bproffit@redhat.com    T: 574.383.9BKP
<http://redhatemailsignature-marketing.itos.redhat.com/>    M: 574.780.5695
<http://redhatemailsignature-marketing.itos.redhat.com/>
<h

[2017-03-23 21:04] bproffitt commented on #866
Fixed with #867

[2017-03-23 21:04] #866 closed

[2017-03-29 16:58] leni1 opened #879 "Broken Image Links in oVirt Quick Start Guide"
### Description of the problem
The images in the oVirt Quick Start Guide do not display when the page is loaded. Instead the alternative text for the images appears and right-clicking on the text produced a 'Not Found' error.

### Steps to reproduce

1. Open a web browser

2. Go to [www.ovirt.org](http://www.ovirt.org/)

3. Click on [**Documentation**](http://www.ovirt.org/documentation/)

4. Unde

[2017-03-30 10:34] alhino opened #884 "Broken links in release notes"
### Description of the problem
Following links are broken in the release notes:
- Hosted_Engine_Howto#Upgrade_Hosted_Engine (broken link is: https://www.ovirt.org/release/4.1.0/Hosted_Engine_Howto#Upgrade_Hosted_Engine)
- Hosted_Engine_Howto#Fresh_Install  (broken link is: https://www.ovirt.org/release/4.1.0/Hosted_Engine_Howto#Fresh_Install)

### Steps to reproduce
Click on each link

### Help ne

[2017-03-30 10:50] alhino opened #885 "Wrong link in 4.1 release notes"
### Description of the problem
Link to Self Hosted Engine Guide points to customer portal guide - https://access.redhat.com/documentation/en/red-hat-virtualization/4.0/paged/self-hosted-engine-guide/

Should point to the corresponding oVirt guide.

### Steps to reproduce
Click the link

### Help needed from (use @mention to request assistance)
@JohnMarksRH
@bproffitt
@mykaul

[2017-04-06 11:37] sandrobonazzola opened #898 "Add table of content to release notes"
### Description of the problem
In the old wiki we had a table of content on top of the release notes page to easily move between sections.
It would be nice to have it as well with the new website.

### Help needed from (use @mention to request assistance)
@garrett , @bproffitt

[2017-04-07 15:21] sandrobonazzola commented on #833
Closing as per @mscherer comment.

[2017-04-07 15:21] #833 closed

[2017-04-07 15:22] sandrobonazzola commented on #788
@duck-rh so can we close this? Is the link working now?

[2017-04-07 15:24] sandrobonazzola commented on #819
Fixed with #823

[2017-04-07 15:24] #819 closed

[2017-04-10 05:49] duck-rh commented on #788
yes

[2017-04-10 05:49] #788 closed

[2017-04-10 14:40] bproffitt commented on #898
We would need to create a static template that can be edited each time you update the release notes. There is no good way that I am aware of to do this automatically in static files.

[2017-04-12 11:06] mykaul opened #904 "./run-server.sh fails (on F25)"
### Description of the problem
./setup.sh succeeded.
Freshening oVirt dashboard data: 100% ##########################################################################################################################################################################

bundler: failed to load command: middleman (/usr/local/bin/middleman)
LoadError: libruby.so.2.2: cannot open shared object file: No such

[2017-04-12 11:24] mykaul commented on #904
@duck-rh - trying to run the middleman server fails for me. Any idea? I've tried to clone from scratch again, but who knows, perhaps my system is a bit dirty already?

[2017-04-12 15:30] duck-rh commented on #904
So, first, we use a Gemfile.lock with versions which are tested to work together, so yes indeed it is not particularly fresh because the goal is to have it stable unless we need some feature or fix.

setup.sh is doing a bundle install so it seem ok to me.

I'm using the same nokogiri version here.

I just purged _vendor/_ and reinstalled without any problem. I'm on Debian unstable so I would need

[2017-04-13 07:23] mykaul commented on #904
Cleaned my whole system from all gems, reinstalled, now it works. Closing.

[2017-04-13 07:23] #904 closed

[2017-04-13 16:55] duck-rh commented on #775
Why reopening? Any problem with the feature?

[2017-04-18 08:48] JohnMarksRH commented on #775
@sandrobonazzola @duck-rh
I have reservations about this feature, mainly from a UX perspective. I think we should check with a UI expert and get his feedback.

[2017-04-18 09:00] duck-rh commented on #775
Ok, so what are you reservations then?

As for the feature itself, it is very common on various website.

It is implemented in the less obstructive way I found. Also I'm using only jQuery which is already in use, and there is no additional dependency.

[2017-04-18 09:08] JohnMarksRH commented on #775
@duck-rh can you share some examples of product websites that use this feature?

[2017-04-18 15:22] duck-rh commented on #775
Some examples:

- all readthedocs documents, like http://treeherder.readthedocs.io/testcases.html
- official Python doc, like https://docs.python.org/3/howto/curses.html
- the trac ticketing system, like https://trac.edgewall.org/

You still did not explain your concerns; it would help address them if you did.

[2017-04-18 18:16] rollandf commented on #775
Hi @duck-rh ,
I think this feature is much needed, but may need some tuning.
In all the sites you mentioned, I noticed that:
- The anchor links are not visible until the mouse go over it
- The anchor links are positioned on the right side of the titles.

IMHO, seeing the anchor links all the time is distracting.

What do you think ?

[2017-04-19 03:21] duck-rh commented on #775
@rollandf I agree.

I had a look into the result and found out it did not match what I tested with the live server. This is due to the CSS not being loaded when the site is built (but the CSS file is found when using the live server). I'm preparing a patch for this.

Changing sides seems also better, I will prepare a patch for this too.

[2017-04-19 07:37] JohnMarksRH commented on #775
@duck-rh thanks for examples @rollandf Fred - my thoughts exactly (visibility and positioning)

[2017-04-19 09:36] duck-rh commented on #775
ok, fine. So please review the linked PRs above which should address your concerns.

[2017-04-19 17:24] rollandf commented on #775
@duck-rh Looks great !! I think we can close this issue.

[2017-04-21 07:43] duck-rh commented on #775
@JohnMarksRH are you ok with the fixes?

[2017-04-23 10:12] JohnMarksRH commented on #775
@duck-rh @rollandf LGTM Thanks

[2017-04-24 03:23] #775 closed

[2017-04-24 08:49] JohnMarksRH opened #919 "Developer Documentation Housekeeping"
Some housekeeping is required for the links under Documentation > Developer Documentation.

### What needs to be done?
Feature Roadmap oVirt 3.6, 3.5, 3.4, 3.3: The links lead to release notes, not roadmaps. Can we delete?
Install Nightly Snapshot: Move further down the list as less important?
Getting in contact with the oVirt community: Remove  (it's available elsewhere)
Other pages: Let's make s

[2017-04-24 08:58] JohnMarksRH opened #920 "Documentation > Release Notes Housekeeping"
Some housekeeping is required for the links under Documentation > Release Notes
http://www.ovirt.org/documentation/#release-notes

### What needs to be done?
- Remove links to all versions no longer relevant to users
- Add links to version 4.1.1, 4.0.0 (if relevant)

### Help needed from @mykaul @sandrobonazzola @duck-rh

[2017-04-24 09:10] mykaul commented on #920
We already have 4.0.6 there, I believe we should add latest 4.1.1.

[2017-04-24 14:51] JohnMarksRH commented on #920
@mykaul @sandrobonazzola add 4.1.1. OK. What can we delete?

[2017-04-27 09:09] JohnMarksRH opened #927 "developer documentation > Outdated roadmaps"
### Description of the problem
- The links are to old roadmaps. Can we delete them all?
http://www.ovirt.org/develop/#developer-documentation

- Is there a relevant roadmap that we can publish?

Help needed from @mykaul @sandrobonazzola

[2017-05-04 11:56] yuvalturg opened #934 "changes to ovirt.org not published"
### Description of the problem
Yesterday a pull request [1] was merged to ovirt-site, but it was not yet published for some reason.

[1] https://github.com/oVirt/ovirt-site/pull/933

### Steps to reproduce

1.  Browse to ovirt.org/node, nothing has changed :)

### Help needed from (use @mention to request assistance)
@garrett @sandrobonazzola

[2017-05-04 12:58] sandrobonazzola commented on #934
@duck-rh @JohnMarksRH maybe you can help too

[2017-05-04 13:00] sandrobonazzola commented on #927
I think old roadmaps have been already removed, can't see them.
Latest plans are available on http://www.ovirt.org/develop/release-management/releases/4.1.z/release-management/ as soon as the website will be updated with github content.

[2017-05-04 13:56] JohnMarksRH commented on #927
@sandrobonazzola @mykaul Yes removed. There was a separate PR about it
https://github.com/oVirt/ovirt-site/pull/928
Regarding 4.1.z, these are also past dates. Is it relevant to anyone?

[2017-05-04 15:49] JohnMarksRH opened #938 "Release Management page - outdated"
### Description
I would like to propose some changes to the release management page:
http://www.ovirt.org/develop/release-management/releases/

1. Remove all links to old releases, keeping just 4.1.Z
2. For simplicity, remove links to release notes. There are clear links to the release notes on the documentation page
3. Change the main link text >> [Release management](http://www.ovirt.org/develop

[2017-05-04 18:25] JohnMarksRH opened #939 "Documentation Tab Restructure Proposal"
### Description of the problem
In a bid to make the content under the [oVIrt Documentation](https://www.ovirt.org/documentation/) tab more user-friendly and easier to navigate, I propose to remove a lot of duplicated links / content and make some changes to its structure.

Proposals:
- **Developer Documentation** Remove it from this page. All this content exists under Developer tab
- **Community D

[2017-05-04 18:30] JohnMarksRH opened #940 "Community Tab Restructure Proposal"
### Description of the problem
In a bid to make the content under the [Community tab](https://www.ovirt.org/community/) more user friendly and easier to navigate, I propose to make some changes. Primarily:
- Remove all duplicated content
- Reorder content so that important stuff is higher up page

Proposed changes can be seen in this Google document:
https://docs.google.com/document/d/1hvpumnt9MJA

[2017-05-08 09:53] duck-rh commented on #934
Back from vacation. Having a look.

[2017-05-08 10:18] bproffitt commented on #934
Also, for future reference, @garrett is no longer on the OSAS team, and
will likely not be able to assist with oVirt.org tasks anymore.

BKP

On Mon, May 8, 2017 at 5:53 AM, duck-rh <notifications@github.com> wrote:

--

BRIAN PROFFITT

PRINCIPAL COMMUNITY ANALYST

Red Hat Inc. <https://www.redhat.com/>

bproffit@redhat.com    T: 574.383.9BKP
<http://redhatemailsignature-marketing.itos.redhat.com/

[2017-05-09 10:24] duck-rh commented on #934
So, the builder was shutdown again. @mscherer kindly restarted it and now all pending changes (not just this one) are published.

We're working on moving the builder in a better place, WIP.

@bproffitt was it announced on a ML devel and doc people read?

[2017-05-09 10:24] #934 closed

[2017-05-11 15:01] sandrobonazzola opened #950 "Install guide is not telling new user how to enable yum repositories for getting oVirt"
### Description of the problem

Install guide is not telling new user how to enable yum repositories for getting oVirt

### Steps to reproduce

1. Follow http://www.ovirt.org/documentation/install-guide/chap-Installing_oVirt/
2. No package providing ovirt-engine

### Help needed from (use @mention to request assistance)

[2017-05-12 07:57] sandrobonazzola opened #952 "middleman is not working on Fedora 26"
### Description of the problem

middleman is not working on Fedora 26 so it will be difficult for contributors to verify the patch before submitting

### Steps to reproduce

1. git clone ovirt-site on Fedora 26

2. run setup.sh

3. Get error:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /home/sbonazzo/.gem/ruby/gems/json-1.8.3/ext/json/ext/generator
/

[2017-05-12 08:13] sandrobonazzola opened #953 "layout:toc breaks markdown links"
### Description of the problem
http://www.ovirt.org/release/4.1.1/ introduced layout:toc usage adding a pretty nice TOC but all links within the release notes are now broken since markdown is not processed correctly.

### Help needed from @duck-rh

[2017-05-12 08:15] duck-rh commented on #952
First, @garrett is not working on oVirt anymore.

As for this error, I guess we would probably need to upgrade the gems used to work well with the newer libs in the distro, but I'm not totally sure about the consequences for older distros versions.

You could try to do a 'bundler update' and see if it goes further. If ok then checking the newly generated Gemfile.lock still works for F25 would be n

[2017-05-12 09:20] sandrobonazzola commented on #952
On Fedora 26:
 $ bundle update
 $ bundle install
worked fine. Then running run-server.sh:

== Administration is at http://0.0.0.0:4567/admin/
bundler: failed to load command: middleman (/home/sbonazzo/bin/middleman)
LoadError: cannot load such file -- ruby_http_parser
  /home/sbonazzo/.gem/ruby/gems/http_parser.rb-0.6.0/lib/http_parser.rb:2:in `require'
  /home/sbonazzo/.gem/ruby/gems/http_parser.

[2017-05-12 13:52] duck-rh commented on #952
Are you sure there was no error or warning during install? Sometimes it seems to go on even it something happens and you need to check the logs.

In fact *ruby_http_parser.so* is part of the *http_parser* gem which is itself calling for the lib, so they are both in the same gem and clearly is not built or installed properly.

[2017-05-14 14:39] JohnMarksRH opened #957 "Release notes broken Bugzilla links"
#### This is related to PR#956

All the release note links to Bugzilla are all broken
I corrected the links in 4.1.1 by adjusting the link format to:
[BZ 1371111]followed by no space (https://bugzilla.redhat.com/1371111 "1371111")

### Help needed from @sandrobonazzola @mykaul

[2017-05-16 07:49] #953 closed

[2017-05-16 13:57] JohnMarksRH opened #961 "4.1.1 intro links, possible typo"
### Description of the problem
In 4.1.1 a few issues:
Under the  https://www.ovirt.org/release/4.1.1/#ovirt-hosted-engine heading there are two broken links:

Hosted_Engine_Howto#Fresh_Install
Hosted_Engine_Howto#Upgrade_Hosted_Engine

Under the https://www.ovirt.org/release/4.1.1/#epel heading:
First sentence is TL;DR Don't enable all of EPEL on oVirt machines. Typo? Intentional?

### Help needed

[2017-05-16 14:04] mykaul commented on #961
I'm failing to see the typo...

[2017-05-16 14:10] JohnMarksRH commented on #961
@mykaul
I don't understand this
TL;DR Don't enable

TL;DR - too long, didn't review? Don't understand the context

[2017-05-16 14:13] mykaul commented on #961
http://lmgtfy.com/?q=tl%3Bdr

 ;-)

[2017-05-16 14:13] #961 closed

[2017-05-26 07:12] umhahahahapu opened #987 "I want to install overt-live from cd....but I can't.."
### Description of the problem

### Steps to reproduce

1. prepare overt-live burned cd

2. booting from cd on HP Server

3. after , install to hard drive (icon) double click ...but don't work..
  And I commanded install /usr/xxx/xxxx .. start install but errors come me..
  "GLib.Error: g-io-error-quark: Error calling startservicebyname for org.freedesktop xxxxxxxxxxxxx no such unit....

 How can

[2017-05-28 09:41] mykaul commented on #987
Hi @umhahahahapu - can you please ask the question on the ovirt users mailing list? This issue tracker is for the ovirt website.

Thanks in advance,
Y.

[2017-05-28 09:41] #987 closed

[2017-05-29 15:52] JohnMarksRH opened #992 "Multiple broken links in Hosted Engine Howto"
The following page:

[Hosted Engine Howto](http://www.ovirt.org/documentation/how-to/hosted-engine/) has multiple broken links:

The links are incomplete BUT it is also not clear where they should link to.

The broken links can be found under the following subheadings:

http://www.ovirt.org/documentation/how-to/hosted-engine/#requirements

http://www.ovirt.org/documentation/how-to/hosted-engine/#m

[2017-05-29 16:20] sandrobonazzola commented on #952
So,after changing #993 I'm able to run on Fedora 26 with the following changes in the Gemfile.lock: https://gist.github.com/sandrobonazzola/a2302901f79f14c5b4953937bb3e2a54

[2017-05-29 16:30] JohnMarksRH opened #994 "Broken links under Developer Documentation"
[Developer Documetation](http://www.ovirt.org/develop/#developer-documentation) has two broken links:

Building oVirt engine (Second in list)

Building oVirt Engine Reports (Last in list)

### Help needed from @mykaul @michalskrivanek

[2017-05-30 07:55] duck-rh commented on #952
quite some updates… I guess the only way to see if there's regressions is to create a PR with these changes and see if the CI is happy. We can also try on our personal machines. It is easy to revert in case the builder is unhappy about it. Could you prepare one?

[2017-05-30 09:18] sandrobonazzola commented on #952
Sent PR #995

[2017-06-01 12:38] JohnMarksRH opened #1000 "Latest case study not displaying on home page"
I added a new case study to the site.
I also added a summary of the case study to the summary page.
The case study is not displaying on the home page:
https://www.ovirt.org/#case-study

Help needed from @bproffitt @duck-rh

[2017-06-01 12:51] JohnMarksRH opened #1001 "Test assignee and help needed"
### Description of the problem

### Steps to reproduce

1.

2.

3.

### Help needed from @jmarks

[2017-06-01 13:13] #1001 closed

[2017-06-01 17:27] ghost opened #1002 "Engine Development Environment page"
### Problem
For installing wildfly you need more than latest ovirt release snapshot repository. Same for js-dependencies.

### Sugestion
There should be link for master snapshot too. So adding another yum install link into Prerequisites - Set Up the Snapshot Repository could do.

##### Edit
There can also be some kind of warning that building the engine (precisely webadmin) need a lot of RAM memor

[2017-06-02 05:33] duck-rh commented on #1000
The builder is running fine.

I tested on my laptop and it does not show up either. So something is wrong in the content. It renders an empty div…

[2017-06-05 13:18] JohnMarksRH commented on #1000
@duck-rh @bproffitt Which page affects / controls the display of the case study on the home page:
The user stories page?
https://www.ovirt.org/community/user-stories/user-stories/
Or the main case study page?
https://www.ovirt.org/community/user-stories/RCC-case-study/

Thanks

[2017-06-05 13:20] rollandf commented on #879
Fixed in PR #880

[2017-06-05 13:20] #879 closed

[2017-06-06 06:11] duck-rh commented on #1000
So first, the comment in _source/index.html.haml_ to look at _case-studies.html.md_ is wrong, it does not exist.

So it is looking for the first page having _page_classes: case-studies_ header defined in it, which leads to _source/community/user-stories/user-stories.html.md_ (the only one). It then extracts the content of the last study.

Unfortunately in the previous doc there is an empty block (

[2017-06-06 09:46] duck-rh opened #1009 "please fix frontmatters"
### Description of the problem

Every now and then someone adds a blog post with dates on the frontmatter and the filename which do not match. Middleman is unhappy about this.

I could fix this but I've got no way of knowing which date is the right one so…

Here is the list to fix:
[code]

[2017-06-06 11:03] JohnMarksRH commented on #1009
@duck-rh
The "say hello to ovirt 4.1.1 is my post.
The date I wished to display is the actual publication date. In this case it was 2017-04-10.
Just to explain, when I created the file for this blog post (using Atom), the date was 2017-04-05. The post was reviewed and went through a few iterations, and by the time it was published it was 2017-04-10.
Is there any way to change the date as appropria

[2017-06-06 12:21] duck-rh commented on #1009
I think the publish date is the one to keep for a blog. The title can explain which remote event/date you're talking about. And the draft's date also is unimportant to the outside word (and devs have VCS history so they don't need it either).

So in this case the frontmatter is right and we can just rename the file accordingly.

I guess the other one is in a similar situation.

[2017-06-07 08:20] JohnMarksRH commented on #1009
@duck-rh I am including screenshots from Atom, one of the blog post file (dated 2017-04-05) and one of the metadata (2017-04-10). Which is the 'publish date'?
![411 blogpost file screenshot](https://user-images.githubusercontent.com/25613123/26868406-a0dc0e06-4b71-11e7-8fc2-17ed1931c21b.png)
![411 blog post metadata](https://user-images.githubusercontent.com/25613123/26868407-a0e0dbac-4b71-11e7-8d

[2017-06-07 15:07] duck-rh commented on #1009
I was not sure myself or I would have sent a fix directly :-)
I guess the later date has better chance to be the one.

[2017-06-08 07:59] JohnMarksRH commented on #1009
OK. So renaming the file

On Wed, Jun 7, 2017 at 6:07 PM, duck-rh <notifications@github.com> wrote:

--
John Marks
Technical Writer, oVirt
redhat Israel
Cell: +972 52 8644 491

[2017-06-12 11:06] duck-rh commented on #1009
fixed by the two PRs referenced above, thanks

[2017-06-12 11:06] #1009 closed

[2017-06-14 06:38] germanovm opened #1018 "incorrect filter syntax for ovirt-engine-notifier"
### Description of the problem
[1] shows examples which prevent ovirt-engine-notifier.service from starting because the filters shown have wrong syntax.

These two examples below throw this:

ovirt-engine-notifier.py: Validation result:
ovirt-engine-notifier.py: stderr: Cannot parse filters
ovirt ovirt-engine-notifier.py: Validation failed returncode is 1:
ovirt-engine-notifier: ERROR run:554 Erro

[2017-06-14 06:50] mykaul commented on #1018
Thanks @germanovm - I believe upstream docs is (strangely) derived from downstream, so we'll need to fix it there and upload (or finally move from upstream to downstream, which is wip).

[2017-06-16 01:37] Ashaman- commented on #370
The repository in the instructions no longer has any debian packages.

[2017-06-16 05:07] duck-rh commented on #370
You need to use _update-rc.d_ to enable services.

Also systemd instructions would be nice nowadays.

[2017-06-20 11:54] didib opened #1025 "'httpd' wierd behaviour"
### Description of the problem

In [1], 'httpd' appears only once, and is surrounded by angle brackets, '```<httpd>```'.

In the page source code [2], as well as in github's rendering of it, it appears three times, none surrounded.

Something causes two occurrences to disappear and one to be surrounded. Not sure what. Please fix :-)

Thanks!

[1] https://www.ovirt.org/documentation/how-to/migrate-

[2017-06-20 15:06] JohnMarksRH opened #1026 "Piwik Stats for Ovirt.org"
### Description of the problem

Looking at the stats, there seems to be a discrepancy between the **Actions >> Page Titles** & **Actions >> Page URL** reports. In both instances I am looking at "all visits" for May 2017.
### Steps to reproduce

For example:
Pages titles:
https://stats.phx.ovirt.org/index.php?module=CoreHome&action=index&idSite=1&period=day&date=yesterday&segment=pageUrl%3D%3Dhttps

[2017-06-20 15:58] duck-rh commented on #1026
I thought the start date being different it could explain part of it but no.

The URL page seems to display all the links people tried, even it does not exist, like _/pipermail/users/2015-January/030995.html_ or _/mom_, and as we don't have a 404 page per say but any wrong page displaying a search page so we get all the noise.

So what I can say is we have a lot of _page url not defined_ whereas _

[2017-06-22 08:39] JohnMarksRH commented on #1026
@duck-rh So would you conclude that the page title results presents more reliable data?
And, do we have adblockers software installed on the oVirt site?

[2017-06-22 08:44] duck-rh commented on #1026
I'm not sure, they don't seem affected the same way.

No the ad blockers are on the client side, like AdBlock plugin for FF for eg.

[2017-06-22 08:55] JohnMarksRH commented on #1026
@duck-rh Is there anyone else we can ask about this?

[2017-06-22 09:47] duck-rh commented on #1026
I guess community managers being interesting in these numbers they know better. Maybe @bproffitt would still do the favor to help oVirt?

[2017-06-23 14:32] bproffitt commented on #1026
I am not familiar with how PiWik gathers stats. But if adblockers are killing the URL reports, then go with the title reports.

Though my next question is, what are the adblockers blocking? We don't have ads on ovirt.org. Or dynamic content.

[2017-06-23 15:14] fbacchella opened #1036 "Why hosted engine is safe ?"
I don't use hosted engine because I'm afraid of reliability of it.

What about bootstrap in case of failure ? Missed upgrade ? Database corruption ?

I'm might be wrong but I'm afraid of that.

So a blog entry explaining why it's a safe option, perhaps some basic check and step to recover in case of big problem can help increase usage of this deployment method.

[2017-06-23 15:39] mykaul commented on #1036
@MarSik @doron-fediuck

[2017-06-25 11:49] JohnMarksRH commented on #1026
Same as Brian. We don't have any ads on the site. Who else can we ask?

[2017-06-25 14:28] JohnMarksRH commented on #1026
@duck-rh Incidentally, an update for Piwik is available.

[2017-06-26 03:10] duck-rh commented on #1026
Well, you can see these kind of reports on the web: https://github.com/piwik/piwik/issues/7364

So it's the piwik code itself which is considered a privacy issue and blocked by adblockers.

[2017-06-27 16:00] JohnMarksRH opened #1043 "Move Twitter closer to top of Home Page"
### Description of the problem

The Twitter feed on the home page provides a lot of useful information, including upcoming events. However, is a long way down the page and easily missed. Can we please move it up the page and place it where the empty "Upcoming events" section is located.
"Upcoming Events" can be removed.

I would do it myself but I don't want to mess up the code.

Thank you

### He

[2017-06-29 08:28] sandrobonazzola opened #1045 "Obsolete videos on documentation main page"
### Description of the problem

https://www.ovirt.org/documentation/ has two videos in the head of the page.
The first one shows a 3.1 all-in-one installation, the second one shows creating VMs in a 3.1 environment.
We are now at 4.1 and developing 4.2, videos should be updated with some more recent recordings.

### Help needed from (use @mention to request assistance)
@mykaul

[2017-06-29 08:41] mykaul commented on #1045
Perhaps have a link to the oVirt youtube channel?
@doron-fediuck  ?

[2017-07-03 12:35] didib commented on #1025
@duck-rh @JohnMarksRH @garrett any idea?

[2017-07-04 15:51] jniederm opened #1058 "404 for apple touch icons"
### Description of the problem
Snippet from source code of homepage (`https://www.ovirt.org/`)

[code]

Server returns 404 for these icons.

[code]

[2017-07-05 03:10] duck-rh commented on #1025
Could someone review the linked patch please?

Also please stop pinging Garrett, he is not working on this project anymore, you can ping me instead.

[2017-07-05 06:48] anande opened #1059 "Typo for Openshift on metrics-store page"
### Description of the problem

The link : http://www.ovirt.org/develop/release-management/features/engine/metrics-store/
wrongly lists **"Openshift portal"** as **Openshit portal**

Would be great to have this fixed.

[2017-07-05 07:05] mykaul commented on #1059
@sradco - please fix.

[2017-07-05 08:25] didib commented on #1025
Reviewed. Sorry, Garrett.

[2017-07-06 16:22] karlacio opened #1062 "Wrong link on "oVirt Upgrade Guide""
### Description of the problem
On
http://www.ovirt.org/documentation/upgrade-guide/upgrade-guide/#ovirt-upgrade-guide
the link for 3rd chapter "Upgrading to oVirt 4.0" points to the same url of first chapter.

### Help needed from (use @mention to request assistance)

[2017-07-10 06:16] #1025 closed

[2017-07-10 10:22] rollandf commented on #1059
Fixed by PR #1037

[2017-07-10 10:22] #1059 closed

[2017-07-10 13:07] praburaj1985 opened #1065 "Spice HTML5 not working"
### Description of the problem
Spice HTML5 not working while am opening the VM guest from the ovirt and am getting a grey screen

![image](https://user-images.githubusercontent.com/22237394/28019510-d1f8f96c-659e-11e7-86cd-6e38b2a0e9b2.png)

### Steps to reproduce

1.

2.

3.

### Help needed from (use @mention to request assistance)

[2017-07-10 13:08] mykaul commented on #1065
Issues reported here are for the oVirt *site* (www.ovirt.org), not for the project itself. Please send this issues to the users mailing list (users@ovirt.org).
Thanks,
Y.

[2017-07-10 13:08] #1065 closed

[2017-07-21 20:03] nirs opened #1086 "Add CODEOWNERS file"
### Description of the problem

Github introduced a new feature:
https://github.com/blog/2392-introducing-code-owners

This send a review request to the owner of each file, based on the locations specified
in the CODEOWNERS file.

This will help contributors to get quicker feedback, many people complained about not
getting reviews in time.

@JohnMarksRH @dankenigsberg @mureinik what do you think?

[2017-07-22 09:58] mureinik commented on #1086
I'm all for this, although we need to do some thinking as to who owns what

[2017-07-23 15:01] JohnMarksRH commented on #1086
Looks interesting.
In my case, since I am reviewing for language and logic, what makes sense
is for the owner to request me to review once all the content is in place.

On Sat, Jul 22, 2017 at 12:59 PM, Allon Murienik <notifications@github.com>
wrote:

--
John Marks
Technical Writer, oVirt
redhat Israel
Cell: +972 52 8644 491

[2017-07-24 12:39] JohnMarksRH opened #1091 "Implement Collapsible Menu on Feature Page"
### Issue
[Feature Page](http://www.ovirt.org/develop/release-management/features/) is very long

### Solution: Collapsible menu
According to @duck-rh it should be easy to implement a collapsible menu using JS, JQuery.

### Help needed from:
@duck @doron-fediuck @mykaul
Can you suggest someone to implement?

[2017-07-24 13:09] JohnMarksRH opened #1092 "Organize Feature Page"
[Feature page](http://www.ovirt.org/develop/release-management/features/) needs to be organized in a way that will turn it into a more user-friendly resource.

1. The suggestion is to organize **all** features under team categories:
*Gluster * Infra * Integration * Network * Node * SLA * Storage * UX * Virt

Let's get ride of "engine" "uncategorized", etc.

2. In addition, let's add links to main

[2017-08-02 12:23] duck-rh commented on #765
Happily, all ancient wiki-related things were purged in #1071

[2017-08-02 12:23] #765 closed

[2017-08-29 02:23] duck-rh opened #1175 "Obsolete wiki headers are being reintroduced"
### Description of the problem

The following pages are affected:

- source/develop/release-management/features/network/lldp.html.md
- source/develop/release-management/features/network/unrestricted-network-names.html.md
- source/develop/release-management/features/metrics/metrics-store-installation.html.md

I also blocked #1096 but other PRs may be impacted.

Has the contributors' documentation b

[2017-09-08 11:14] MarSik opened #1205 "Code owners configuration"
I recently noticed GitHub enabled a feature that allows specifying code owners for different pieces of code:

https://github.com/blog/2392-introducing-code-owners

It should supposedly automatically add the proper reviewers to patches.

Do you think it would make sense to enable it?

[2017-09-10 08:06] mykaul commented on #1205
Sure - let's give it a try.
@JohnMarksRH - please see what needs to be done to enable it.

[2017-09-20 08:03] duck-rh opened #1228 "Broken links"
Quack,

Using webcheck I found various errors in the website. The full output needed some filtering but if anyone is interested I can hand-over the full report.

Here you'll find a link of broken links (URL on one line followed by the discovered problems on the next line):

[webcheck_ovirt_badlinks.txt](https://github.com/oVirt/ovirt-site/files/1316977/webcheck_ovirt_badlinks.txt)

[2017-09-20 08:06] mykaul commented on #1228
On Wed, Sep 20, 2017 at 11:03 AM, Marc Dequènes (Duck) <
notifications@github.com> wrote:

Thanks.

Is this showing the page that has broken links, or the broken links
themselves (and how do we find the origin?)
Y.

[2017-09-20 08:37] duck-rh commented on #1228
The URL (first line in the couple) is the broken link. I think the impacted pages are also available, let me have a look.

[2017-09-20 10:28] duck-rh commented on #1228
Here it is:
[webcheck_ovirt_badlinks.txt](https://github.com/oVirt/ovirt-site/files/1317420/webcheck_ovirt_badlinks.txt)

Not sure how to format this better.

[2017-09-24 21:31] tjyang commented on #1062
@karlacio , can this issue be closed, LGTM now.

[2017-09-25 14:54] eedri commented on #1228
Have you got a chance to review the report I sent to infra list, created by linkchecker?
Attaching here as well.  ( HTML format, I filtered the .png links because there were over 12K of broken ones, w/o them the list is around 2300 ).
[ovirt.org-no-png-broken-links.html.gz](https://github.com/oVirt/ovirt-site/files/1329892/ovirt.org-no-png-broken-links.html.gz)

[2017-09-25 14:56] eedri commented on #1228
Each broken link has it's parent as well, so you can know what is broken.

[2017-09-26 03:30] duck-rh commented on #1228
Thanks @eedri

I think reporting here is better, as most people involved in the website probably don't follow the infra list closely. But we might want to tell them to drop by more often and we can discuss tooling difficulties, site cleanups… I try to follow changes and reply to questions here, but I might miss things.

[2017-09-26 11:31] sandrobonazzola commented on #957
@JohnMarksRH Is this still an issue?

[2017-09-26 11:33] sandrobonazzola commented on #952
If it may help, just checking out current ovirt-site repo and running "bundle update" before ./runserver.sh now works on Fedora 26.

[2017-09-26 18:16] JohnMarksRH commented on #957
@sandrobonazzola It's fine now.

[2017-09-26 18:16] #957 closed

[2017-09-29 12:52] sandrobonazzola commented on #1086
:+1: for me

[2017-09-29 12:54] sandrobonazzola commented on #1062
Thanks, closing.

[2017-09-29 12:54] #1062 closed

[2017-09-29 12:56] sandrobonazzola commented on #898
Closing this issue, since now we have TOC in release notes.
The solution was adding:
  layout: toc
in the header.

[2017-09-29 12:56] #898 closed

[2017-09-29 13:03] sandrobonazzola commented on #1205
Closing duplicate of #1086

[2017-09-29 13:03] #1205 closed

[2017-09-29 13:05] sandrobonazzola commented on #1045
Videos have been removed.

[2017-09-29 13:05] #1045 closed

[2017-09-29 13:09] sandrobonazzola commented on #4
@duck-rh is this still an issue? Or can we close this?

[2017-09-29 13:10] sandrobonazzola commented on #1000
@rollandf @JohnMarksRH can we close this? I see #1008 has been merged.

[2017-09-29 13:11] sandrobonazzola commented on #938
http://www.ovirt.org/develop/release-management/releases/ currenlty shows only:

# Releases
All information about oVirt releases

[2017-10-01 05:42] #1000 closed

[2017-10-02 02:53] duck-rh commented on #4
The underlying problem with URL encoding might not be solved, nevertheless this page has changed and do not contain the search form anymore.  Also the markdown_to_html() function was fixed (see #1025) and affected links on pages with a _toc_ layout like this one.

I think it's safe to close and reopen if necessary with updated information.

[2017-10-02 02:53] #4 closed

[2017-10-02 06:09] duck-rh commented on #952
I made a fix in 992271354 a little while ago and forgot to reference this BR.

The problem with `bundle update ` is that is updates *all* gems, and then you're running on a totally different version of softwares, and you may have new bugs, solved bugs, different rendering… So I would strongly advise against it.

Could you check if the previously referenced fix does not solve the problem? If you ju

[2017-10-25 09:54] duck-rh opened #1289 "The wiki is *GONE*"
The old wiki_* headers were removed in all pages but people are creating new pages with such headers.

So this is a double mistake because these headers were aimed at tracking which page came from the old wiki, which newly created pages clearly are not.

So the goal of this BR is:
* teach people to stop using these headers
* cleanup the new pages containing them

[2017-10-31 16:49] nirs commented on #1289
Teaching people to stop using these headers is hard, but we can add a test for new features pages, failing the build if unwanted headers are found.

The old feature pages that should contain the headers can be blacklisted from this test.

[2017-11-02 12:20] jniederm opened #1305 "Blog breadcrumb partially hidden by top bar"
### Description of the problem
![image](https://user-images.githubusercontent.com/5278760/32325702-4fa920b8-bfd0-11e7-974f-c0307d84fb7c.png)

### Steps to reproduce

1. Open any blog, e.g. https://www.ovirt.org/blog/2017/05/higher-performance-for-python-sdk/

### Help needed from (use @mention to request assistance)

[2017-11-16 09:38] MarSik opened #1348 "Broken link in docs"
### Description of the problem

There is a broken link on https://www.ovirt.org/documentation/vmm-guide/Virtual_Machine_Management_Guide/ pointing to https://www.ovirt.org/documentation/vmm-guide/Virtual_Machine_Management_Guide/appe-Reference_Settings_in_Administration_Portal_and_User_Portal_Windows

[2017-11-18 08:37] sandrobonazzola commented on #927
I'd keep them for record but I've no strong feelings on this.

[2017-11-21 12:24] jan-zmeskal opened #1363 "MAC address pool setting referenced at the wrong place (DC)"
### Description of the problem
In Data Centers chapter of documentation, there is a section [Creating a New Data Center](https://ovirt.org/documentation/admin-guide/chap-Data_Centers/#creating-a-new-data-center).
Step 5 tells users that MAC address pool can be configured from New Data Center page, but this configuration is available when editing Cluster, not Data Center.

[2017-11-23 07:51] rollandf commented on #1305
Fixed by #1343

[2017-11-23 07:51] #1305 closed

[2017-11-24 04:39] duck-rh commented on #1175
Before closing, once #1382 is merged, I would also appreciate if someone could check and, if needed, update the contributor's documentation.

[2017-11-28 14:55] StLuke opened #1387 "Metrics documentation needs update"
### Description of the problem
See the documentation of oVirt Metrics Store Setup.
Should be updated to latest stepes required for metrics-store. (MUX namespaces are defined within vars.yaml, link is not working anymore.

https://github.com/oVirt/ovirt-site/blob/master/source/develop/release-management/features/metrics/metrics-store-installation.html.md

### Help needed from (use @mention to reque

[2017-11-30 16:07] mureinik opened #1389 "Sort author's blog posts in descending publication order"
### Description of the problem
The [blogs](https://ovirt.org/blog/) are sorted in a descending publication order (newest first), which is what you'd come to expect from a blog page.
However, if you navigate to a particular author's page (e.g., [John Marks' page](https://ovirt.org/blog/author/jmarks/)), you'll find the blogs in ascending publication order (i.e., oldest first).

Could we please alig

[2017-12-03 10:22] JohnMarksRH commented on #1389
@mureinik Good point.
@eldan Any idea how to implement?

[2017-12-03 13:22] mureinik commented on #1389
I'm guessing @duck-rh could help here?

[2017-12-03 13:47] eldan commented on #1389
Hi,
Promise nothing, but should be easy.
Will come Tuesday to arrange it.
Eldan

[2017-12-04 02:10] duck-rh commented on #1389
The blog is handled by an extension, and the code seem to already sort in descending date order. I see no setting which could alter that. So I'm not sure why it is not sufficient; maybe due to the author filtering.

We could try to add a `sort_by(&:date)` in `source/layouts/_blog_posts.haml` in between `select()` and `take()`. I don't have time to experiment now , sorry.

[2017-12-10 13:28] rahulsinghycce commented on #544
i think this can be fixed...lemme get the details here

[2017-12-22 14:00] sandrobonazzola commented on #1387
This should have been fixed by PR #1388.
Please review https://ovirt.org/develop/release-management/features/metrics/metrics-store-installation/

[2017-12-22 14:00] #1387 closed

[2017-12-22 14:13] sandrobonazzola commented on #1043
@eldan can you please handle this?

[2017-12-22 14:19] sandrobonazzola commented on #1348
Fixed by PR #1456

[2017-12-22 14:19] #1348 closed

[2017-12-22 14:27] sandrobonazzola commented on #115
Just my 2 cents here: other than searching for people to work on oVirt project, communities are collecting job offers requiring oVirt knowledge. As an example, Italian community is publicizing on Facebook every known job offer involving oVirt.

oVirt project wise, we have Job category in our Google+ community at https://plus.google.com/communities/109346090491400112913/stream/0c2351d6-340e-4d8c-b0

[2017-12-22 14:58] sandrobonazzola commented on #520
@mureinik the http://www.ovirt.org/develop/release-management/features/ has been reworked and is now pretty nice, except for an annoying error in the feature layout code which assumes that also the toc page is a feature. @duck-rh and @eldan can you please help getting the annoying error "No feature info available. Please contact Jon Choate or Sandro Bonazzola to fix." and possibly expand the toc b

[2017-12-22 15:00] sandrobonazzola commented on #939
@eldan refreshed the look of the documentation page. Is this issue still valid or can we close it @JohnMarksRH ?

[2017-12-22 15:02] sandrobonazzola commented on #97
Closing this issue. The wiki is gone and if we still have images missing, we need to add them from scratch.

[2017-12-22 15:02] #97 closed

[2017-12-22 15:04] sandrobonazzola commented on #340
Updated. @jekader can you please review again and open new issue if something else needs to be updated there?

[2017-12-22 15:04] #340 closed

[2017-12-22 15:08] sandrobonazzola commented on #952
works for me on Fedora 27, closing

[2017-12-22 15:08] #952 closed

[2017-12-22 15:09] sandrobonazzola commented on #687
Quick Start Guide has been rewritten for 4.2, closing this issue.

[2017-12-22 15:09] #687 closed

[2017-12-22 15:11] sandrobonazzola commented on #328
Looks like this has been somehow fixed. Now it works.

[2017-12-22 15:11] #328 closed

[2017-12-22 15:55] jekader commented on #340
Sandro, thank you for updating the doc! I see several more things to improve but will try to submit a pull request myself to save you the extra effort.

note to myself:
* release RPM download commands are corrupted across the site since the URL is enclosed in <> for some reason
* Configure oVirt section contains screenshots of old Admin Portal and instructions to browse the tree pane which no long

[2017-12-22 16:10] sandrobonazzola commented on #748
This page needs an update too: https://ovirt.org/documentation/vmm-guide/chap-Installing_Windows_Virtual_Machines/

[2017-12-22 16:11] sandrobonazzola commented on #748
@didib please find a couple of hours to work on this issue in the next couple of weeks.

[2017-12-22 16:21] eldan commented on #939
Hi, the redo of the Documentation page is only a part of the changes. I don’t think we can close the issue yet.
E

[2017-12-22 16:25] eldan commented on #520
I don’t understand the problem.
There is a category in the left that toggle on / off the categories.
What is the problem?
Can u send me a screen shot?
Eldan

[2017-12-25 01:55] duck-rh commented on #1043
The twitter feed does not provide a calendar of events, so this is not the same feature.

Also if you ditch away the calendar, then I guess you won't update the events anymore, which means community.redhat.com will not reflect these events anymore.

So I'm not against change, but we clearly need to understand what we're getting rid of and if that's really beneficial to the project. Moving the feed

[2017-12-25 02:07] duck-rh commented on #520
![ovirt_features_annoying_message](https://user-images.githubusercontent.com/19259504/34330765-c68c2a56-e963-11e7-9261-e2c11ee29ac1.png)

[2017-12-25 02:48] duck-rh commented on #520
I see 183 pages with such a message. For example: https://www.ovirt.org/develop/release-management/features/virt/ovmf/
It seems legitimate error though and we need to be sure to keep the error messages for them. I guess we could fill another ticket for this.

[2017-12-26 07:16] sandrobonazzola commented on #340
Thanks @jekader feel free to add me as reviewer to your PRs.

[2017-12-26 07:30] duck-rh commented on #520
Please confirm it's all fixed by #1461

Also please consider the problem I raised about the 183 other pages (opening another issue in the case).

[2018-01-04 21:25] sandrobonazzola opened #1474 "Missing oVirt Node NG upgrade documentation"
### Description of the problem

Got a report about oVirt Node NG upgrade documentation missing.
Please provide it

### Help needed from @yuvalturg @evol262 @dougsland

[2018-01-10 08:03] geyuan001 opened #1476 "ovirt"
### Description of the problem

### Steps to reproduce
1.
![1515570760 1](https://user-images.githubusercontent.com/27494361/34761694-d2f49c2e-f61f-11e7-904e-94930772a230.png)

2.
![167617598666137753](https://user-images.githubusercontent.com/27494361/34761697-d8020a08-f61f-11e7-944d-3ce04bcfffa7.jpg)

3.

### Help needed from (use @mention to request assistance)

[2018-01-10 09:56] mykaul commented on #1476
Hi,

This issue tracker is for issues in the ovirt.org website. Please use Bugzilla to open bugs on ovirt @ https://bugzilla.redhat.com/enter_bug.cgi?classification=oVirt

Also, include version information and logs - not just screenshots.

[2018-01-10 09:56] #1476 closed

[2018-01-10 12:24] #748 closed

[2018-01-19 10:01] chenqifeng28 opened #1492 "Ovirt 4.1 cannot installed vm's OS"
### Description of the problem
I have installed a Ovirt in my computer with VMware workstation, but now I cannot installed the VM's os,Please help to solve the problem, thanks!
### Steps to reproduce

1.THe problem's screenshot :
![1](https://user-images.githubusercontent.com/32876594/35144701-47c12276-fd40-11e7-9550-3762770617f9.jpg)
![2](https://user-images.githubusercontent.com/32876594/3514544

[2018-01-24 09:45] mykaul commented on #1492
Please use the users mailing list to ask questions (users@ovirt.org) - it's a better venue to get responses.
I assume your issue is that you need to enabled nested virtualization on your VMware workstation, so that VM could be used as a hypervisor.

[2018-01-24 09:45] #1492 closed

[2018-01-25 06:11] chenqifeng28 commented on #1492
thx , @mykaul

[2018-01-25 07:35] sandrobonazzola opened #1503 "some links are prepended with '<' when rendered"
### Description of the problem
You can see the issue in https://www.ovirt.org/release/4.1.9/ ; the instructions for installing the release rpm are displayed as:
`# yum install <http://resources.ovirt.org/pub/yum-repo/ovirt-release41.rpm`

but the markdown code doesn't have the '<' character.

### Help needed from @eldan @duck-rh

[2018-02-14 01:29] sammcj opened #1523 "Broken links - resources/index.html"
Page: https://www.ovirt.org/documentation/resources/

[code]

Relates to #1228

[2018-02-14 01:31] sammcj opened #1524 "Screenshots in documentation need updating for modern web interface"
For example on https://www.ovirt.org/documentation/quickstart/quickstart-guide/

![](https://www.ovirt.org/images/wiki/New_VM_Fedora.png?1478101462)

[2018-02-25 11:57] mykaul commented on #1523
@dankenigsberg - can you check if someone on your team can fix this?

[2018-02-25 20:29] dankenigsberg commented on #1523
@mmirecki can you revive these links ?

[2018-02-26 08:44] mmirecki commented on #1523
Fixed by:
https://github.com/oVirt/ovirt-site/pull/1538

On Sun, Feb 25, 2018 at 9:29 PM, dankenigsberg <notifications@github.com>
wrote:

[2018-03-01 11:15] duck-rh commented on #1503
The following block has a similar problem. I'm looking into it.

As for the formatting, the backquotes are for inline code AFAIK, so why not use a blockcode as below?

[2018-03-01 12:56] duck-rh commented on #1503
In fact there's many other places like (https://www.ovirt.org/develop/release-management/releases/3.4.1/) where this bug is present.

The problem is again `markdown_to_html` which previously caused similar problems. It does magic to create a link when the URL is set without markdown formatting. Not sure what was the initial intent but we don't need this.

I would then suggest to remove this magic

[2018-03-07 02:23] duck-rh commented on #1503
@sandrobonazzola any thoughts on this? Would you (all) be ok to fix the few broken things if I removed the hack in `markdown_to_html`?

[2018-03-07 13:13] rgolangh opened #1549 "Merged blog post isn't showing under 'Blog' section"
### Description of the problem
The latest blog post, merged at commit ea6e194d07f3ff7b158a747ea957da5cd6be2fb6 is not rendered or published under the /blog section. I see it perfectly fine when I ./run-server locally.

### Help needed from (use @mention to request assistance)
@duck-rh

[2018-03-07 13:24] mscherer commented on #1549
I am going to take a look. Seems we had a issue on others builders too, and @duck-rh asked me to see if a fresh eye could help.

[2018-03-07 13:34] mscherer commented on #1549
Ok, seems one process was locking the build since last Github DDOS. I killed it and we will see cron pick the build soon. It should be finished in around 1h at most.

[2018-03-07 13:47] rgolangh commented on #1549
Already showing up. Thanks!

[2018-03-07 13:47] #1549 closed

[2018-03-28 20:26] sandrobonazzola commented on #927
Any final decision on keeping 4.1.z roadmaps or deleting them?

[2018-04-03 08:05] sandrobonazzola commented on #1503
@duck-rh I'm ok with the proposed solution.

[2018-04-03 09:31] #1503 closed

[2018-04-05 14:38] sandrobonazzola commented on #1523
@mmirecki I still see broken links there

[2018-04-05 14:39] sandrobonazzola commented on #1523
@mmirecki looks like the account http://redhat.slides.com/mmirecki has been disabled due to user inactivity

[2018-04-05 14:42] sandrobonazzola commented on #927
Closing this issue, keeping 4.1.z roadmaps for record

[2018-04-05 14:42] #927 closed

[2018-04-27 09:29] Ninroot opened #1597 "404 not found - section / anchor links"
### Description of the problem
Hi,

It seems like sections like `[Importing Existing Storage Domains](sect-Importing_Existing_Storage_Domains)` are not working properly. The link brings me to a 404.

### Steps to reproduce

1. Go to https://www.ovirt.org/documentation/admin-guide/chap-Storage/ web page.

2. Click on "See Importing Existing Storage Domains for information on importing storage domai

[2018-04-27 13:48] jekader opened #1598 "node page needs a re-work"
### Description of the problem

The [Node](https://www.ovirt.org/node/) page is currently very confusing for people who are not familiar with oVirt and came just to download an ISO. There are multiple links to various Node versions, most of them leading to Jenkins which should not be a download server for ISOs.

### Steps to reproduce

1. ask a random person to download oVirt Node

2. check how mu

[2018-04-29 21:31] mykaul commented on #1598
@eldan - thoughts?

[2018-04-30 05:55] sammcj opened #1599 "Documentation required - engine answers file"
I haven't been able to find documentation for the engine `answers.conf` file that can be used to supply `hosted-engine --deploy` with parameters at run time.

Some are self explanatory, while others take a lot of digging to figure out.

Example:

I wanted to set the default engine VM and engine admin password during install.

After a bit of googling I found [someones gist](https://github.com/HighO

[2018-04-30 06:06] sammcj commented on #1599
Logged bugzilla bug: https://bugzilla.redhat.com/show_bug.cgi?id=1573070

[2018-05-18 10:14] sandrobonazzola commented on #115
Since I replied yesterday to someone searching for a job in oVirt area, here's a good link for those searching: https://www.linkedin.com/jobs/search?keywords=oVirt&location=&locationId=&trk=jobs_jserp_search_button_execute&searchOrigin=JSERP&applyLogin=

[2018-05-24 14:49] shaunix opened #1632 "Drafts link in documentation is 404"
### Description of the problem

The link to "Drafts" from the documentation main landing page gives a 404.

### Steps to reproduce

1. Go to https://www.ovirt.org/documentation/

2. Click "Drafts"

### Help needed from (use @mention to request assistance)

[2018-05-24 14:54] shaunix opened #1633 "Administration Guide and Administration go the same place"
### Description of the problem

On the documentation main page, "oVirt Administration Guide" and "Administration" point the same place.

### Steps to reproduce

1. Go to https://www.ovirt.org/documentation/

2. Look at  "oVirt Administration Guide"  under "Primary Documentation"

3. Also look at "Administration" under "Additional Documentation"

4. These two links point to the same document/direct

[2018-05-25 15:07] sandrobonazzola opened #1634 "Neutron Integration How to is obsolete"
### Description of the problem
[Neutron Integration How To](https://www.ovirt.org/documentation/how-to/networking/overlay-networks-with-neutron-integration/) is obsolete
### Steps to reproduce

1. Go to: https://www.ovirt.org/documentation/how-to/networking/overlay-networks-with-neutron-integration/

2. Read it

3. See it still uses OpenStack Havana while last released RDO is Queen and Rocky is be

[2018-05-25 15:08] sandrobonazzola commented on #2
@duck-rh what's missing to close this issue?

[2018-05-25 15:19] sandrobonazzola commented on #1633
Administration provides the same link in Administration Guide book + https://www.ovirt.org/documentation/admin-guide/virt/console-client-resources/ which is outside the book.

I tend to agree the 2 links are redundant. @eldan what do you think?

[2018-05-25 15:27] sandrobonazzola commented on #1632
Thanks for the report, pushed a fix. Can you please review? #1635 ?

[2018-05-25 15:28] sandrobonazzola commented on #1026
@duck-rh any update on this issue?

[2018-05-25 15:38] sandrobonazzola commented on #1175
#1382 has been merged. @rollandf can you address @duck-rh request?

[2018-05-25 15:39] sandrobonazzola commented on #1389
@eldan , @duck-rh any update?

[2018-05-25 15:42] #55 closed

[2018-05-25 15:46] sandrobonazzola commented on #743
@mykaul , @doron-fediuck you're oVirt community leads at OSAS, can you help with this issue?

[2018-05-25 16:09] sandrobonazzola commented on #122
@rollandf any update on this?

[2018-05-25 16:10] sandrobonazzola commented on #726
@eldan can you help with this?

[2018-05-25 16:11] sandrobonazzola commented on #726
@duck-rh maybe you can help too

[2018-05-25 16:12] sandrobonazzola commented on #1289
@nirs any update on adding a test for this?

[2018-05-25 16:20] #1632 closed

[2018-05-25 16:31] 18641315209 commented on #1634
When I built the ovirt and openstack environments according to the documents, I performed "engine-config --set keyauthstoneurl =http://< host-fqdn >:35357/v2.0". The Error was as follows: Error setting KeystoneAuthUrl's value. No such entry.

I found no "KeystoneAuthUrl" configuration option in engine-config.

Did you remove this configuration in the new version?

[2018-05-27 13:07] rollandf commented on #122
@sandrobonazzola I am not working on this issue.

[2018-05-28 06:29] duck-rh commented on #726
Similarly to what the old dashboard did, I would suggest a script in crontab fetching the necessary information and outputting a YAML file. The page would then read it and format it.

I can help with the Ansible deployment and some review, but I do not have time to code the whole thing.

[2018-05-28 10:59] #1389 closed

[2018-05-28 11:17] sandrobonazzola commented on #122
@mykaul anyone working on this?

[2018-05-28 11:19] sandrobonazzola commented on #950
After 4.2 GA, the guide now instruct on how to enable the yum repositories.

[2018-05-28 11:19] #950 closed

[2018-05-28 13:32] duck-rh commented on #2
Well, my "#\<i\>" in the commit messages were to say "part \<i\>" of the changes, and not to link to this issue.

From what I can see the page changed since @thatdocslady opened this ticket. There are no more naming conventions and such technical content. It seems fine to me as it is now.

[2018-05-29 09:13] eldan commented on #726
Yes indeed ugly.
Also lots of dead links.
I will create a whole new template for this page.
I think it should be a launching page for each of the groups.
I will also prepare a group page with basic info. Each group will maintenance it's page later on.
Thought?

[2018-05-31 11:21] sandrobonazzola commented on #885
Fixed in #1256

[2018-05-31 11:21] #885 closed

[2018-06-27 07:35] sandrobonazzola commented on #1018
Fixed by PR #1643

[2018-06-27 07:35] #1018 closed

[2018-06-28 15:47] gregsheremeta commented on #1599
BZ 1573070 is closed. @sammcj still need this?

[2018-06-28 15:51] gregsheremeta commented on #1523
is there a more appropriate public place?

[2018-06-28 16:36] gregsheremeta commented on #1091
me

[2018-06-28 16:59] #838 closed

[2018-06-28 16:59] #837 closed

[2018-06-28 17:00] #825 closed

[2018-06-28 17:40] gregsheremeta opened #1670 "add API documentation"
### Description of the problem
we are missing API and SDK docs on the ovirt site. I think we missed them when doing the 4.2 docs.

A google search for "ovirt api" docs gives poor results -- nowhere to be found are descriptions of entities that I can GET or DELETE, for example. It should fairly quickly point to the REST API Guide (RH doc: https://access.redhat.com/documentation/en-us/red_hat_virtua

[2018-06-28 20:58] gregsheremeta commented on #884
outdated

[2018-06-28 20:58] #884 closed

[2018-06-28 21:01] gregsheremeta opened #1671 "developer guide needs redesign"
### Description of the problem
https://www.ovirt.org/develop/developer-guide/

It's just a list of bullets.

[2018-06-28 21:04] gregsheremeta commented on #398
opening a new issue for this

[2018-06-28 21:04] #398 closed

[2018-06-28 21:20] gregsheremeta commented on #147
closing old issues

[2018-06-28 21:20] #147 closed

[2018-06-28 21:21] gregsheremeta commented on #593
thanks, we'll be restyling a bit. closing.

[2018-06-28 21:21] #593 closed

[2018-06-28 21:30] gregsheremeta commented on #592
the site is edited with PRs to https://github.com/oVirt/ovirt-site
test locally by cloning the repo and running the local middleman server.

[2018-06-28 21:30] #592 closed

[2018-06-28 21:31] #688 closed

[2018-06-28 21:32] gregsheremeta commented on #533
closing old issues. let me know if this is still a problem

[2018-06-28 21:32] #533 closed

[2018-06-28 21:34] gregsheremeta commented on #422
closing old issues

[2018-06-28 21:34] #422 closed

[2018-06-28 21:39] #520 closed

[2018-06-28 21:43] gregsheremeta commented on #135
closing old issues

[2018-06-28 21:43] #135 closed

[2018-06-28 21:44] gregsheremeta commented on #98
closing old issues

[2018-06-28 21:44] #98 closed

[2018-06-28 21:49] gregsheremeta commented on #181
closing old issues

[2018-06-28 21:49] #181 closed

[2018-06-28 21:51] gregsheremeta commented on #2
it's fine now, closing

[2018-06-28 21:51] #2 closed

[2018-06-28 23:16] sammcj commented on #1599
I kind of gave up trying to contribute to the site because it’s such a pain to test, if it was just a wiki or a standard Jekyll site without too much legacy migrated data it wouldn’t be so bad.

I also haven’t had time to work on ovirt in the last few months due to resourcing constraints at work so it’s fallen off my radar.

--
Sam McLeod

[2018-06-29 05:38] duck-rh commented on #1599
Quack @sammcj

It was initially a wiki and it was such a mess the project flew away from it and it took a long time to have things cleaned up (more than one year at least).

I agree Middleman is difficult and slow to build. We removed a lot of Ruby magic over time and we have used Jekyll successfully on other projects, so this would be nice to make a move, but it's gonna be a lot of work. The more

[2018-06-29 11:54] gregsheremeta commented on #1599
me

[2018-07-06 10:27] abhisheksahnii opened #1678 "[docs] Manual test for nfs "definitively test" under permission is not working"
### Description of the problem

I am having issues while adding NFS export from EMC VNX device to ovirt-engine as it is showing permission issue. So referring to troubleshoot doc i.e.

- https://www.ovirt.org/documentation/how-to/troubleshooting/troubleshooting-nfs-storage-issues/

The easiest way to definitively test that an NFS export is ready for use by oVirt is to:

-Create the vdsm user with

[2018-07-06 13:08] gregsheremeta commented on #1678
this documentation hasn't been updated in years and is probably unreliable

[2018-07-09 09:43] abhisheksahnii commented on #1678
Hey Greg,

I used the below steps as a workaround.

WORKAROUND:

# visudo
vdsm ALL=(ALL) NOPASSWD: ALL                          <--- Append and save.

Then below started working,

/usr/bin/sudo -n /bin/mount -t nfs -o soft,nosharecache,timeo=600,retrans=6,nfsvers=3 servername:/path/of/export /tmpmnt

Later on, I removed that temporary entry from sudoers.

[2018-08-08 10:09] itsafire opened #1717 "Weak wording for information on remove-old-host-from-the-metadata-whiteboard"
### Description of the problem

The hosted-engine howto at `ovirt-site/source/documentation/how-to/hosted-engine.html.md#remove-old-host-from-the-metadata-whiteboard` is too weak.

It says:

This information unclear to me are:
* which agent exactly ? I suspect the ha-agent, but I am not certain.
* where does it have to be stopped. Everywhere ? or only on that node I am issuing the command ?
* No g

[2018-08-16 12:43] StackKorora opened #1723 "Bad link on webpage"
### Description of the problem
The Webpage:
https://www.ovirt.org/community/

The Github page for it:
https://github.com/oVirt/ovirt-site/blob/master/source/community/index.html.md

The first bullet point says "Sign up to the users@ovirt.org@ovirt.org/ mailing..."

Issue 1: Double use of '@ovirt.org'
Issue 2: The link points to https://lists.ovirt.org/archives/list/users/ but that link doesn't wor

[2018-08-16 12:47] gregsheremeta commented on #1723
Thanks for reporting. Use the "Forum" link in the site header until we get this (ancient) page updated.

[2018-08-22 15:19] dougti opened #1726 "Ubuntu guest agent info out-of-date"
### Description of the problem
The old evilissimo repo on the openSUSE site was removed some time ago now. From what I can tell, it's now being maintained on Ubuntu's own Universe repo, with the oldest supported release being Xenial (16.04).

Time to update the documentation?

- https://www.ovirt.org/documentation/how-to/guest-agent/install-the-guest-agent-in-ubuntu/
- https://github.com/oVirt/ovi

[2018-09-27 09:42] MESHSfr opened #1755 "Presentation of Explanation of Settings in the VM Interface Profile Window"
### Description of the problem

HTML problem on the "Explanation of Settings in the VM Interface Profile Window" part

### Steps to reproduce

1. go to https://ovirt.org/documentation/admin-guide/chap-Logical_Networks/

2. go to "Explanation of Settings in the VM Interface Profile Window"

3. well, i guess there's some html tag are not closed :)

### Help needed from (use @mention to request assis

[2018-09-27 13:35] sandrobonazzola commented on #1755
Closed in #1761

[2018-09-27 13:35] #1755 closed

[2018-10-15 11:23] atriumcarceri opened #1775 "Pool page in docs."
Troubles with bad display, html codes as plain text.
http://prntscr.com/l69jk8

And please, can u update this for 4.2 version?

[2018-10-29 10:29] mureinik commented on #717
@tnisan I'd really like to clear up my open issues on GitHub. Can someone take a look at this please?

[2018-11-01 10:31] tnisan commented on #717
@shenitzky , can you please take over?

[2018-11-01 11:31] pkchavva opened #1789 "OVirt 4.3 Schedule Update"
### Description of the problem

The oVirt 4.3 schedule is not updated.

### Steps to reproduce

1.Go to https://www.ovirt.org/develop/release-management/releases/4.3/release-management/

2.

3.

### Help needed from (use @mention to request assistance)

[2018-11-13 17:38] hdatma opened #1802 "https://www.ovirt.org/documentation/how-to/networking/bonding-vlan-bridge/"
### Description of the problem

1. Missing date of last update.
2. Device names (em1, em2, ...) suggest the document needs revision.
3. Are the instructions correct wrt current distributions?

[2018-11-13 18:48] hdatma commented on #1802
The instructions lead to a messy configuration.
I attach two scripts, one to test the instructions, the other to undo it all.

[nm-on.txt](https://github.com/oVirt/ovirt-site/files/2577601/nm-on.txt)
[nm-off.txt](https://github.com/oVirt/ovirt-site/files/2577602/nm-off.txt)

[2018-11-20 01:00] crutonjohn commented on #1597
Couldn't this be fixed by replacing links like:
https://www.ovirt.org/documentation/admin-guide/chap-Storage/sect-Importing_Existing_Storage_Domains

with the embedded links such as:
https://www.ovirt.org/documentation/admin-guide/chap-Storage/#importing-existing-storage-domains

let me know and I can tackle this one; globally if need be.

[2018-11-21 07:04] sandrobonazzola commented on #1789
Hi, only planned date for now is initial oVirt 4.3 beta release, targeted to November 26th.
So up to now, schedule is updated with known content. Also please note dates are tentative.

[2018-11-21 07:04] #1789 closed

[2018-11-21 07:06] sandrobonazzola commented on #1775
@atriumcarceri can you please share the link to the page you are referring to? URL is not included in your screenshot

[2018-12-15 02:00] gregsheremeta commented on #1717
Does this updated documentation make more sense?
https://ovirt.org/documentation/self-hosted/chap-Maintenance_and_Upgrading_Resources/

[2018-12-15 02:04] gregsheremeta commented on #1775
Documentation has been updated to 4.2. Please open a new issue with a URL if you are still having trouble.

[2018-12-15 02:04] #1775 closed

[2018-12-15 15:00] #992 closed

[2018-12-17 04:43] gregsheremeta commented on #1802
This is outdated and shouldn't be used. I added a warning to the page to indicate that:

[code]

Fixed in #1840

[2018-12-17 04:45] #1802 closed

[2018-12-17 04:47] gregsheremeta commented on #1726
Indeed, this was not maintained. We don't have any guidance for guest agent Ubuntu guests, so I deleted the page. Thanks for reporting.

[2018-12-17 04:47] #1726 closed

[2018-12-17 04:48] gregsheremeta commented on #1717
the old hosted-engine how-to is replaced with the new Self Hosted Engine Guide. Please reference that instead. Thanks!

[2018-12-17 04:48] #1717 closed

[2018-12-17 05:12] gregsheremeta commented on #1633
fixed

[2018-12-17 05:13] gregsheremeta commented on #1633
will be fixed by disabling the auto-generated index pages

[2018-12-17 05:21] gregsheremeta commented on #1598
This page will be redirected to https://www.ovirt.org/documentation/admin-guide/chap-Hosts.html

[2018-12-17 05:30] gregsheremeta commented on #1092
I cleaned this up.

[2018-12-17 05:30] #1092 closed

[2018-12-17 05:31] gregsheremeta commented on #1043
we'll be removing twitter feed, actually.

[2018-12-17 05:31] #1043 closed

[2018-12-17 05:32] gregsheremeta commented on #994
fixed

[2018-12-17 05:32] #994 closed

[2018-12-17 05:33] gregsheremeta commented on #1634
https://www.ovirt.org/documentation/admin-guide/chap-Logical_Networks.html should replace this.

[2018-12-17 05:33] #1634 closed

[2018-12-18 14:24] gregsheremeta opened #1843 "documentation - bad formatting in vmm guide"
### Description of the problem
https://www.ovirt.org/documentation/vmm-guide/appe-Reference_Settings_in_Administration_Portal_and_User_Portal_Windows.html
is badly formatted -- looks like markdown issues on some of the tables

I haven't investigated yet.

![selection_261](https://user-images.githubusercontent.com/2248293/50160226-c259c300-02a6-11e9-9ab6-e46aa040c66e.png)

[2018-12-18 15:17] gregsheremeta commented on #939
fixed

[2018-12-18 15:17] #939 closed

[2018-12-18 15:20] gregsheremeta commented on #370
we unfortunately no longer have documentation for this.

See: https://packages.ubuntu.com/xenial/utils/ovirt-guest-agent

[2018-12-18 15:20] #370 closed

[2018-12-19 23:42] gregsheremeta commented on #1091
wont-fix

[2018-12-19 23:42] #1091 closed

[2018-12-19 23:43] gregsheremeta commented on #1036
Perhaps the updated Self-Hosted Engine Guide's information about backup helps.
https://www.ovirt.org/documentation/self-hosted/Self-Hosted_Engine_Guide.html

[2018-12-19 23:43] #1036 closed

[2018-12-19 23:46] gregsheremeta commented on #717
Feature pages now have a warning that they may be out of date. Makes this a non-issue in my opinion. Closing.

[2018-12-19 23:46] #717 closed

[2018-12-19 23:47] gregsheremeta commented on #723
Feature pages now have a warning that they may be out of date.

[2018-12-19 23:47] #723 closed

[2018-12-19 23:48] gregsheremeta commented on #722
Feature pages now have a warning that they may be out of date.

[2018-12-19 23:48] #722 closed

[2018-12-19 23:48] gregsheremeta commented on #721
Feature pages now have a warning that they may be out of date.

[2018-12-19 23:48] #721 closed

[2018-12-19 23:48] gregsheremeta commented on #720
Feature pages now have a warning that they may be out of date.

[2018-12-19 23:48] #720 closed

[2018-12-19 23:48] gregsheremeta commented on #719
Feature pages now have a warning that they may be out of date.

[2018-12-19 23:48] #719 closed

[2018-12-20 00:03] gregsheremeta commented on #1597
yes, feel free

[2018-12-20 00:05] gregsheremeta commented on #1524
done. for example, https://www.ovirt.org/documentation/intro-admin/chap-using_the_administration_portal.html

[2018-12-20 00:05] #1524 closed

[2018-12-20 00:08] gregsheremeta commented on #122
the page (now here) is clearly marked as outdated.

[2018-12-20 00:08] #122 closed

[2018-12-20 00:10] gregsheremeta commented on #37
wont-fix

[2018-12-20 00:10] #37 closed

[2018-12-20 00:11] gregsheremeta commented on #504
there is a 4.2 version of this post. other than that, wont-fix

[2018-12-20 00:11] #504 closed

[2018-12-20 00:13] gregsheremeta commented on #726
deleted

[2018-12-20 00:13] #726 closed

[2018-12-20 16:12] shaunix commented on #1843
There's quite a bit of bad markup in this file. Because of the complexity of the tables, we have to revert to HTML, and, well, it's not perfect. I'll clean it up.

[2018-12-20 16:31] shaunix commented on #1843
Fixed all the invalid markup I saw, but I noticed the last two tables have 50% column widths, which seems way off to me. I'm guessing it's auto-generated and not intentional. Might just want to drop the cols.

[2018-12-20 16:42] gregsheremeta commented on #1843
@shaunix whatever you can do to make it look decent is good with me. I don't want to lose any information - ?

[2018-12-21 09:43] fbacchella commented on #1036
There is nothing is the documentation about a complete shutdown, like a data center power loss. What to check ? How the engine will be restarted. Without explicit documentation about that case, I can't have a look at self-hosted engine.

[2018-12-21 12:36] MarSik commented on #1036
Missed upgrade and database corruption are scenarios that you have to handle with bare metal engine as well. The backup documentation is a good place to start for those. Hosted engine tools allow you to connect to the serial console and do a manual investigation or fixing.

Hosted engine VM is started by the ovirt-ha-agent process which is managed by systemd and is [autostarted](https://github.com

[2018-12-21 12:42] gregsheremeta commented on #1036
[This](https://www.ovirt.org/documentation/self-hosted/chap-Introduction.html) might help too:
"Additionally, the Engine is configured to be highly available. If the host running the Engine virtual machine goes into maintenance mode, or fails unexpectedly, the virtual machine will be migrated automatically to another host in the environment. A minimum of two self-hosted Engine hosts are required t

[2018-12-21 13:16] gregsheremeta commented on #589
documentation was updated and there are no broken links that i know of.

[2018-12-21 13:16] #589 closed

[2018-12-21 20:22] shaunix commented on #1843
Added a commit to my PR branch that cleans up the tables, gets rid of the 50% column sizing, makes the markup simpler for humans, and fixes a few remaining harder to spot errors.

[2018-12-22 13:54] #1843 closed

[2018-12-22 14:04] gregsheremeta commented on #1843
Thank you, Shaun.

[2018-12-23 02:08] gregsheremeta commented on #1598
done

[2018-12-23 02:08] #1598 closed

[2019-01-05 18:19] tehnic-take3 opened #1857 "Documentation > The important note regarding LVM filter in section "Adding Block Storage" could be more clear"
The note regarding needed LVM filter in section "Adding Block Storage" ([https://ovirt.org/documentation/admin-guide/chap-Storage.html#adding-block-storage](url)) should be clarified.

Following (one or more) improvements could be done:

- adding a reference to [https://ovirt.org/blog/2017/12/lvm-configuration-the-easy-way.html](url)
- describing the usage of "vdsm-tool config-lvm-filter" command

[2019-01-25 15:17] gregsheremeta opened #1876 "bad formatting in Admin Guide > Chapter 9: Pools"
### Description of the problem
bad formatting in Admin Guide > Chapter 9: Pools

### Steps to reproduce
1. https://www.ovirt.org/documentation/admin-guide/chap-Pools.html

![selection_317](https://user-images.githubusercontent.com/2248293/51754474-6561e180-208a-11e9-8ced-dff70629195e.png)

originally reported by  zachary.winter@vcwise.com on users list (thanks!)

[2019-01-25 15:19] gregsheremeta commented on #1876
@shaunix can you take a look?

[2019-02-06 15:52] gregsheremeta opened #1897 "Documentation > Hyperconverged documentation needs improvement, should document Cockpit installation"
### Description of the problem
Hyperconverged documentation needs improvement, should document Cockpit installation fully
https://ovirt.org/documentation/gluster-hyperconverged/Gluster_Hyperconverged_Guide.html

From https://ovirt.org/documentation/gluster-hyperconverged/chap-Deploying_Hyperconverged.html :
"""
Setting up the hyperconverged environment
Steps for installing are detailed in this blo

[2019-02-11 20:44] rollandf opened #1902 "twitter widget is not working"
### Description of the problem
Twitter widget is not showing any tweets
### Steps to reproduce

1. go to ovirt.org

2.

3.

### Help needed from (use @mention to request assistance)

[2019-02-14 22:05] gregsheremeta opened #1906 "Documentation > Host Upgrade Guide is confusing"
### Description of the problem
https://ovirt.org/documentation/upgrade-guide/appe-Manually_Updating_Hosts.html

Needs improvement.
* ovirt-node-ng-image-update is not mentioned
* rhel repos are mentioned

see https://lists.ovirt.org/archives/list/users@ovirt.org/message/6JB2GRHPMYCDA5VA32SFZ3I4F7J5TKDF/
for conversation

[2019-02-17 19:56] #1902 closed

[2019-02-19 11:49] prstaniforth opened #1919 "Issue: /source/documentation/vmm-guide/chap-Administrative_Tasks.html.md"
### Description of the problem

In oVirt system roles table if think role UserVmEngine should be UserVmManager

#### Type of problem?
Documentation issue

In the section Virtual Machine User Roles Explained

should UserVmEngine be UserVmManager?

#### Request review from: @gregsheremeta

[2019-02-19 12:32] gregsheremeta commented on #1919
you are correct. Thanks for reporting this!

[2019-02-19 12:48] #1919 closed

[2019-02-21 02:28] imjoey commented on #1597
Hi @crutonjohn , are you still working on this issue? If not, I'd like to make it fixed. Thanks.

[2019-02-21 13:03] #1876 closed

[2019-02-21 16:37] crutonjohn commented on #1597
@imjoey go ahead my friend, i got caught up in some other projects. i'll try and pick something else to work on.

[2019-02-24 06:03] imtrobin opened #1925 "Mailing list Reset password, emaill not found"
Hi, couldn' find the Contact Us for mailing list problems. I'm still receiving daily emails but my email is not found when I try to reset password

[2019-02-24 10:50] gregsheremeta commented on #1925
please send an email to infra-support@ovirt.org

[2019-02-24 10:50] #1925 closed

[2019-02-25 10:21] sandrobonazzola opened #1926 "About page link broken"
### Description of the problem
About link in the page footer lead to 404 error

#### Type of problem?
404

Trying to follow the "About" link in the footer on any page, leading to 404.

#### Help needed from @gregsheremeta

[2019-02-26 18:56] yeya opened #1932 "Issue: /source/documentation/admin-guide/appe-oVirt_and_SSL.html.md"
### Description of the problem
Missing permission issue

#### Type of problem?

After following this guide, I could not connect to noVNC. Each time I tried to connect the log printed `ovirt-websocket-proxy[7675] INFO msg:871 handler exception: [Errno 13] Permission denied`.

Until I looked on the original certs of the proxy and find out that the original private key `/etc/pki/ovirt-engine/keys/web

[2019-02-27 08:58] ktopogli opened #1933 "Issue: /source/develop/release-management/features/virt/hot-plug-cpu.html.md"
### Description of the problem

#### Type of problem?
Formatting issue on the OS compatibility list

The list is not well formatted and difficult to read (if not impossible)

#### Help needed
to be corrected please :)

[2019-02-28 10:12] sandrobonazzola opened #1938 "Issue: /source/documentation/upgrade-guide/chap-Updates_between_Minor_Releases.html.md"
### Description of the problem
Upgrade guides still references 3.6 and 4.2. Also refers to rhv-log-collector-analyzer which is not available in oVirt.

#### Type of problem?
Documentation issue

The whole page needs an update.

#### Request review from: @gregsheremeta

[2019-03-01 13:19] sandrobonazzola opened #1941 "Issue: /source/download/index.html.md"
### Description of the problem
Download page shows guest OS which are not supported anymore by OS Vendor.

#### Type of problem?
Content issue

For Ubuntu, list of supported versions by vendor is at: https://wiki.ubuntu-it.org/Rilasci
For SUSE: https://www.suse.com/lifecycle/
And so on for the other OS/ distributions listed there.

#### Help needed from (use @mention to request assistance)

[2019-03-01 23:22] gregsheremeta commented on #1932
@noriravi can you comment?

[2019-03-01 23:32] #324 closed

[2019-03-01 23:32] #940 closed

[2019-03-01 23:32] #1723 closed

[2019-03-01 23:32] #1926 closed

[2019-03-02 02:33] noriravi commented on #1932
Please check the SELinux Context of the file apache.key.nopass. It should look something like below

[root@engine ~]# ls -Z /etc/pki/ovirt-engine/keys/apache.key.nopass
-rw-------. root root unconfined_u:object_r:cert_t:s0  /etc/pki/ovirt-engine/keys/apache.key.nopass

[2019-03-08 10:24] sandrobonazzola opened #1946 "Missing ovirt-scheduler-documentation"
### Description of the problem
Documentation for ovirt-scheduler-proxy is missing

#### Type of problem?
Documentation issue

There used to be documentation based on examples.. but apparently it got lost.
https://web.archive.org/web/20170326001609/https://www.ovirt.org/documentation/sla/external-scheduler-samples/.

#### Help needed from (use @mention to request assistance)

[2019-03-12 03:12] dxjxo opened #1950 "Issue: /source/index.html.haml"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2019-03-12 05:15] duck-rh commented on #1950
@dxjxo you're supposed to fill-in the details because currently we have no idea what kind of problem you encountered.

[2019-03-19 08:17] sandrobonazzola commented on #1950
Closing since no issue has been reported here.

[2019-03-19 08:17] #1950 closed

[2019-03-29 13:36] lwrigh opened #1968 "Site redesign proposal"
### Description of the problem
The site could use a redesign to help to streamline the content and the look and feel of the site to reflect more of the design of the application itself. The site should reflect more of the design of the application so they do not feel as separated.

#### Type of problem?
Documentation issue | Content issue | Formatting issue | Design issue

Links to wireframes:
-De

[2019-03-29 22:35] nirs commented on #1968
I commented on https://redhat.invisionapp.com/share/7KOVWW4APV9#/screens.

Awesome work!

[2019-04-01 12:07] lwrigh commented on #1968
@nirs Awesome thank you for checking our the wireframes and leaving feedback!

[2019-04-02 04:26] duck-rh commented on #1968
I added a few comments

[2019-04-02 13:15] lwrigh commented on #1968
@duck-rh Great thank you!

[2019-04-04 07:36] sandrobonazzola commented on #1968
Looks great to me

[2019-04-04 07:38] sandrobonazzola commented on #1941
@evol262 , @michalskrivanek can we update engine and documentation aligning to supported distributions by OS vendors?

[2019-04-04 07:44] michalskrivanek commented on #1941
there are some minor things (like i don't think one needs to select Other for Suse when we have a SLES entry, perhaps RHEL8 entry to say no ovirt-guest-agent there), but other than that I do not see a problem, those are minimal versions - note the "+" next to the name.

[2019-04-04 18:27] lwrigh commented on #1968
@nirs @duck-rh I made some more updates to the wireframes based off of the feedback you left, feel free to check them out if you like.

[2019-04-04 21:59] nirs commented on #1968
@lwrigh looks much better now. I added some more comments on https://redhat.invisionapp.com/share/7KOVWW4APV9#/screens.

[2019-04-05 05:46] duck-rh commented on #1968
thanks @lwrigh that's much clearer and readable :-)

[2019-04-05 17:48] lwrigh commented on #1968
@duck-rh Great I'm glad to hear! @nirs I added some more updates to the wireframes based off of the feedback you left, I updated the breadcrumbs across the board as well.

[2019-04-08 17:14] evol262 commented on #1941
We also have https://bugzilla.redhat.com/show_bug.cgi?id=1341161 for tracking updated versions

For removing the older versions, it seems relatively common among other products, and we still expect them to work. We did simply add "Other Linux (kernel 4.x)" in 4.3, but that doesn't cover the older versions of Ubuntu LTS (for example) which are still supported

[2019-05-06 11:01] kroisler opened #1989 "Issue: /source/documentation/admin-guide/appe-oVirt_and_SSL.html.md"
[ Thank you for submitting a documentation issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this documentation Issue something you can help fix? If you'd like to contribute to making our documentation better, submit a Pull Request along with your Issue report! ]

Wrong HowTo Section

![image](https://user-images.githubusercontent.com/