[2019-05-08 07:45] sandrobonazzola commented on #1968
looks good to me, @lwrigh  can you push this to production?

[2019-05-08 07:47] sandrobonazzola commented on #77
Is this still an issue?

[2019-05-08 07:50] sandrobonazzola commented on #1474
Closing, documentation is provided here: https://ovirt.org/documentation/upgrade-guide/appe-Manually_Updating_Hosts.html

[2019-05-08 07:50] #1474 closed

[2019-05-08 07:51] sandrobonazzola commented on #1289
@duck-rh , @nirs any progress on this?

[2019-05-08 07:52] sandrobonazzola commented on #1228
@duck-rh can you please re-run the check and provide updated list?

[2019-05-08 07:53] sandrobonazzola commented on #1175
@rollandf any update?

[2019-05-08 07:55] sandrobonazzola commented on #1026
closing this as it's not related to ovirt website itself but to piwik. please reopen if I got it wrong.

[2019-05-08 07:55] #1026 closed

[2019-05-08 07:57] sandrobonazzola commented on #1002
js-dependencies is not needed anymore. all needed repos are made available by ovirt-release rpms and wildfly is included in snapshot repositories. Please reopen if there are still issues around this.

[2019-05-08 07:57] #1002 closed

[2019-05-08 07:59] sandrobonazzola commented on #938
closing this as the initial reported issue is not there anymore.

[2019-05-08 07:59] #938 closed

[2019-05-08 08:11] didib commented on #77
Seems like it was solved by #650 for existing links, and apparently we collectively gave up on an organized solution for new content.

[2019-05-08 08:13] sandrobonazzola commented on #115
closing this, community resolved this by pushing work advertise to linkedin, facebook and twitter.

[2019-05-08 08:13] #115 closed

[2019-05-08 10:03] duck-rh commented on #1289
@sandrobonazzola I totally forgot about it, I made a PR to make amends :-)

@nirs thanks for the idea

[2019-05-08 10:29] duck-rh commented on #1175
@sandrobonazzola I think we can close this one and follow-up on #1289

[2019-05-10 10:20] duck-rh commented on #1228
@sandrobonazzola I opened #1991 because some links displeased webcheck and they were broken anyway. Please note the way to escape brackets when writing examples. Do you have any place for editing policy/advice where we could put this?

I regenerated the report and tried to filter out as many false positive as possible:
[webcheck_ovirt_badlinks.txt](https://github.com/oVirt/ovirt-site/files/3166026

[2019-05-10 13:50] #1289 closed

[2019-05-12 09:23] #1175 closed

[2019-05-13 12:42] matthewcarleton commented on #1968
just as a follow up @lwrigh and I have a meeting scheduled this week to discuss this.

[2019-05-13 13:35] doron-fediuck commented on #741
@sandrobonazzola this is very old now. Is there a quick way to update and merge?

[2019-05-15 15:18] matthewcarleton commented on #1968
hey @sandrobonazzola @duck-rh I'm talking through requirements with @lwrigh. Just wondering how we want to move forward with this once I have some html/css ready for implementation?

[2019-05-15 20:12] sandrobonazzola commented on #1968
@matthewcarleton I don't have a specific plan.

[2019-05-15 20:16] sandrobonazzola commented on #77
Thanks @didib , closing this issue. On the organized solution for new content let's discuss it on a new issue.

[2019-05-15 20:16] #77 closed

[2019-05-15 20:26] sandrobonazzola commented on #741
It would be nice to get in touch with Florida State University and get an update from them. I guess situation evolved since this issue was opened.

[2019-05-19 21:02] jflorian opened #1995 "Issue: /source/documentation/admin-guide/appe-oVirt_and_SSL.html.md"
### Description of the problem

Step 10 says `Edit the /etc/ovirt-imageio-proxy/ovirt-imageio-proxy.conf file:` but then gives shows the command `# vi /etc/ovirt-engine/ovirt-websocket-proxy.conf.d/10-setup.conf`, but the command should be `vi /etc/ovirt-imageio-proxy/ovirt-imageio-proxy.conf`.  In other words, the dialog references the correct file, but the example edit command references another

[2019-05-20 11:48] lwrigh commented on #1968
Would it be helpful if we had a chat to figure out possible paths forward?

[2019-05-22 12:17] lwrigh commented on #1968
Documentation solution must support asciidoc.

[2019-05-25 08:27] sandrobonazzola commented on #1968
@duck-rh @gregsheremeta there was a plan to switch middleman to something which also support asciidoc, any update or ETA on that?

[2019-05-27 01:52] duck-rh commented on #1968
The proposed solution is to use Jekyll. Several other communities have been using it for quite some time now and are happy with it, and we have al the deployment materials and knowledge to support it.

I checked and there's an asciidoc plugin.

Now converting to the new system is going to be some work. I can prepare a builder and test vhost but people are needed to actually port the content. Markd

[2019-05-27 22:46] nirs commented on #1968
We like markdown, and we don't want to learn complicated syntax that we don't need.

How new design related to changing the markup language and tools used to create the site? Can we implement the proposed design in the current system as is?

[2019-05-28 15:19] matthewcarleton commented on #1968
@nirs for the front end html/css it's going to be much easier to build from scratch but I'm not opposed to using the current structure. Whatever works!

[2019-05-28 22:49] nirs commented on #1968
I'm not attached to the current system, just wanted to understand why site redesign proposal requires a rewrite :) Anyway If it is easier, replace special code standard tools, add features, and more fun, why not.

[2019-05-30 07:37] sandrobonazzola opened #2003 "Issue: /source/develop/security/security.html.md"
### Description of the problem
"The security advisories page lists all security vulnerabilities fixed in oVirt." points to a non existing page https://ovirt.org/documentation/security/security-advisories/

#### Type of problem?
404

"The security advisories page lists all security vulnerabilities fixed in oVirt." points to a non existing page https://ovirt.org/documentation/security/security-advis

[2019-06-02 13:49] mkowalski opened #2005 "Issue: /source/documentation/admin-guide/appe-oVirt_and_SSL.html.md"
### Description of the problem

#### Type of problem?
Documentation issue

Point (10) in the SSL certificate replacement procedure references to the `/etc/ovirt-imageio-proxy/ovirt-imageio-proxy.conf` file, however sample code just a line below references `/etc/ovirt-engine/ovirt-websocket-proxy.conf.d/10-setup.conf`. This looks like a simple copy-paste bug.

[2019-06-03 19:15] lwrigh commented on #1968
@matthewcarleton Do we want to get started on doing a preliminary look at the current code and seeing where we can go from there?

[2019-06-04 13:51] #2005 closed

[2019-06-04 15:41] lwrigh commented on #1968
@nirs @sandrobonazzola @duck-rh

We have a couple questions about next steps that I'm hoping you guys can help answer:

What will we build the site with (Jekyll?) and who will do this?

From a content migration strategy perspective who will be doing this? If multiple teams have been involved in the past, who would be good to get in contact with?

Do all the current pages on the site have 1:1 mappi

[2019-06-04 16:19] duck-rh commented on #1968
Quack,

I suggested Jekyll because we can reuse the Markdown pages (with some changes though, like headers) and other communities are happy with it. It is also easy to maintain and without security risks (static generation).

OSPO (ex-OSAS) CommInfra is already running the current site and builder, and we already have the materials to deploy for Jekyll, so we can do it.

I'm also part of the oVirt

[2019-06-05 12:19] lwrigh commented on #1968
Thank you for the input @duck-rh!

Great Jekyll sounds like a solid option then.

Do you know if there's a specific contact person for oVirt on the OSPO team? Would it be helpful to reach out to them? For asking the community, we can send a message out on the community channels asking for feedback on it.

@jasonbrooks Nice to meet you! Let me know if you need any UX support along the way.

I can a

[2019-06-05 15:20] duck-rh commented on #1968
@lwrigh I'm in OSPO CommInfra
I'm just a secret oVirt Infra team operative too ;-P

[2019-06-05 17:13] lwrigh commented on #1968
Perfect! Even better :)

[2019-06-05 21:25] pmkovar commented on #1968
This was brought up by me and the RHV docs team. Support for Asciidoc is a must-have feature for us to establish some sport of content sharing between ovirt and downstream (where docs are written in Asciidoc), which is what many have been asking for.

If Jekyll can support both Markdown and Asciidoc, good. As for migrating ovirt guides that have RHV counterparts, I'd suggest we just reuse the curr

[2019-07-31 08:20] duck-rh commented on #1968
@pmkovar I totally agree this is a loss of energy but at the same time I think the "upstream first" pillar of Red Hat was lost somewhere in the process; so I guess convincing oVirt people should come first.

On my side I see no problem activating the asciidoc support. I'll do that when the site is ported to Jekyll, working well, and people are happy. I've sent a message on the mailing-lists and th

[2019-08-07 14:39] string-sharper opened #2065 "Probably a typo in documentation - Chapter 9: Configuring Storage"
#1689 # Description of the problem
Most likely a "right-click paste" issue. Something that should be in a document text unfortunately is.

#### Type of problem?
Documentation issue

In "Chapter 9: Configuring Storage" document (https://ovirt.org/documentation/install-guide/chap-Configuring_Storage.html), under "Introduction to Storage" section, in 2nd paragraph, there is this string: "Installing_t

[2019-08-08 01:27] nirs commented on #2065
Was broken by this 79b048ce94.

[2019-08-08 10:08] sandrobonazzola commented on #2065
@nirs can you please review the fix at #2069 ?

[2019-08-08 23:25] nirs commented on #2065
Fixed by #2069

[2019-08-08 23:25] #2065 closed

[2019-08-14 04:46] duck-rh opened #2074 "Broken Images"
Quack,

While working on the Jekyll migration I noticed broken images but it happens to not be linked to the migration and production is affected.

For example `source/develop/sla/host-mom-policy.md` reference:
[code]
But the file does not have the same case (`source/images/wiki/Mom-flow.png`) and the path is wrong too.

I stumbled on a few cases but I do not have a full list of broken images. The

[2019-08-14 11:51] rolfedh commented on #2003
That URL doesn't show up in [archive.org](https://archive.org/search.php?query=https%3A%2F%2Fovirt.org%2Fdocumentation%2Fsecurity%2Fsecurity-advisories%2F). However, there is this page (https://www.ovirt.org/develop/security/security-advisories.html)

[2019-08-15 06:32] duck-rh commented on #1995
duplicate of #1989

[2019-08-15 06:32] #1995 closed

[2019-08-19 12:45] duck-rh opened #2077 "Events "Back to top" link appears above header"
### Description of the problem

#### Type of problem?
Formatting issue

Looking at https://www.ovirt.org/events/2019.html#scale

The "Back to top" link appears above header. I suspect the problem is in the `quicklinks.sass` CSS file but I could not find the source of the problem.

[2019-08-21 12:12] sandrobonazzola commented on #2077
@duck-rh can you attach screenshot? I don't see issues with my browser

[2019-08-21 19:27] duck-rh commented on #2077
@sandrobonazzola here it is
![20190822-042415_screenshot](https://user-images.githubusercontent.com/19259504/63462106-23b8de00-c495-11e9-901b-68db7a936fc6.png)

[2019-08-30 22:47] darkfiberiru commented on #1228
@sandrobonazzola Here is an update list https://gist.github.com/darkfiberiru/b059c372e690ead5364d73190916a401
with references to where each link is in each file.

[2019-08-30 22:48] darkfiberiru commented on #1228
I may try to cleanup if I have some time. I already fixed one I believe here #2085

[2019-08-30 22:54] darkfiberiru commented on #1968
@duck-rh @pmkovar  Are we still looking to migrate RHV content instead of current ovirt guides? Trying to see if working on #1228  makes any sense

[2019-09-02 03:04] duck-rh commented on #1968
@darkfiberiru I did not initiate the discussion on the RHV guides. I think it makes sense to merge the content but it would be nice to know how the community feels about it and the new format. If this is going to happen I can help on the Jekyll integration. There was no asciidoc content in the previous site so I could not try the plugin. I think we should create a specific issue for that as this d

[2019-09-02 14:23] darkfiberiru commented on #1228
@duck-rh  Please see above for a current check I ran on the site and first fix. Though I'm not 100% sure on fix

[2019-09-02 15:51] duck-rh commented on #1228
@darkfiberiru I saw the fix after my reply, sorry. I just don't know the content and was not sure either, so I cannot review it. maybe @sandrobonazzola ?

[2019-09-02 16:22] pmkovar opened #2086 "Enable site support for AsciiDoc format"
A larger part of the ovirt user docs ( https://www.ovirt.org/documentation/) is now outdated, still describing 4.2, and out of sync with the downstream RHV product docs (https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.3/) that are actively maintained.

With the site migration to Jekyll (#1968), we can now enable support for the AsciiDoc format (the Asciidoctor variant) that

[2019-09-02 16:26] pmkovar commented on #1968
Yes, it is still the plan once we get site support for AsciiDoc.

I filed #2086.

Note that the request here is not to replace Markdown with AsciiDoc but to add AsciiDoc support in addition to Markdown, so I see no reason why not enable it.

[2019-09-02 16:30] pmkovar commented on #2086
@dominikholler @sandrobonazzola

[2019-09-02 16:51] duck-rh commented on #2086
I can help for the Jekyll settings but I'll need some example asciidoc sources to integrate; I could not find the sources to the linked doc.

[2019-09-02 16:58] pmkovar commented on #2086
Many thanks @duck-rh

@rolfedh Can you help here with supplying a good stand-alone RHV adoc file as a test doc? Doesn't matter what the content is, we are interested in markup only.

[2019-09-03 07:09] sandrobonazzola commented on #2086
+1 for enabling asciidoc

[2019-09-03 13:22] rolfedh commented on #2086
Here's the upgrade guide...
[doc-Upgrade_Guide.zip](https://github.com/oVirt/ovirt-site/files/3569607/doc-Upgrade_Guide.zip)

[2019-09-03 13:36] rolfedh commented on #2086
I have some questions about the proposed approach. The oVirt doc repo is open source. How do we incorporate contributions that others have made directly to that repo? Merging may not be enough. If RHV delivers a subset of oVirt's features, how do we address the features that are not covered in the RHV doc?

[2019-09-03 14:54] pmkovar commented on #2086
@rolfedh Thanks, I think the archive is missing files from the `common` directory, though.

I agree simple merging may not be enough. My idea is to carefully merge one title at a time, making sure we do not override upstream-only changes that might have been made. Every PR should go through a thorough SME/peer review.

That said, looking at the git history, the number of upstream-only contribution

[2019-09-09 14:36] duck-rh commented on #2086
@pmkovar I heard the documentation is heavily outdated, so it makes sense to merge thinks in (with care for previous contributions), After this is done, I think we should continue with the `upstream first` way Red hat has been doing successfully for long time.

@rolfedh I also need the common directory, currently this is a symlink to a upper directory.

As I began to look at the doc, I noted this:

[2019-09-09 16:49] rolfedh commented on #2086
@duck-rh  [common.zip](https://github.com/oVirt/ovirt-site/files/3591668/common.zip)
Here's a zip of the ./docs-Red_Hat_Enterprise_Virtualization/common directory. (Sorry I was gone last week).

[2019-09-09 17:14] rolfedh commented on #2086
@pmkovar Just brainstorming here: What about practicing "upstream **FIRST**"? That is, why not author all of our content here in the oVirt repo (with an emphasis on features we expect to adopt in RHV) in a scrupulously modular way? Then, we could bring the features and content downstream to RHV and "feature-off" any non-RHV features in the doc.

[2019-09-10 03:56] duck-rh commented on #2086
thanks @rolfedh

I was able to compile the document and it looks fine. There are still these errors:
[code]

more notes:
* the above errors are not due to the website's conversion but because they do not follow the header's specifications; `attributes.adoc` contains empty lines and its include is separated from the document title by a newline; once I fixed that the errors vanished and the TOC appe

[2019-09-10 17:47] pmkovar commented on #2086
It looks like the `master.adoc` file is missing some basic header attributes below the title line, something like:

[code]

Speaking of `attributes.adoc`, we will need to add a new attribute for the product name so that we can easily switch between RHV and ovirt without having to find'n'replace:

https://redhat-documentation.github.io/community-collaboration-guide/#ccg-asciidoc-attributes

Perhaps

[2019-09-11 15:05] rolfedh commented on #2086
Would it be possible to know _which_ of the books generated these errors? Recently, a colleague and I created common/collateral_files/attributes.adoc and included it the master.adoc for four of the guides. Although attributes.adoc contains `:doctype: book`, I wonder if it is related to these errors.

We'll fix this in our files by:

* Removing the empty lines from attributes.adoc
* Removing the se

[2019-09-18 04:15] dlabreu opened #2099 "Issue: /download/"
### Description of the problem
Download link for ovirt-node is no longer working as we received a 404

The broken link.
https://www.ovirt.org/download/node.html

I assume the link should be pointing to:
https://resources.ovirt.org/pub/ovirt-4.3/iso/ovirt-node-ng-installer/4.3.5-2019080513/el7/ovirt-node-ng-installer-4.3.5-2019080513.el7.iso

#### Type of problem?
Link on the main page is broken.

[2019-10-10 13:32] stoobie opened #2117 "Error when running docker-run.sh"
### Error when running "sudo ./docker-run.sh"

#### Type of problem?
something else

I'm trying to build the site locally, by running docker. I successfully ran `sudo ./docker-setup.sh`, but when I enter `sudo ./docker-run.sh`, I get the following error:

[sgoodman@sgoodman ovirt-site]$ sudo ./docker-run.sh
[sudo] password for sgoodman:
Running docker image springboard-20191010-26364
Gem::Ext::Bui

[2019-10-18 07:43] #2117 closed

[2019-10-23 08:23] stoobie opened #2124 "docker-run.sh fails with install zeitwerk error"
When I run docker-run.sh, it fails with:
`An error occurred while installing zeitwerk (2.1.9), and Bundler cannot continue.`

Here's the output:

[code]

[2019-10-30 21:44] rolfedh commented on #2086
I created [an MR](https://gitlab.cee.redhat.com/rhci-documentation/docs-Red_Hat_Enterprise_Virtualization/merge_requests/1452) for these changes last week. Petr merged the changes. Next, Sandro will be addressing tooling issues for the oVirt site and will validate these changes.

[2019-11-04 15:07] derekatkins opened #2132 "Please improve the documentation of the Right-Click context menu for Power Off"
#### Description of the problem
I was trying to force power-off a VM.  There's the "Shutdown" button on the VM tab, but no indication of additional functionality.  There's no documentation that indicates the existence of the right-click context menu where one can find power off.

#### Type of problem?
Documentation issue

From https://bugzilla.redhat.com/show_bug.cgi?id=1448491

Go to the VM tab.

[2019-11-05 04:27] sgdp opened #2133 "Issue: /404.html"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2019-11-05 04:28] sgdp commented on #2133
https://www.ovirt.org/download/
See Browsers and Mobile Clients for sup  -> https://www.ovirt.org/download/browsers_and_mobile.html

[2019-11-08 08:44] sandrobonazzola commented on #2133
Thanks for reporting, looking into this.

[2019-11-08 08:57] sandrobonazzola commented on #2133
Fixed via PR #2134

[2019-11-08 08:57] #2133 closed

[2019-11-08 09:22] sandrobonazzola commented on #2099
fixed with PR #2135

[2019-11-08 09:22] #2099 closed

[2019-11-08 09:59] sandrobonazzola commented on #2003
Fixed with PR #2136

[2019-11-08 09:59] #2003 closed

[2019-11-08 10:02] sandrobonazzola commented on #1932
Closing this issue due to no activity: doesn't seem like a website / documentation issue and no follow up action on the suggested problem on selinux side. Please open a bugzilla report if this happens again.

[2019-11-08 10:04] sandrobonazzola commented on #920
The documentation page only links current stable release and previous one, pointing the user to separate list for searching older releases. Closing fixed.

[2019-11-08 10:04] #920 closed

[2019-11-08 13:58] sstagnaro opened #2137 "Reddit integration for blogs.ovirt.org"
It would be nice to have the blog section integrated with [oVirt subreddit ](https://www.reddit.com/r/ovirt) in manner that:

* blog post will be automatically posted to the subreddit (with the whole content, not just the link)
* comments on the subreddit post will shown on the blog post
* users on the blog may only posts through Reddit integration

This will give both posts and comments more visi

[2019-11-08 14:24] rolfedh commented on #2086
I created [an MR](https://gitlab.cee.redhat.com/rhci-documentation/docs-Red_Hat_Enterprise_Virtualization/merge_requests/1452) for these changes last week. Petr merged the changes. Next, Sandro will be addressing tooling issues for the oVirt site and will validate these changes.

[2019-11-13 15:49] aalling-jorgensen opened #2144 "Issue: /404.html"
### Description of the problem
On the page https://ovirt.org/documentation/vmm-guide/chap-Installing_Linux_Virtual_Machines.html you are referring to this page, https://ovirt.org/documentation/vmm-guide/Add_Virtual_Disk_dialogue_entries, under creating a new virtual machine, but the page does not exist.
#### Type of problem?
404

#### Help needed from (use @mention to request assistance)

/Jakob

[2019-12-05 14:14] duck-rh opened #2154 "stop embedding styles everywhere"
As highlighted in  #2153 we need to use proper styles instead of making monkey patches in pages, layouts and other levels as this makes future changes very difficult.

This issue is about listing all the affected pages, creating missing styles and cleaning all the various ugly bits.

[2019-12-05 16:26] sandrobonazzola commented on #2144
thanks for reporting! @michalskrivanek do you know where that link was supposed to point?

[2019-12-11 07:55] sandrobonazzola commented on #2137
@duck-rh is this something possible?

[2019-12-12 03:24] duck-rh commented on #2137
Does this mean you wish to write the post on Reddit instead of the blog?

[2019-12-12 03:58] duck-rh commented on #2137
It seems there is a plugin which could help: https://wordpress.org/plugins/blog2social/

[2019-12-19 01:12] ThorOra opened #2158 "Issue: /develop/release-management/features/sla/self-hosted-engine-gluster-support.html"
.

Is this Issue something you can help fix?

After installation self hosted engine, hosted engine on ovirt not running.
I already refer this link https://ovirt.org/documentation/self-hosted/chap-Troubleshooting.html but still same

[2019-12-20 08:05] sandrobonazzola commented on #2144
@evol262 do you know where that link was supposed to point?

[2019-12-20 08:14] sandrobonazzola commented on #1597
Looks like this didn't move. I'm handling this today.

[2019-12-20 09:09] #1597 closed

[2019-12-20 09:27] sandrobonazzola commented on #2144
Nevermind, found the updated docs references.

[2019-12-20 09:49] #2144 closed

[2019-12-20 10:00] sandrobonazzola commented on #2158
Please either reach out to users@ovirt.org asking for help or open a bug on https://bugzilla.redhat.com/enter_bug.cgi?classification=oVirt unless you have a specific issue on the development page you referred above. Please note the development page mentioned in the issue title is not meant to be user documentation. For installing hosted engine you should follow the installation guide at https://ov

[2019-12-20 10:00] #2158 closed

[2019-12-20 10:16] sandrobonazzola commented on #1989
This seems to be already fixed. I see now:

![image](https://user-images.githubusercontent.com/937860/71248000-2976e100-231a-11ea-8a0f-0aa9b0f24004.png)

[2019-12-20 10:16] #1989 closed

[2019-12-20 10:36] sandrobonazzola commented on #1933
@evol262 can you handle this?

[2019-12-20 10:39] sandrobonazzola commented on #1906
I think this is now fixed. RHEL repos are not mentioned anymore and correct steps for updating oVirt Node are there.

[2019-12-20 10:39] #1906 closed

[2019-12-20 11:14] sandrobonazzola commented on #1670
Sent a PR pointing to API, SDK and ansible docs. Better than nothing.

[2019-12-20 11:42] sandrobonazzola commented on #1941
closing according to comments from @michalskrivanek and @evol262.

[2019-12-20 11:42] #1941 closed

[2019-12-20 11:49] sandrobonazzola commented on #741
This has been added here: http://ovirt.org/community/user-stories/RCC-case-study and referenced in home page at https://ovirt.org/#florida-state-university-rcc

[2019-12-20 11:49] #741 closed

[2019-12-20 11:53] sandrobonazzola commented on #1058
Those links are not included in ovirt.org home page anymore. currently we have:
[code]

and not returning 404 anymore.

[2019-12-20 11:53] #1058 closed

[2019-12-20 11:56] sandrobonazzola commented on #1228
@duck-rh have we still got broken links? can you provide an updated list?

[2019-12-20 12:02] sandrobonazzola commented on #2137
no, meaning that posts to the blog always get sent to reddit too

[2019-12-20 13:55] #1938 closed

[2019-12-23 13:11] #1670 closed

[2019-12-23 13:16] sandrobonazzola commented on #203
RSS feed link is now https://blogs.ovirt.org/feed . @duck-rh can you edit the wordpress template we are using and add a link to it?

[2019-12-23 18:59] jasonbrooks commented on #203
I can do this

[2019-12-27 08:41] duck-rh commented on #1228
There is progress but still many. Certain problems seems to be related to site reorganization without looking for _reverse dependencies_.
[webcheck_ovirt_badlinks.txt](https://github.com/oVirt/ovirt-site/files/4004798/webcheck_ovirt_badlinks.txt)

[2020-01-02 06:39] didib commented on #1932
It's a real issue, and already reported and fixed against RHV docs:

https://bugzilla.redhat.com/show_bug.cgi?id=1652301

[2020-01-06 05:56] duck-rh commented on #1932
seems a real issue to me. maybe with the sync with RHV doc fixing this bit won't be necessary but in the meanwhile reopening to have it checked again.

[2020-01-23 11:18] prstaniforth opened #2170 "Issue: /documentation/admin-guide/chap-External_Providers.html"
### Description of the problem

#### Type of problem?
Documentation issue

In the external providers section
Adding a KVM Host as a Virtual Machine Provider
item one refers to a Xen host not KVM host

 1  Enable public key authentication between the proxy host and the Xen host:

[2020-01-24 15:33] wdpjylinyi opened #2171 "Issue: /documentation/install-guide/appe-Preparing_a_Local_Manually-Configured_PostgreSQL_Database.html"
The command in Step 11 is wrong. The correct command should be "systemctl restart rh-postgresql95-postgresql "

[2020-02-04 06:07] yss126 opened #2175 "[Cannot backup VM. Backup is not supported by the host (hostname)"
Hi,

I am new with oVirt and trying to automate backups via API.

I followed this guide to backup VMs.
https://www.ovirt.org/documentation/incremental-backup-guide/incremental-backup-guide.html

But when I send
`POST /ovirt-engine/api/vms/a5a247fd-5364-4463-a7a6-e4279be645ce/backups
`I get
[code]

It is happening on both 4.3.8 and 4.4

I couldn't find any solution.
I would be very happy if someone

[2020-03-19 20:42] cbinyu opened #2191 "Issue: /documentation/vmm-guide/chap-Installing_Linux_Virtual_Machines.html"
Step 1. of "Creating Linux Virtual Machines" reads:
"Click Compute &raar; Virtual Machines."

If you look at the source page it is:
"Click <strong>Compute</strong> &amp;raar; <strong>Virtual Machines</strong>"

It should be:
"Click <strong>Compute</strong> &raar; <strong>Virtual Machines</strong>

Same error in step 1 of "Starting Virtual Machines" and step 2 of "Connecting to Virtual Machines".

[2020-04-09 15:11] sandrobonazzola commented on #1968
Hi, where do we stand with this? can we move it to production?

[2020-04-09 15:21] sandrobonazzola commented on #2086
this is already active on production right? can we close this issue?

[2020-04-09 17:28] pmkovar commented on #2086
Yes, this is up and running. Thank you, everybody.

[2020-04-09 17:28] #2086 closed

[2020-04-10 03:33] duck-rh commented on #1228
@sandrobonazzola could you pingme when all the desired RHV docs are imported so I can update the list of broken links please?

[2020-04-13 12:57] lwrigh commented on #1968
We have some of the base CSS and HTML written for the homepage and a couple of the other pages so those could potentially be started to be moved over.

[2020-05-12 10:28] kidalabama opened #2219 "Issue: /documentation/gluster-hyperconverged/chap-Deploying_Hyperconverged.html"
### Description of the problem
The page has broken links to
https://www.ovirt.org/documentation/gluster-hyperconverged/install-guide/chap-oVirt_Nodes

#### Type of problem?
ovirt nodes links are broken, raising 404 error.

[2020-05-18 06:15] #774 closed

[2020-05-20 13:28] elroncio opened #2229 "Adding an ovirt node goes in error with "Network are missing""
### Description of the problem

I have a cluster with some logical network defined as required (In my test the networks name are Test1 and Test2).
When I try to add an ovirt node (node2.ovirt2), I get this error:

`Host node2.ovirt2 does not comply with the cluster clrhvbg001 networks, the following networks are missing on host: 'Test1,Test2'`

I'm using ovirt manager 4.3.9.4-1.el7 and ovirt host

[2020-05-20 14:00] #2229 closed

[2020-05-20 14:00] elroncio commented on #2229
Wrong place to open this issue, sorry

[2020-05-22 16:08] sandrobonazzola commented on #1968
@lwrigh I think we can start moving over

[2020-05-26 20:08] nmacgreg opened #2237 "Issue: /develop/release-management/features/infra/python-sdk.html"
### Description of the problem
This page refers to easy_install, deprecated since at least 2015.
#### Type of problem?
Documentation issue | Content issue

I suggest maybe using 'pip install ...' instead?

[2020-06-11 08:53] sandrobonazzola commented on #2219
fixed by #2250

[2020-06-11 08:53] #2219 closed

[2020-06-11 09:09] sandrobonazzola commented on #2191
Fixed in #2251

[2020-06-11 09:09] #2191 closed

[2020-06-15 06:04] duck-rh opened #2254 "Fix or remove docker support"
### Description of the problem
Docker support is currently broken

#### Type of problem?
Setup issue

The Docker rules are not up-to-date, which leads to #2124 but the list of package to install is not up-to-date and nowadays using CentOS 7 is not gonna work.

Except from the bug above it seems the site developers do not complain about the docker support, so maybe it's not worth the trouble and we

[2020-06-15 06:49] sandrobonazzola commented on #2254
I'm for dropping the docker script

[2020-06-23 10:35] sandrobonazzola commented on #2074
Fixed and turned on automation to prevent broken images.

[2020-06-23 10:35] #2074 closed

[2020-06-23 10:41] sandrobonazzola commented on #2124
Removing docker support with #2262

[2020-06-23 10:41] #2124 closed

[2020-06-23 11:03] #2254 closed

[2020-06-23 12:05] sandrobonazzola opened #2263 "Autogenerated pages point to github resulting in 404 error"
### Description of the problem

Autogenerated pages like indexes (eg. https://ovirt.org/release/ ) show footer pointing to github for "Edit this page" and "Report an issue with this page".
Since the page is autogenertated there is no corresponding github link, resulting in a 404 error page.
We should have a condition on source/_includes/footer.haml to skip these links on auto-generated pages.

###

[2020-06-23 12:06] sandrobonazzola commented on #2263
@duck-rh I don't know ruby enough to fix this myself, can you handle?

[2020-06-23 12:30] duck-rh commented on #2263
@sandrobonazzola yes, will have a look at it.

[2020-06-24 05:49] #2263 closed

[2020-06-24 06:15] duck-rh commented on #2137
Republishing posts is possible with various plugins but comments are a different beat.

I found two interesting plugins (Reddit for Keyring and Reddit Embed) but both have not been updated for 5-6 years and I could not find anything properly maintained so far. I will revisit this topic but at the moment I do not have any solution to suggest.

[2020-06-24 06:18] duck-rh commented on #2077
I can still reproduce it.

[2020-06-24 06:20] #2154 closed

[2020-06-24 06:52] sandrobonazzola commented on #2077
I still can't reproduce.
With Google Chrome 83.0.4103.116:
![Schermata da 2020-06-24 08-48-27](https://user-images.githubusercontent.com/937860/85510509-b8312700-b5f7-11ea-92cc-9e910d8ab952.png)

![Schermata da 2020-06-24 08-48-21](https://user-images.githubusercontent.com/937860/85510535-c54e1600-b5f7-11ea-80c2-ed89c1a644ee.png)

With Firefox 68.9.0esr
![Schermata da 2020-06-24 08-48-53](https://

[2020-06-24 07:06] duck-rh commented on #2077
I'm on Firefox 77.0.

You need to scroll down so that on of the "back to top" link happen to be right at the bottom of the header bar. That does not happen all the time and it seems to only affect the bottom of the header.

[2020-06-24 07:08] duck-rh commented on #2077
Here's a new screenshot:

![20200624-160658_screenshot](https://user-images.githubusercontent.com/19259504/85512468-e5e89100-b634-11ea-863e-dc32c26cde4a.png)

[2020-06-24 07:21] sandrobonazzola commented on #2077
Can you share details about your browser?

[2020-06-24 07:25] sandrobonazzola commented on #2077
ok, now I reproduced. Issue is that  back to top link has z-index: 500; while the top bar has z-index: 100;
So when you scroll to the bottom of the page the "back to top" link is over the header bar.

[2020-06-24 08:33] #2077 closed

[2020-06-26 19:35] StormyOS opened #2268 "Issue: /404.html"
This page:

https://www.ovirt.org/documentation/admin-guide/virt/console-client-resources/

used to be active, now returns 404:

this is archived version: https://web.archive.org/web/20170218150225/https://www.ovirt.org/documentation/admin-guide/virt/console-client-resources/

[2020-06-29 15:33] sandrobonazzola commented on #2268
Hi, did you come to that page from any other website link?
The page you're pointing has been merged with other parts in https://ovirt.org/documentation/vmm-guide/chap-Additional_Configuration.html

[2020-06-29 16:07] StormyOS commented on #2268
It's linked from MANY places, to name a few:
https://github.com/oVirt/moVirt/issues/303
https://lists.ovirt.org/pipermail/users/2018-March/087559.html
https://bugzilla.redhat.com/show_bug.cgi?id=1389321
https://bugzilla.redhat.com/show_bug.cgi?id=1318605
https://bugzilla.redhat.com/show_bug.cgi?id=1353293
https://quorten.github.io/quorten-blog1/blog/2018/10/10/ovirt-howto

Typically pages that cha

[2020-07-02 10:34] stoobie commented on #2268
@sandrobonazzola  I don't understand something. The original (now missing) page discusses SPICE, VNC and RDP protocols:
https://www.ovirt.org/documentation/admin-guide/virt/console-client-resources/

I don't see any of that mentioned at the page you say now includes that content: https://ovirt.org/documentation/vmm-guide/chap-Additional_Configuration.html

[2020-07-02 12:53] duck-rh commented on #2268
@sandrobonazzola I agree with @stoobie , I could not find the previous content about all available clients and how to use them anywhere.

[2020-07-03 08:50] sandrobonazzola commented on #2268
I can see a "Configuring Console Options" section on that page.

[2020-07-06 14:12] chierici opened #2275 "Issue: /"
### Description of the problem
No email received trying to sign up for the forum

#### Type of problem?
I tried several times to register a new account to get access to the user forum but I never receive the confirmation email. I tried both with a gmail account and a corporate one.
Please fix it asap

[2020-07-07 06:47] sandrobonazzola opened #2277 "Ruby Sass has reached end-of-life and should no longer be used"
### Description of the problem

#### Type of problem?
Dependency reached EOL

running the setup, bundler report the following message:

We should consider following the suggestion here.

#### Help needed from @duck-rh

[2020-07-07 06:52] sandrobonazzola commented on #2275
Hi, I suppose you're trying to subscribe through https://lists.ovirt.org/admin/lists/users.ovirt.org/
I don't see any subscription request pending there, did you succeed?
Subscription to mailing list require approval for reducing the spam, it takes a while (usually less than a day) between the subscription request and its approval.

[2020-07-07 10:18] chierici commented on #2275
I've tried several times, the page I'm trying to subscribe from is:
https://lists.ovirt.org/accounts/signup/?next=%2Fadmin%2Flists%2Fusers.ovirt.org%2F

If I try to subscribe again, I get an error because email/user is already registered, then I get a screen with a warning about a confirmation email that has been sent to my address, but I don't get any message at all. So basically I'm stuck.
Can y

[2020-07-07 10:49] duck-rh commented on #2275
@chierici I saw two accounts that could be you in the database and they are already verified (meaning the email address was checked). Now you just need to login here (https://lists.ovirt.org/accounts/login/) first before being able to subscribe to a list.

If you forgot your password there is a `Forgot Password?` link on the same page.

I would also point out you need to be careful about which of

[2020-07-07 12:56] chierici commented on #2275
Sorry but it's not working. I've never received the confirmation email and hence I couldn't confirm the account. Trying to log in I keep beeing redirected to the page asking me to verify my email.  (Confirmation e-mail sent to axxxx@gmail.com).
Why is it so difficult??!!

[2020-07-07 13:45] sandrobonazzola commented on #2275
@chierici we are using hyperkitty software there and as all sofware it may have bugs or crashes. We are looking into what's going on. As @duck-rh said, on hyperkitty database everything looks fine so it may be an issue with the mailer program. Please let us investigate and have the time to fix the issue.

[2020-07-07 14:06] chierici commented on #2275
Something finally happened, even old confirmation emails started to arrive. Now I was able to sign-in. Thanks a lot guys! Didn't mean to be rude atall!

[2020-07-07 14:08] sandrobonazzola commented on #2275
Glad to see this has been solved. Closing the ticket.

[2020-07-07 14:08] #2275 closed

[2020-07-07 14:22] duck-rh commented on #2275
@chierici thanks to another bug report which is totally unrelated I was able to find a problem on the server, sorry.

[2020-07-08 17:49] BrianSipos opened #2287 "Issue: /documentation/upgrade_guide/"
### Upgrade to 4.4 does not describe how to handle Gluster brick migration

#### Documentation issue

Within the section "Migrating hosts and virtual machines from oVirt 4.3 to 4.4" there is discussion about installing a fresh CentOS 8 and then re-enrolling the host in the cluster, and the next section discusses how to migrate local storage data. But there is no mention anywhere in the document ab

[2020-07-08 20:21] BSipos-RKF opened #2288 "Issue: /release/4.3.10/"
### Description of the problem
oVirt 4.3.10 release notes indicate it is usable on CentOS 7.7 but actual packages require CentOS 7.8 on host.

#### Type of problem?
Content issue

The text at the top of the 4.3.10 indicates that it is compatible with CentOS 7.7 but when I try to install on a 7.7 host I get a failed dependency from vdsm to lvm2 package. I see from the release notes at <https://list

[2020-07-09 09:09] sandrobonazzola commented on #2288
Thanks for reporting, fixing

[2020-07-09 09:10] sandrobonazzola commented on #2288
Fixed by #2290

[2020-07-09 09:10] #2288 closed

[2020-07-17 15:16] sandrobonazzola commented on #1633
This is fixed now.

[2020-07-17 15:16] #1633 closed

[2020-07-17 15:19] sandrobonazzola commented on #1932
Bug https://bugzilla.redhat.com/show_bug.cgi?id=1652301 has been fixed and admin guide has been updated.
@didib can you check everything has been done and close this issue?

[2020-07-17 15:22] sandrobonazzola commented on #2171
Documentation for oVirt 4.4 has been updated and rh-postgresql95 is not used anymore. Closing this issue.

[2020-07-17 15:22] #2171 closed

[2020-07-17 15:45] sandrobonazzola commented on #2170
This has been fixed, https://ovirt.org/documentation/administration_guide/#Adding_KVM_as_an_External_Provider

[2020-07-17 15:45] #2170 closed

[2020-07-17 15:54] sandrobonazzola commented on #2175
@shenitzky , @nirs , @tnisan can you please help here?

[2020-07-23 15:49] a355023721 opened #2301 "variable-file"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2020-07-26 07:28] #2301 closed

[2020-07-28 08:24] sandrobonazzola commented on #1363
@jan-zmeskal referenced page doesn't exist anymore, can you please check documentation again and provide feedback if we can close this issue?

[2020-07-28 09:07] jan-zmeskal commented on #1363
MAC address pool is now correctly referenced in creating a new cluster chapter: https://ovirt.org/documentation/administration_guide/#Creating_a_New_Cluster
Therefore closing

[2020-07-28 09:07] #1363 closed

[2020-08-01 16:18] sandrobonazzola opened #2309 "Issue: /community/"
### Description of the problem

#### Type of problem?
Content issue

Translate section points to https://translate.zanata.org/ while we are now using https://zanata.phx.ovirt.org/

[2020-08-01 16:21] sandrobonazzola opened #2310 "Issue: /develop/infra/becoming-an-infrastructure-team-member.html"
### Description of the problem

#### Type of problem?
Content issue | Formatting issue

Page should be moved from develop to community. There is also some formatting issue around the infra mailing list address.

[2020-08-05 07:52] didib commented on #1932
Current doc [1] says:

7. Set the private key owner to root and set the permissions to 0640:

# chown root:ovirt  /etc/pki/ovirt-engine/keys/apache.key.nopass
# chmod 640 /etc/pki/ovirt-engine/keys/apache.key.nopass

...

11. Copy the /etc/ovirt-engine/ovirt-websocket-proxy.conf.d/10-setup.conf file, and rename it with an index number that is greater than 10 (for example, 99-setup.conf). Add the f

[2020-08-05 07:52] #1932 closed

[2020-08-20 12:31] AlbanVidalenche opened #2317 "Issue: /404.html"
I got a 404 error when I clicked on "oVirt Metrics Store Installation Guide"

In the bottom of this page : https://www.ovirt.org/develop/release-management/features/metrics/metrics-store-all-in-one.html
If you click on "oVirt Metrics Store Installation Guide", it takes you to:
https://www.ovirt.org/documentation/metrics-install-guide/metrics-install-guide
This page doesn't exist.

The right URL se

[2020-08-31 18:39] GhostViz opened #2325 "chap-Deploying_Hyperconverged.html has incorrect Prev and Next links"
### Description of the problem
The URLs for Prev and Next are one directory too high due to `../` in the `href` section of the anchor tag.

#### Type of problem?
404

[2020-09-01 13:13] sandrobonazzola commented on #2325
Fixed by #2326

[2020-09-01 13:13] #2325 closed

[2020-09-02 15:45] sandrobonazzola commented on #2317
Fixed by #2327

[2020-09-02 15:45] #2317 closed

[2020-09-02 15:54] sandrobonazzola commented on #742
The hook was removed in oVirt 4.2, specifically within vdsm-4.20.1 with https://gerrit.ovirt.org/#/c/66398/
@michalskrivanek , @ahadas how do you want to proceed?
Drop the page? Keep it for reference but fix it?

[2020-09-03 07:28] michalskrivanek commented on #742
4.2 is old enough, we can drop it. it doesn't really provide much historical value either.

[2020-09-03 08:55] #742 closed

[2020-09-03 19:24] celestehorgan opened #2329 "kubernetes.io oVirt topic to be removed"
### Description of the problem

oVirt documentation on kubernetes.io is about to be removed in https://github.com/kubernetes/website/pull/23500. If your team wants to, migrate the content [in this file](https://github.com/kubernetes/website/blob/fc3a6220bf81957dfdc5f78577d212fb3404665a/content/en/docs/setup/production-environment/on-premises-vm/ovirt.md) to your own documentation website.

#### Ty

[2020-09-04 09:48] #743 closed

[2020-09-04 09:50] sandrobonazzola commented on #2175
@yss126 did you succeed? Found help on users@ovirt.org?

[2020-09-04 09:53] sandrobonazzola commented on #2329
@gekorob, @Gal-Zaidman, @eslutsky, @rgolangh is this still relevant?

[2020-09-06 06:59] Gal-Zaidman commented on #2329
Well, we can add a section in the ovirt docs for OCP/k8s related content,
Don't think this is a high priority since we have docs on the OCP project.

[2020-09-16 15:48] sandrobonazzola opened #2331 "Issue: /develop/developer-guide/db-issues/db-model.html"
### Description of the problem

#### Type of problem?
Lost functionality / Obsolete docs

Page at https://ovirt.org/develop/developer-guide/db-issues/db-model.html
Refers to oVirt Engine and oVirt DWH database schema which should be automatically generated on every change of the schema within the git repositories.

Apparently the generation was done using 2 jenkins jobs which doesn't exist anymore

[2020-09-16 16:26] prstaniforth opened #2332 "Issue: /documentation/upgrade_guide/"
### Description of the problem

#### Type of problem?
Documentation issue

in the upgrade guide in the Prerequisites section it has 4.4-Beta instead of 4.4
Ensure your environment meets the requirements for oVirt 4.4-beta. For a complete list of prerequisites, see the Planning and Prerequisites Guide.

[2020-09-18 14:38] sandrobonazzola commented on #2332
Thanks for reporting!

[2020-09-21 12:00] mwperina commented on #2331
Eli, could you please take a look?

@emesika

[2020-09-21 20:52] emesika commented on #2331
Sandro, this is very old and AFAIK not working for at least 5 years, since DB schema changes are rare I would not invest in automatic generation, rather maybe generate the schema per release

[2020-09-22 06:14] mwperina commented on #2331
Eli, could you please post a PR to remove that page?

[2020-09-22 22:58] emesika commented on #2331
I have done & tested the change locally in my machine as explained
PR is available to review at
https://github.com/oVirt/ovirt-site/pull/2339

[2020-09-23 06:01] sandrobonazzola commented on #2331
closed by #2339

[2020-09-23 06:01] #2331 closed

[2020-09-23 06:02] #2332 closed

[2020-09-23 06:15] sandrobonazzola commented on #2331
thanks, merged

Il giorno mer 23 set 2020 alle ore 00:58 emesika <notifications@github.com>
ha scritto:

--

Sandro Bonazzola

MANAGER, SOFTWARE ENGINEERING, EMEA R&D RHV

Red Hat EMEA <https://www.redhat.com/>

sbonazzo@redhat.com
<https://www.redhat.com/>

*Red Hat respects your work life balance. Therefore there is no need to
answer this email out of your office hours.
<https://mojo.redhat.com/

[2020-09-23 16:32] sandrobonazzola commented on #1228
All internal links have been fixed, automation is in place now to prevent it to get broken again.
There are still a few external links to be fixed but at least the site is consistent.

[2020-09-28 14:46] sandrobonazzola commented on #2268
Restoring the original page in #2352

[2020-09-28 14:58] sandrobonazzola commented on #2268
fixed by #2352

[2020-09-28 14:58] #2268 closed

[2020-09-28 15:54] #1228 closed

[2020-09-29 13:40] sandrobonazzola commented on #2310
Fixed by #2353

[2020-09-29 13:45] sandrobonazzola commented on #1857
@stoobie , @rolfedh can you please have a look here?

[2020-09-29 16:24] emarcusRH commented on #1857
@sandrobonazzola , @gregsheremeta  this looks to me like it is only mentioned in the upstream at the moment -
we have no explanations for LVM in the RHV documentation,
- I found one reference to an old  [KCS article](https://access.redhat.com/solutions/2662261) in a note under [Preparing_iSCSI_Storage](https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.4/html-single/administrat

[2020-09-30 06:13] stoobie commented on #1857
@emarcusRH I took a look at the Administration Guide and I see that in *Understanding Storage Domains*[1], there's a reference to a document called *Red Hat Enterprise Linux Logical Volume Manager Administration Guide*. It might be worthwhile to check if that document is relevant for RHEL 8, and update the reference if necessary. Should this point to  [configuring and managing local volumes](https

[2020-09-30 07:36] tehnic-take3 commented on #1857
Hello
On Tue, 2020-09-29 at 23:14 -0700, Steve Goodman wrote:

This is already done in [1] in "11.5.1. Preparing iSCSI Storage":
Important
If you are using block storage and you intend to deploy virtual
machines on raw devices or direct LUNs and to manage them with the
Logical Volume Manager, you must create a filter to hide the guest
logical volumes. This will prevent guest logical volumes from b

[2020-10-01 05:33] sandrobonazzola commented on #728
Fixed by #2354

[2020-10-01 05:33] #728 closed

[2020-10-01 05:34] sandrobonazzola commented on #1933
Fixed by #2355

[2020-10-01 05:34] #1933 closed

[2020-10-09 06:50] sandrobonazzola commented on #2175
Closing due to inactivity

[2020-10-09 06:50] #2175 closed

[2020-10-12 09:37] sandrobonazzola commented on #385
http://www.ovirt.org/develop/release-management/
now shows 4 groups:

- Features (Design documents)
- Process
- Proposals
- Releases

Features are then also categorized by team (https://www.ovirt.org/develop/release-management/features/)

[2020-10-12 09:37] #385 closed

[2020-10-12 09:44] sandrobonazzola commented on #1678
Page moved to https://www.ovirt.org/develop/troubleshooting-nfs-storage-issues.html

The content reported not working is still there.

@nirs , @shenitzky , @vjuranek , @tnisan can you please handle?

[2020-10-12 11:39] sandrobonazzola commented on #1897
@gobindadas can you take care of getting this guide updated?

[2020-10-30 18:43] jasonbrooks commented on #203
Sorry for the delay, @sandrobonazzola. I added the link to the footer. Does that work?

[2020-11-02 07:01] sandrobonazzola commented on #203
Thanks @jasonbrooks , works for me. Closing.

[2020-11-02 07:01] #203 closed

[2020-11-03 09:07] sonulodha opened #2378 "Issue: /404.html"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2020-11-03 09:08] sonulodha opened #2379 "Issue: /404.html"
404
Not found

Sorry, but the page you were trying to view does not exist.

[2020-11-03 16:37] sandrobonazzola commented on #2378
closing as duplicate of #2379

[2020-11-03 16:37] #2378 closed

[2020-11-03 16:38] sandrobonazzola commented on #2379
Hi @sonulodha, can you please share which page you were trying to reach and from where?

[2020-11-04 11:46] stoobie opened #2380 "[Docs][Upgrade] Need to specify ovirt repo in topic Updating Ovirt Engine"
#### Description of the problem
In the topic "Updating the Ovirt Engine", it refers to an assembly-level prerequisite instead of specifying it in the correct place. Duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1894505.

#### Type of problem?
Documentation issue

[2020-11-04 11:47] stoobie opened #2381 "[Docs][Upgrade] Need to specify ovirt repo in topic Updating oVirt Engine"
#### Description of the problem
In the topic "Updating the Ovirt Engine", it refers to an assembly-level prerequisite instead of specifying it in the correct place. Duplicate of https://bugzilla.redhat.com/show_bug.cgi?id=1894505.

#### Type of problem?
Documentation issue

[2020-11-04 11:50] #2380 closed

[2020-11-04 11:51] stoobie commented on #2380
There was an error when I created this pull request that resulted in a duplicate (#2381). So I'm closing this one.

[2020-11-04 13:02] sandrobonazzola commented on #2381
Fixed by #2382

[2020-11-04 13:02] #2381 closed

[2020-11-06 17:10] sandrobonazzola commented on #2379
Closing, please reopen if you can provide requested information

[2020-11-06 17:10] #2379 closed

[2020-11-10 13:02] nkovacne opened #2389 "Allow cloning a VM in the VM Portal"
#### Description of the problem

The feature of cloning a VM was available in the old User Portal and it's not supported anymore by the newer VM Portal (since oVirt 4.3). In our case, oVirt is used by hundreds of students who deploy their machines, and this feature was useful to them since they deploy cluster, HA topologies and so and they earned a lot of them cloning the VMs instead of deploying

[2020-11-12 14:00] sandrobonazzola commented on #2389
Please report this to bugzilla.redhat.com, this issue tracker is for the oVirt website content

[2020-11-12 14:00] #2389 closed

[2020-11-12 14:08] nkovacne commented on #2389
Added as https://bugzilla.redhat.com/show_bug.cgi?id=1897175

[2020-11-15 18:37] emarcusRH commented on #2132
Updating the Virtual Machine Management Guide in the downstream - RHV 4.4
https://gitlab.cee.redhat.com/rhci-documentation/docs-Red_Hat_Enterprise_Virtualization/-/merge_requests/1853

[2020-11-26 16:43] sandrobonazzola commented on #1968
closing with #2395

[2020-11-26 16:43] #1968 closed

[2020-12-09 16:09] sandrobonazzola commented on #2287
@gobindadas can you please have a look?

[2020-12-18 06:38] sandrobonazzola commented on #2309
closed by #2406

[2020-12-18 06:38] #2309 closed

[2020-12-30 14:46] didib opened #2412 "NO-BREAK SPACE aka U+00A0 aka NBSP in MD source"
The markdown files have lots of NBSP in places where a plain space would be better.

This makes it harder to miss stuff on searches - if your search pattern includes a space, and the source has NBSP, you'll miss it.

We should:

1. Replace (probably) all of them with spaces
2. Somehow prevent adding more - in git hooks, CI, whatever.

This isn't an issue with the generated site - they are correctl

[2020-12-31 16:24] stoobie opened #2413 "[Docs] Menu delimiters in oVirt documentation are corrupted"
### Description of the problem
The delimiters in descriptions of cascading menu items do not appear correctly. See attached screenshot of https://www.ovirt.org/documentation/administration_guide/#Removing_a_host for example.

#### Type of problem?
Documentation formatting issue.

Browser: Firefox 78.4.0esr (64-bit) for Linux

![corrupted_delimiters](https://user-images.githubusercontent.com/392792

[2021-01-11 07:21] gobindadas commented on #2287
@sandrobonazzola Soon will send patch.

[2021-01-19 01:43] yclfxiang opened #2424 "invalid continuation byte"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2021-01-19 01:43] #2424 closed

[2021-01-29 06:24] #2412 closed

[2021-01-29 16:57] sandrobonazzola commented on #2329
@stoobie anyone in doc team willing to pick this task?

[2021-01-29 17:15] sandrobonazzola commented on #2413
Compute -> hosts is translated to html:

[code]

same code is rendered in RHV guide as:
[code]

The common asciidoc code is:
[code]

Need to find out how this is being translated.

[2021-01-29 17:16] sandrobonazzola commented on #2413
@duck-rh any suggestion?

[2021-01-29 17:20] sandrobonazzola commented on #2287
@gobindadas any update?

[2021-02-01 11:19] duck-rh commented on #2413
@sandrobonazzola I'm having a look at it. It's related to the Awesome font and icons rendering. I'm not familiar with this, so I'm investigating. Bumping `jekyll-font-awesome-sass` to the latest version does not improve the situation.

[2021-02-07 15:08] emarcusRH commented on #1857
https://gitlab.cee.redhat.com/rhci-documentation/docs-Red_Hat_Enterprise_Virtualization/-/merge_requests/1909
- added mention of the vdsm-tool command
- updated link to point to the ovirt blog

[2021-04-06 07:01] 7Edge opened #2456 "Issue: /"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

#### Type of problem?
Documentation issue | Content issue | Formatting issue

[2021-04-06 07:01] #2456 closed

[2021-04-20 15:11] emarcusRH commented on #1857
as per https://bugzilla.redhat.com/show_bug.cgi?id=1883943,
I added a new section of instructions for the LVM filter in the Red Hat Virtualization  Administration Guide -
https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.4/html-single/administration_guide/index#Creating_LVM_filter_storage_admin

[2021-04-29 10:19] bencurio commented on #2413
The source of the problem is an extra class.

![image](https://user-images.githubusercontent.com/7604637/116536237-f3ba1300-a8e4-11eb-825f-63ac59dd059e.png)

If I remove it, it will display correctly.

![image](https://user-images.githubusercontent.com/7604637/116536364-19dfb300-a8e5-11eb-8d0d-85ad5e9aa17e.png)

[2021-04-29 12:02] sandrobonazzola commented on #2413
seems like the issue is here: https://github.com/asciidoctor/asciidoctor/blob/9137bf05ca5458bc62ed33a11cf85265b8c85ce8/lib/asciidoctor/converter/html5.rb#L1232 on RHV docs we use the font and in ovirt we are using the icon.

[2021-04-30 15:58] bencurio commented on #2413
Hmm... The problem is actually caused by the bootstrap CSS, which can be found here:

https://github.com/twbs/bootstrap-sass/blob/v3.4.1/assets/stylesheets/bootstrap/_dropdowns.scss#L6-L17

It seems that the best solution would be to overwrite the CSS locally.

I would suggest that you use the first CSS code part of my last comment, which has the least possible impact on other page elements.

Shou

[2021-05-03 07:39] sandrobonazzola commented on #2413
Ok, let's go with your proposal. Can you send a PR for it?

[2021-05-04 06:19] #2413 closed

[2021-05-05 19:17] bencurio commented on #2137
I started working on an integration in Golang that can synchronize WordPress posts to a specific subreddit page. When the first working version is ready, I'll paste the URL of the repo here.

[2021-05-10 10:35] duck-rh commented on #2413
thanks a lot @bencurio I was not able to spot the problem.

@sandrobonazzola The fix as is is fine but I'm wondering why do we use icons instead of the font, since nowadays fonts are more complete and many are available as webfonts. Maybe we should consider trying using the same as RHV, that would also remove a diverging setting.

[2021-05-10 10:49] stoobie commented on #2413
+1

[2021-05-16 09:33] surendra10125 opened #2495 "Issue: /getting 500 internal server error"
after update the packages in engine gui it restarted and then it is showing 500 internal server error

[2021-05-17 07:57] sandrobonazzola commented on #2495
Please open a bug report at https://bugzilla.redhat.com/enter_bug.cgi?product=ovirt-engine including as many details as possible.

[2021-05-17 07:57] #2495 closed

[2021-05-17 07:59] sandrobonazzola commented on #1897
We are deprecating cockpit based installation, so closing thie ticket.

[2021-05-17 07:59] #1897 closed

[2021-05-17 15:16] duck-rh commented on #2495
@surendra10125 here is the place for the website and documentation, not the Engine UI.

[2021-05-21 09:20] sandrobonazzola commented on #2132
This will be solved on next documentation sync

[2021-05-21 09:22] sandrobonazzola commented on #1857
This is going to be fixed with next documentation sync

[2021-07-07 09:39] janosdebugs opened #2524 "oVirt blog header does not handle responsiveness well"
### Description of the problem

The oVirt blog header doesn't handle tablet sizes correctly. This has been fixed on the main site.

#### Type of problem?

Formatting issue

![image](https://user-images.githubusercontent.com/86970079/124737053-2137c400-df07-11eb-9008-6755d42b1051.png)

[2021-07-07 11:47] sandrobonazzola commented on #2524
@jasonbrooks can you help with this one?

[2021-07-07 13:48] sandrobonazzola opened #2528 "Issue: /develop/release-management/features/gluster/gluster-dr.html"
### Description of the problem

#### Type of problem?
404

- ./_site/develop/release-management/features/gluster/gluster-dr.html
  *  External link https://gluster.readthedocs.io/en/latest/Administrator%20Guide/Geo%20Replication/ failed: 404 No error

#### Help needed from @sabose

[2021-07-07 13:50] sandrobonazzola opened #2529 "Issue: /develop/release-management/features/network/lldp.html"
### Description of the problem

#### Type of problem?
404

- ./_site/develop/release-management/features/network/lldp.html
  *  External link http://standards.ieee.org/getieee802/download/802.1AB-2016.zip failed: 404 No error

#### Help needed from @dominikholler @almusil

[2021-07-07 13:58] saifabusaleh opened #2530 "can't access specific Developer guide pages from Developers tab"
#### Type of problem?
Documentation issue

I recently came across this guide by someone that linked me to it:  https://www.ovirt.org/develop/developer-guide/engine/building/ide.html

However, the guide is not accessible from the website

For example, if a normal user want to find the above page after entering https://www.ovirt.org website manually, how he can find it?

I found that there is few pa

[2021-07-07 16:41] sandrobonazzola commented on #2528
closed via #2531

[2021-07-07 16:41] #2528 closed

[2021-07-07 16:49] sandrobonazzola commented on #2530
I guess there are several other pages not linked within the website.
We have automation for detecting broken links but not for detecting orphan pages.
The specific page is indexed from https://ovirt.org/develop/developer-guide/engine/building/index.html but not linked in any other page as far as I can tell.

The whole developer section is largely unmaintained and that's the reason it's marked as o

[2021-07-07 17:25] saifabusaleh commented on #2530
I agree,
I think all the not-outdated pages should be simply accessed from single place (for example: https://www.ovirt.org/develop/devdocs.html)
Current structure is really confusing and there is no single place that contains all the developer docs information

Let me know how I can contribute/help with this :)

[2021-07-08 06:16] sandrobonazzola commented on #2530
@sanjacodes @janosdebugs you may have thoughts on this as well.
We should give some organized structure to the developer section to ease new developers onboarding experience.
I'm open to suggestions :-)

[2021-07-08 06:38] janosdebugs commented on #2530
@sandrobonazzola we just discussed this and we'd be happy to take on reorganizing the website. It isn't too much work. However, we are going to need help with writing the part how oVirt is developed as we are not oVirt developers ourselves and don't have a dev env for it.

[2021-07-08 08:37] sandrobonazzola opened #2533 "Issue: /develop/release-management/features/storage/backup-restore-disk-snapshots.html"
### Description of the problem

- ./_site/develop/release-management/features/storage/backup-restore-disk-snapshots.html
  *  External link https://github.com/oVirt/ovirt-engine-sdk/blob/master/sdk/examples/download_disk_snapshots.py failed: 404 No error

#### Type of problem?
404

#### Help needed from @danielerez @bennyz

[2021-07-08 08:39] sandrobonazzola opened #2534 "Issue: /develop/release-management/features/network/networking-api-security-groups.html"
### Description of the problem

- ./_site/develop/release-management/features/network/networking-api-security-groups.html
  *  External link http://www.openvswitch.org/support/dist-docs/ovn-nb.5.html failed: 404 No error

#### Type of problem?
404

#### Help needed from @maiqueb @almusil

[2021-07-08 08:41] sandrobonazzola opened #2535 "Issue: /develop/release-management/features/metrics/metrics-store-all-in-one.html"
### Description of the problem

- ./_site/develop/release-management/features/metrics/metrics-store-all-in-one.html
  *  External link https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_ovirt failed: 404 No error

#### Type of problem?
404

#### Help needed from @sradco @avlitman

[2021-07-08 08:43] almusil commented on #2534
After the ovs/ovn split they moved it moved to https://www.ovn.org/support/dist-docs/ovn-nb.5.html I will create PR for it.

[2021-07-08 11:49] #2529 closed

[2021-07-08 11:49] #2534 closed

[2021-07-08 12:54] sandrobonazzola opened #2537 "Rebase on ruby > 2.5 as 2.5 reached EOL"
### Description of the problem

We are requiring ruby 2.5 but it gone EOL: https://www.ruby-lang.org/en/news/2021/04/05/ruby-2-5-9-released/
We should rebase on ruby version which is still maintained.

#### Type of problem?
Dependencies

#### Help needed from @duck-rh

[2021-07-08 16:10] saifabusaleh commented on #2530
Suggestion:

What about having all the developer docs with something similar to this structure: https://ovirt-infra-docs.readthedocs.io/en/latest/
also same structure is used for ost: https://ovirt-system-tests.readthedocs.io/en/latest/general/installation/index.html

It is very simple, all the guides is accessible/searchable from one place

I know that moving all the dev docs into other website w

[2021-07-08 19:11] janosdebugs commented on #2530
Thank you for your suggestion @saifabusaleh. We had a meeting with @sandrobonazzola and we have decided that we are taking on the challenge of reorganizing the content with @sanjacodes.

The main challenge will be organizing the content in a meaningful fashion as there are loads of orphaned pages, files that were never finished, etc. so we need to go through and weed out the useless parts.

As for

[2021-07-09 13:23] duck-rh commented on #2530
As far as I know nothing was decided about a migration to Hugo, or my team was not included in the discussion. There's a plethora of website generator and each and everyone comes with their own personal preferences, so unless we have good reason to support yet one more engine, or someone else takes over the whole maintenance and support from OSPO's shoulders then no such thing is going to happen.

[2021-07-12 07:48] danielerez commented on #2533
Should be replaced with:
https://github.com/oVirt/ovirt-engine-sdk/blob/master/sdk/examples/download_all_disk_snapshots.py

[2021-07-12 08:28] danielerez commented on #2533
PR: https://github.com/oVirt/ovirt-site/pull/2539

[2021-07-13 07:57] sandrobonazzola commented on #2533
Closed via #2539

[2021-07-13 07:57] #2533 closed

[2021-07-30 11:01] #2535 closed

[2021-08-07 09:53] sandrobonazzola commented on #2530
Another related thread @janosdebugs https://lists.ovirt.org/archives/list/users@ovirt.org/thread/VXXYO4KAINCVW4ENQOURATYY3OW5HRXQ/

[2021-08-19 16:04] sstagnaro opened #2559 "New Download page proposal"
### Description of the problem
Both **Download** page and **Alternate Downloads** page are currently an abstract of the Installation guides. This can lead to confusion because they don't provides sufficient details.

#### Proposal
The new download page could be re-designed with a chained combo box filled with simple questions, in order to discover the desired architecture and provide the link to t

[2021-08-31 12:00] nzubarev122 opened #2563 "ovirt go sdk"
Hello.

I need help creating a virtual machine using https://github.com/oVirt/go-ovirt
I need set cmdline vm , Please help me

my create vm configuration, but cmd not set

image.png

Vm(
   ovirtsdk4.NewVmBuilder().
      Name(*name).
      Console(
         ovirtsdk4.NewConsoleBuilder().
            Enabled(true).
            MustBuild()).

      Memory(ram2 * int64(1<<30)).
      MemoryPolicy(

[2021-09-01 08:45] nzubarev122 commented on #2563
here https://github.com/oVirt/ovirt-engine-sdk-go/issues/238

[2021-09-20 06:55] emarcusRH commented on #2287
This content is now live in the oVirt documentation portal - https://www.ovirt.org/documentation/upgrade_guide/index.html#Upgrading_hypervisor_preserve_gluster_storage

[2021-09-20 06:55] #2287 closed

[2021-10-15 06:50] sandrobonazzola commented on #2559
@sstagnaro any chance you are also able to implement this?

[2021-10-15 06:52] sandrobonazzola commented on #2563
@janosdebugs can you please review?

[2021-10-15 07:41] janosdebugs commented on #2563
Hello @nzubarev122,

What exactly are you trying to do? Can you show an example of what cmdline you would want to set?

Also note, that the go-ovirt SDK is auto-generated. Not every function that's in here actually works. We are working on a [better SDK with limited functionality](https://github.com/ovirt/go-ovirt-client). Feel free to open issues on that repository for features you need.

[2021-10-19 12:20] j3hst3hr opened #2595 "Issue: /documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/"
### Description of the problem

Missing word/command in instructions under section 3.2

#### Type of problem?

Under section 3.2 "Enabling the oVirt Engine Repositories" subsection 1 is to "Enable the javapackages-tools module". The command to run is missing 'enable'

Currently it shows:
# dnf module -y javapackages-tools

It should be:

# dnf module -y enable javapackages-tools

![image](https://

[2021-10-19 23:14] mathgonzlez opened #2597 "Issue: /documentation/installing_ovirt_as_a_self-hosted_engine_using_the_command_line/"
### Description of the problem

Typing error in line:

CHANGE:
# nmcli con mod vlan50 +ipv4.dns 8.8.8.8 +ipv4.addresses 123.123.0.1/24 +ivp4.gateway 123.123.0.254

TO:
# nmcli con mod vlan50 +ipv4.dns 8.8.8.8 +ipv4.addresses 123.123.0.1/24 +ipv4.gateway 123.123.0.254

#### Type of problem?
Documentation issue

[2021-10-20 11:42] stoobie opened #2599 "Issue: Contributing guidelines should state prerequisites"
I am not able to preview the site locally by following these instructions in CONTRIBUTING.MD:

[code]
### Description of the problem
I do not have rvm or Ruby 2.7 installed by default, and I am having other issues as well, and I'm still not able to successfully preview my changes.

#### Type of problem?
Documentation issue

#### Help needed from someone knowledgeable about this process.

[2021-10-20 12:59] #2595 closed, assigned to emarcusRH

[2021-10-21 08:25] apinnick opened #2605 "Issue: Default "master" branch > "main""
As part of its conscious language initiative, Red Hat recommends calling the default branch "main" instead of "master".

[2021-11-17 13:30] stoobie opened #2632 "Need guidelines on how to contribute to oVirt documentation."
### Description of the problem

The community requires guidelines on how to contribute to oVirt documentation.

#### Type of problem?
Documentation issue, Content issue

Need to provide details on what info is required in a PR description.

We can also leverage the OpenShift guidelines:
https://github.com/openshift/openshift-docs#contributing-to-openshift-documentation

[2021-11-28 07:22] didib opened #2641 ""Planning and Prerequisites Guide" is a link to RHV documentation"
Perhaps we should have an oVirt "Planning and Prerequisites Guide" and link to it instead.

Perhaps also include something like https://access.redhat.com/articles/906543 .

[2021-12-20 11:27] stoobie opened #2668 "Cockpit installation is no longer supported. Need to update website"
### Description of the problem

The Cockpit hosted-engine installation is no longer supported, and the Cockpit hosted-engine installation guide was removed. Need to update the website and the various projects to stop referring to this installation method.

#### Type of problem?
Content issue

#### Details
Pages that I found so far that need to be updated:

- [ovirt-web-ui README](https://github.co

[2022-01-11 17:03] sgratch commented on #2668
@stoobie can we close this as DONE?

[2022-01-12 07:42] sandrobonazzola commented on #2563
closing as stale. If you still need help on interacting with oVirt using Go I would recommend to discuss on users@ovirt.org mailing list.

[2022-01-12 07:42] #2563 closed

[2022-01-12 07:46] sandrobonazzola commented on #1946
Closing as ovirt-scheduler is being deprecated in 4.4 and removed in 4.5 as per https://bugzilla.redhat.com/show_bug.cgi?id=2028192

[2022-01-12 07:46] #1946 closed

[2022-01-12 10:03] stoobie commented on #2668
@sgratch @emarcusRH You definitely addressed the specific occurrences I noticed and pointed out in the description.

However, the issue also states **I didn't do an exhaustive check across all the different oVirt sites, so someone needs to do that.**

If that hasn't yet been done, then you should create a new issue or leave this one open. @sandrobonazzola What do you think?

[2022-01-12 10:07] emarcusRH commented on #2668
I checked everything in the over-site repo at the root level - not only documentation.
Aside from old release notes and dev notes, there is no longer any mention of the SHE Cockpit install
feel free to close this issue

[2022-01-12 10:28] stoobie commented on #2668
This issue applies to github.com/ovirt, not just /ovirt/ovirt-site. But I don't see a way to add an issue to /ovirt.

[2022-01-19 10:22] stoobie opened #2688 "ovirt-documentation automatically tagged before PR is ready for peer review"
### oVirt documentation PRs should be reviewed first by SME and only after technical review is completed, by ovirt-documentation team.

This functionality occurs because ovirt-documentation is tagged in CODEOWNERS for /source/documentation.

Two possible ways to deal with this problem:
* oVirt documentation team does not review the PR until after SME has reviewed it.
* Remove ovirt-documentation f

[2022-01-20 07:06] sandrobonazzola commented on #2688
Fixed via #2689

[2022-01-20 07:06] #2688 closed

[2022-01-20 10:59] sandrobonazzola opened #2693 "asciidoctor reports invalid part within upgrade guide"
### Description of the problem

#### Type of problem?
Documentation issue
[code]

#### Help needed from @oVirt/ovirt-documentation

[2022-01-20 12:42] apinnick commented on #2693
Sandro, which log has this error? Is it a GitHub action? Local build?

[2022-01-20 12:44] sandrobonazzola commented on #2693
@apinnick noticed it while running local build as github actions were under outage

[2022-01-20 14:09] apinnick commented on #2693
If it showed up in your local build but it is not showing up in the GitHub actions logs, you don't need to worry about it.

RHV docs have some odd things that cause Asciidoctor errors but the docs still build. As long as the docs build on gh-pages, the site is fine.

It will take a while to align the docs with current Asciidoc requirements.

[2022-01-20 14:45] apinnick commented on #2693
@sandrobonazzola
I reran the GitHub actions for your PR. The Asciidoc error message appeared in the log but the site built successfully.

Since the error message is not blocking the build, I think we can close this issue.

[2022-01-20 14:45] #2693 closed

[2022-02-01 16:10] lessfoobar opened #2706 "2021 Conference is missing on the archived conferences"
The 2021 conference is missing [ovirt-archived-conferences-presentations-link](https://www.ovirt.org/community/archived_conferences_presentations.html).
Please add it up.

Thanks.

[2022-02-02 09:43] rwmjones opened #2709 "Documentation inaccurate for installing oVirt on RHEL"
### Type of problem?
Documentation issue

### Description of the problem

https://www.ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Enabling_the_Red_Hat_Virtualization_Manager_Repositories_install_RHVM

The documentation starts by saying you must enable `javapackages-tools` module, but this doesn't work on RHEL 8 out of the box.  The first step on

[2022-02-02 13:04] Conan-Kudo commented on #2709
I'm not sure if advanced-virt is going to be required with RHEL 8.6? I've seen the rebases normally going into AV landing in CentOS Stream 8 proper...

[2022-02-02 13:08] rwmjones commented on #2709
Yes that is true.  However `codeready-builder-for-rhel-8-x86_64-rpms` is still needed.

[2022-02-02 13:10] Conan-Kudo commented on #2709
Yup, that's true.

[2022-02-03 10:58] #2706 closed

[2022-02-08 13:27] didib opened #2718 "Separate websocket-proxy is not documented"
The [RHV 4.3 admin guide](https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.3/html/administration_guide/sect-websocket_proxy) documented setting up websocket-proxy on a separate machine. Current guides do not.

No guides that I could find documented how to upgrade such a setup. Generally speaking, upgrading the websocket-proxy machine is the same as our general upgrade instruc

[2022-02-08 15:45] michalskrivanek commented on #2718
note it's been dropped from RHV 4.4 as a feature (since you quote RHV 4.3 doc)

[2022-02-08 15:58] emarcusRH commented on #2718
From the release notes (announced in RHV 4.4.4):
BZ#[1901073](https://bugzilla.redhat.com/1901073)
    Support for third party websocket proxy deployment is now deprecated, and will be removed in a future release.

[2022-02-08 17:17] michalskrivanek commented on #2718
it is. the 3rd party deployment is dropped. but the proxy is still there. it's just that we don't need to care about 3rd party upgrades

[2022-02-09 06:11] didib commented on #2718
I didn't remember that, thanks. Perhaps we should write somewhere that if you had a separate WSP before, when upgrading, you should configure one locally (with --reconfigure-optional-components), if you want to remain "compliant".

That said, not sure what this means in practice. We still support separate dwh+grafana, so almost all of the code required for separate WSP is already "covered" by thes

[2022-02-15 08:28] apinnick opened #2726 "Review requirement makes TWs less effective"
### Description of the problem

#### Type of problem?

Permissions issue

The review requirement for all PRs makes the RHV documentation team less effective. Can you create an exception for our team? We are in different time zones and have different weeks. That means that sometimes no one is available if we need to apply an urgent fix. It is also annoying if we need to fix a typo.

No other upstre

[2022-02-15 09:03] janosdebugs commented on #2726
Hey @apinnick there is, as far as I know, no way to remove the review requirement for a single team, it would remove the review requirement for all changes. If that's OK, @sandrobonazzola has permissions to remove this from the branch protection.

The alternative would be to remove the review requirement, but create a GitHub Action that checks the permission level of a user and the presence of a r

[2022-02-15 09:33] apinnick commented on #2726
@janosdebugs Thanks, Janos. I agree that creating a GH action to check a user's permission level is way too much work.

@sandrobonazzola Could you remove the review requirement for all changes? I assume that you don't give maintainer or contributor rights to hundreds of people. Most projects trust their maintainers to make intelligent choices about merging.

We have a peer review process for Red H

[2022-02-15 09:37] sandrobonazzola commented on #2726
The doc team can now bypass the review requirements, please let me know if it works for you.

[2022-02-15 09:38] janosdebugs commented on #2726
@sandrobonazzola what change did you do?

[2022-02-15 09:40] sandrobonazzola commented on #2726
I changed Settings -> Branches -> Branch protection rules -> master -> Allow specified actors to bypass pull request requirements -> Added "oVirt/ovirt-documentation" team.

[2022-02-15 09:44] janosdebugs commented on #2726
Oh, that's new, I didn't know that. Thanks!

[2022-02-15 09:45] janosdebugs commented on #2726
However, that means the docs team can also merge if CI doesn't pass, right? @apinnick docs folks have to be careful then.

[2022-02-15 11:37] apinnick commented on #2726
Yes, that is true. I will caution them and make sure that they check the status of the checks. I will also check whether they know how to revert a merge and I can help with troubleshooting if someone has problems.

I want to create a small PR to test this.

Thanks so much!

[2022-02-15 11:44] apinnick commented on #2726
@sandrobonazzola  I still get a blocked PR: https://github.com/oVirt/ovirt-site/pull/2727

[2022-02-15 11:52] sandrobonazzola commented on #2726
I see it's still running CI, I think the bypass is only on the review requirement. Let's wait for Ci to finish.

[2022-02-15 11:58] apinnick commented on #2726
@sandrobonazzola @janosdebugs
YES! It works. The weird thing is that the UI looks like it is blocking a merge. But when I clicked the **red** "Squash and merge" button, there was a check box to merge with my Admin privileges. So I will update the team on what to expect and make sure that they understand that they must wait for the checks to finish AND check the PR preview build.

Thank-you!

[2022-02-15 11:58] #2726 closed

[2022-02-16 16:35] sandrobonazzola commented on #2668
Let's consider this done for ovirt-site. We'll open an issue on the specific projects which will still mention cockpit installation.

[2022-02-16 16:35] #2668 closed

[2022-02-17 12:39] emarcusRH commented on #2668
AS far as I could find at this time, the only place that still had a link to the old SHE via Cockpit installation was the web admin portal - the login or welcome page, and according to Sharon Gratch, they managed to get it into the RHV 4.4.10 release.

[2022-02-17 19:15] henning opened #2732 "Issue: /develop/release-management/features/storage/spmpriority.html"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem

the abbreviation SPM is not explained and it appears to be a not very commin

[2022-02-22 15:01] apinnick commented on #2641
@sandrobonazzola  Who will write this guide? Can the existing downstream guide be adapted for oVirt?

[2022-02-22 15:05] apinnick commented on #2709
@sandrobonazzola @rwmjones
Does this issue apply only to oVirt? Or should we open a Bugzilla for RHV?

[2022-02-22 15:16] apinnick commented on #2641
I can check but I am fairly certain that the RHV docs team does not have the resources for writing upstream docs. The P&P downstream guide has been moved to GitHub. If someone wants to create an oVirt version using the existing files, that might be the easiest way to create an oVirt-specific guide. I am going to unassign this from myself.

[2022-02-22 15:42] sandrobonazzola commented on #2709
It's ovirt only.

[2022-02-22 15:46] sandrobonazzola commented on #2641
marked as help wanted, looking for contribution from community for preparing this guide for oVirt.

[2022-02-22 16:33] apinnick commented on #2709
In that case, do you object to my creating a label called 'upstream' so that we know that it only applies to upstream docs? Then we can tag the other upstream issue (P&P) guide as well.

[2022-02-23 12:24] sandrobonazzola commented on #2709
ok for me using upstream label

[2022-02-23 12:35] apinnick commented on #2709
Great. If we ever need a downstream label to indicate that the issue has to have a BZ created for RHV, I can create one. Should make it easier for us to keep the issues separate and to make sure they are triaged.

[2022-02-23 20:39] rwmjones commented on #2709
I only tried oVirt, don't know if it applies to RHV or not.

[2022-02-24 15:14] apinnick commented on #2709
Good point. It's worth looking at the installation guides to see whether this documentation is there as well. I will follow up on it.

[2022-02-24 17:48] dewongway opened #2737 "yum upgrade failed"

[2022-02-27 11:02] Frisch12 opened #2736 "ovirt.org and repositories down"
### Description of the problem
ovirt.org is down.

#### Type of problem?
something else

Nearly all hosts from ovirt.org are down. resources.ovirt.org is still responding, however mirrorlist.ovirt.org is not and ovirt.org itself, too.

@sandrobonazzola

[2022-02-28 06:20] duck-rh commented on #2736
Quack @Frisch12

We're currently experiencing a hardware issue affecting 2 hypervisors and several other blades. We're looking into it.

\\_o<

[2022-02-28 16:15] sandrobonazzola commented on #2737
Moved to the site because the upgrade guide needs an update too.
The guide is https://ovirt.org/documentation/upgrade_guide/index.html#Updating_the_Red_Hat_Virtualization_Manager_minor_updates

it says:
[code]

But as ansible-core is obsoleting ansible and we require an older ansible version, this command should be:

[code]

[2022-02-28 16:16] sandrobonazzola commented on #2737
@dewongway can you confirm that on your system running `dnf upgrade --nobest` solves ?

[2022-02-28 16:19] sandrobonazzola commented on #2737
@apinnick this is valid for both oVirt and RHV when RHEL 8.6 will GA as it introduces ansible-core 2.12 obsoleting ansible 2.9.
The `--nobest` won't be needed once we switch to ansible-core 2.12 in oVirt 4.5 but shouldn't cause no harm even keeping it once we switch.
@mwperina , @mnecas please keep me honest here :-)

[2022-03-02 07:38] jesusIban commented on #2736
lists.ovirt.org still down @duck-rh.

[2022-03-02 08:52] apinnick commented on #2737
I will create a bug if you are sure that `--nobest` will not be a problem in the future.

[2022-03-02 09:02] duck-rh commented on #2736
I'm pretty sure I tested the MLs too but I guess I didn't. There was a timeout mounting the second drive, probably because everything was rebooting at once, and systemd failed all the things and dropped to maintenance.

It's working now. Thanks @jesusIban .

[2022-03-09 06:39] sandrobonazzola opened #2764 "Add gluster 10 upgrade references to 4.5 upgrade guide for oVirt"
### Description of the problem
oVirt 4.4.10 is using Gluster 8. In 4.5 we moved to Gluster 10.
We need to link Gluster 10 upgrade guide at https://docs.gluster.org/en/latest/Upgrade-Guide/upgrade-to-10/ within upgrade to 4.5 guide.

#### Type of problem?
Documentation issue

#### Help needed from @oVirt/ovirt-documentation

[2022-03-10 12:32] sandrobonazzola opened #2772 "sect-Installing_Console_Components is invalid for ovirt"
### Description of the problem

#### Type of problem?
Documentation issue

From https://lists.ovirt.org/archives/list/users@ovirt.org/message/X7CACG45ER2QPHSGH32I2II5WCWEL7WB/

[code]

the existiing doc is valid for RHV but not for oVirt

#### Help needed from @oVirt/ovirt-documentation

[2022-03-10 13:01] apinnick commented on #2772
Created bug: [BZ2062738](https://bugzilla.redhat.com/show_bug.cgi?id=2062738)

[2022-03-13 08:47] apinnick commented on #2772
Closed BZ because this bug applies to ovirt, not RHV.

[2022-03-17 08:29] sandrobonazzola opened #2783 "Table of content has wrong tree rooted on "oVirt Key Components""
### Description of the problem

Table of content has wrong tree rooted on "oVirt Key Components" on https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html
![image](https://user-images.githubusercontent.com/937860/158768245-d117612a-12fd-4dd9-85a0-cf58d4055e12.png)

I would have expected "oVirt Key Components" to be at same level of "Installation Ov

[2022-03-17 08:52] sandrobonazzola opened #2784 "missing variable substitution on install guide"
### Description of the problem

#### Type of problem?
Documentation issue

![image](https://user-images.githubusercontent.com/937860/158772321-3db68533-6101-488e-bd37-b3d82503bccb.png)

There's a missing variable substitution on https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Configuring_the_Red_Hat_Virtualization_Manager_install_RHVM

####

[2022-03-17 09:20] sandrobonazzola opened #2785 "oVirt lifecycle points to RHV lifecycle"
### Description of the problem

#### Type of problem?
Documentation issue

Within https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Installing_Hosts_for_RHV_SM_localDB_deploy

![image](https://user-images.githubusercontent.com/937860/158777258-b73bcb03-8947-46e0-ba9e-d60626383193.png)

This section mentions [oVirt Life Cycle](https://access.re

[2022-03-17 09:24] sandrobonazzola opened #2786 "wrong link to host requirements"
### Description of the problem

#### Type of problem?
Documentation issue

https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Installing_Red_Hat_Virtualization_Hosts_SM_localDB_deploy

![image](https://user-images.githubusercontent.com/937860/158778160-0c9ce815-cba4-43c0-a5a1-eb960f871430.png)

[host requirements](https://access.redhat.com/docu

[2022-03-17 10:20] sandrobonazzola opened #2789 "oVirt node partitioning needs to be updated"
### Description of the problem

#### Type of problem?
Documentation issue
https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Storage_Requirements_SM_localDB_deploy
shows:
![image](https://user-images.githubusercontent.com/937860/158788335-c7b2ab9c-8f0a-4376-a8d2-c7cfa8fa2b93.png)

But in 4.5 /var has been reduced to 5GB and a /var/tmp has been

[2022-03-17 10:36] sandrobonazzola opened #2790 "drop Language Support configuration option from node instructions"
### Description of the problem

#### Type of problem?
Documentation issue

https://ovirt.org/documentation/installing_ovirt_as_a_standalone_manager_with_local_databases/index.html#Installing_Red_Hat_Virtualization_Hosts_SM_localDB_deploy
mentions:
![image](https://user-images.githubusercontent.com/937860/158790849-ddfb1448-5ef7-41f7-981d-1968d3aaca8d.png)

But the anaconda interface doesn't allow

[2022-03-17 15:33] ctomasko commented on #2786
Docs team backlog. https://issues.redhat.com/browse/RHV-45352

[2022-03-17 16:11] #2784 closed

[2022-03-17 16:29] ctomasko commented on #1857
Closing: documentation updated https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.4/html-single/administration_guide/index#Creating_LVM_filter_storage_admin

[2022-03-17 16:31] ctomasko commented on #2132
Documentation updates done update
already published in

https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.4/html-single/virtual_machine_management_guide/index#Shutting_down_a_virtual_machine

and in
https://access.redhat.com/documentation/en-us/red_hat_virtualization/4.4/html-single/virtual_machine_management_guide/index#Suspending_a_virtual_machine

[2022-03-17 16:31] #2132 closed

[2022-03-18 06:38] #2786 closed

[2022-03-20 12:19] apinnick commented on #2783
Fixed.

[2022-03-20 12:19] #2783 closed

[2022-03-21 14:55] sandrobonazzola opened #2797 "Banner proposal for 4.5.0 GA"
### Description of the problem

#### Type of problem?
Content issue

Proposing banners for 4.5.0 GA
Website:
![Site Banner](https://user-images.githubusercontent.com/937860/159287738-362a4ee9-c86e-4524-b8e0-e7326d16d79f.png)

Twitter:
![Twitter Banner](https://user-images.githubusercontent.com/937860/159287609-515e75dd-f5b4-405c-9749-f1eb77ee84d0.png)

Reddit:
![Reddit Banner](https://user-images.

[2022-03-21 14:56] sandrobonazzola commented on #2797
Sources:

![Facebook Banner](https://user-images.githubusercontent.com/937860/159288385-dfe1e66d-2468-4895-ace0-7274fe747d02.svg)
![LinkedIn Banner](https://user-images.githubusercontent.com/937860/159288387-68c243ed-e26a-497b-96a6-f0cc8184e7a8.svg)
![Reddit Banner](https://user-images.githubusercontent.com/937860/159288389-50fb93cc-69b5-45b7-bfab-ea08dadc7661.svg)
![Site Banner](https://user-imag

[2022-03-26 17:59] sandrobonazzola opened #2806 "nested header element in website pages"
### Description of the problem

#### Type of problem?
markdown error

In https://github.com/oVirt/ovirt-site/blob/master/source/_layouts/default.html#L15

we have:

[code]

But html forbids to nest a `header` element within another one, see https://www.w3schools.com/tags/tag_header.asp

[2022-03-31 07:50] sandrobonazzola commented on #2797
@oVirt/developers any comment?

[2022-03-31 08:04] erav commented on #2797
I vote for the one with the 'download now' text

[2022-03-31 08:08] michalskrivanek commented on #2797
our download's always a little more complicated than for many other projects, i'd be happy with just "4.5 has been released!":)

[2022-03-31 08:25] nirs commented on #2797
If I understand correctly, this PR propose multiple banners for the ovirt side, twitter, facebook, reddit and linked in.

The banners use different font families and weights (e.g "4.5" is sometimes bold and sometimes not). Is this intended?

[2022-03-31 10:07] sandrobonazzola commented on #2797
Thanks for the feedback! I'll try to uniform font sizing and styling. About the download button I also got feedback that cyrcles needs better alignment. I agree with @barpavel , pointing to somewhere with instructions on how to download make sense here.

[2022-03-31 11:04] sandrobonazzola commented on #2709
Adding instructions with oVirt 4.5.0 beta in pr #2821

[2022-03-31 12:34] sandrobonazzola opened #2822 "htmlproofer test failing"
### Description of the problem

#### Type of problem?
404

`bundle exec ruby htmlproofer_test.rb` reports

[code]

#### Help needed from @oVirt/ovirt-documentation

[2022-03-31 12:55] sandrobonazzola opened #2826 "bundle exec ruby htmlproofer_test.rb not running in GitHub actions"
### Description of the problem

#### Type of problem?
automation bug

`Preview build` GitHub actions is supposed to run ` bundle exec ruby htmlproofer_test.rb` but the command is not really running or not running on the generated content as it doesn't report errors which are there when running manually on local instance (see #2822 )

#### Help needed from @oVirt/developers

[2022-03-31 12:58] duck-rh commented on #2826
I don't get it. It was tested, many problems were fixed at the time before it was green, so what changed?

[2022-03-31 13:28] apinnick commented on #2822
I will check this.

[2022-03-31 13:41] apinnick commented on #2822
I see what the problem is. These documents are only published downstream in rhv docs, so the downstream attributes ({URL_rhel_docs_legacy}j) do not appear in the upstream builds. So the errors are a 'false positive'.

[2022-03-31 13:44] apinnick commented on #2826
It was tested before downstream docs were added to the upstream repo. This is a false positive -- the downstream attributes do not appear in the upstream section of the attributes file, so it cannot resolve them. I could create a PR with the attributes added. Since the errors only affect downstream docs (Python guide, Planning guide, deprecated Gluster guide), it should not affect the upstream doc

[2022-03-31 15:29] apinnick commented on #2822
@sandrobonazzola  @janosdebugs

I can confirm that these errors are false positives.

Here is one of the errors:

- ./_site/documentation/doc-Python_SDK_Guide/chap-Overview.html
  *  internally linking to {URL_downstream_virt_product_docs}package_manifest/index, which does not exist (line 193)
     <a href="{URL_downstream_virt_product_docs}package_manifest/index">appropriate for your hardware pla

[2022-03-31 16:55] sandrobonazzola commented on #2797
Second round: didn't touch the Reddit banner.

Site:
![Site Banner](https://user-images.githubusercontent.com/937860/161108631-ff70e2f5-0ece-48e7-aee5-483e45090df7.png)

Facebook:
![Facebook Banner](https://user-images.githubusercontent.com/937860/161108711-8fc9894f-574c-46d0-a120-cd335ad46201.png)

Linkedin:
![LinkedIn Banner](https://user-images.githubusercontent.com/937860/161108828-4678b4f3-6e

[2022-03-31 16:57] duck-rh commented on #2822
@apinnick The link looks fine on the site indeed but when I generate the site content on my machine there is indeed `{URL_downstream_virt_product_docs}` variables that are not resolved therefore this is a real problem. I'll try to have a deeper look soon.

[2022-03-31 16:59] duck-rh commented on #2826
@apinnick I guess you replied on the wrong ticket. Whatever we think is right for #2822 the GH workflow should fail if htmlproofer reports anything.

[2022-03-31 17:00] nirs commented on #2797
Looks good now :+1:

[2022-04-01 00:53] dewongway commented on #2737
@sandrobonazzola Sorry I missed your comment before.  I kind of worked around this issue before seeing your comment. What I did was that I locked the version of the ansible package, similar to the ovirt-engine* packages. That allowed yum update to proceed. I just removed ansible from the versionlock and tested your suggestion using --nobest. It seems to work.

However, I feel like locking the vers

[2022-04-01 06:25] sandrobonazzola commented on #2737
@dewongway yes version locking will suppress the warnings but when we'll move to ansible-core you'll fail to upgrade because of the version locking while with --best it wil work in both cases at the cost of having a few warnings noise.

[2022-04-01 10:15] barpavel commented on #2797
LGTM :)

[2022-04-03 06:11] erav commented on #2797
in the image before last the 'download now!' is larger than the blue button. otherwise LGTM

[2022-04-04 15:58] #2822 closed

[2022-04-05 09:46] duck-rh commented on #2822
@sandrobonazzola good catch, thanks :-)

[2022-04-06 08:42] didib opened #2834 "Document the need for mod_auth_openidc module"
With the integration of keycloak, we need, on the engine machine:
[code]

Not sure about RHV, perhaps it should be conditional.
As a first approximation for the list of locations that need to be changed, you can search for 'pki-deps'.

[2022-04-06 08:46] arso commented on #2834
Yes, for RHV this should be fully optional.

[2022-04-06 08:47] arso commented on #2834
there is another dependency ovirt-engine-extensions-misc but this one is 'required' by ovirt-engine-keycloak so it effectively gets installed. IMO there is no need to mention it in the docs.

[2022-04-06 11:33] #2709 closed

[2022-04-06 13:26] sandrobonazzola commented on #2834
@didib @arso, can we close this as fixed by PR #2835 ?

[2022-04-06 13:42] #2834 closed

[2022-04-07 15:20] sandrobonazzola opened #2837 "Upgrade guide is not correctly oVirt branded"
### Description of the problem

#### Type of problem?
Documentation issue

Upgrade guide is not correctly oVirt branded, see as example:

![image](https://user-images.githubusercontent.com/937860/162233928-e5e3b55d-3e3c-4459-9f2f-88f163b759b8.png)

Link: https://ovirt.org/documentation/upgrade_guide/#Red_Hat_Virtualization_Upgrade_Overview

#### Help needed from @oVirt/ovirt-documentation

[2022-04-07 15:27] sandrobonazzola opened #2838 "Missing oVirt 4.4 to 4.5 upgrade guide"
### Description of the problem

#### Type of problem?
Content issue

Missing oVirt 4.4 to 4.5 upgrade guide.

On oVirt Engine side:

`dnf install -y centos-release-ovirt45`

and as we are still in beta:

[code]

then update OS packages and oVirt Engine setup packages:

`dnf update -y --nobest`

Last, run

`engine-setup`

#### Help needed from @oVirt/ovirt-documentation

[2022-04-11 12:47] emarcusRH commented on #2837
Opened PR2840 to fix this

[2022-04-11 15:42] sandrobonazzola opened #2842 "404 error on some external resources"
### Description of the problem

#### Type of problem?
404

enabling external site test, htmlproofer reports:

[code]

#### Help needed from @oVirt/ovirt-documentation @mwperina @ahadas @michalskrivanek

[2022-04-12 13:32] apinnick commented on #2842
I can have a look at some of these.

[2022-04-12 13:45] apinnick commented on #2842
This earlier PR fixed the VMM guide: https://github.com/oVirt/ovirt-site/pull/2845

[2022-04-12 14:07] apinnick commented on #2842
@sandrobonazzola Please add documentation/doc-Technical_Notes and documentation/doc-Product_Guide to the "do not build" list.

[2022-04-13 14:51] emarcusRH commented on #2837
fixed, published

[2022-04-13 14:51] #2837 closed

[2022-04-14 06:12] sandrobonazzola commented on #2632
Closed by #2633

[2022-04-14 06:12] #2632 closed

[2022-04-19 15:09] #2597 closed

[2022-04-20 06:42] #2764 closed

[2022-04-20 06:42] #2797 closed

[2022-04-20 06:42] #2838 closed

[2022-04-20 10:02] sandrobonazzola opened #2857 "Issue: /develop/release-management/features/network/networkfilterparameters.html"
### Description of the problem

#### Type of problem?
404

<https://ovirt.org/develop/release-management/features/network/networkfilterparameters.html> page has a broken external link to <https://github.com/libvirt/libvirt/blob/master/docs/schemas/nwfilter.rng>

#### Help needed from @almusil @dominikholler @erav @hbraha

[2022-04-23 02:41] kurokobo opened #2864 "The download page for oVirt Node is still "4.5 Pre Release""
### Description of the problem

#### Type of problem?
Content issue

The oVirt Node download page shows the contents for 4.5 _Pre Release_.

<https://www.ovirt.org/download/node.html>

4.5 is already GAed, so I think this should be updated to link the ISO under `pub/ovirt-4.5` instead of `pub/ovirt-4.5-pre`.

[2022-04-26 08:44] #2864 closed

[2022-04-27 09:12] sandrobonazzola commented on #2842
Updated list:
[code]
tracked in #2857

[code]
@oVirt/ovirt-documentation can you help here?

[code]
@ahadas @nyoxi @mz-pdm can you help here?

[code]
@arso @mwperina can you help here?

[2022-04-27 11:53] nyoxi commented on #2842
The document has been moved. New link is `https://github.com/oVirt/ovirt-vmconsole/blob/master/README.md#customization`.

[2022-04-28 09:47] sandrobonazzola commented on #2842
Fixed via #2873

[2022-04-28 09:51] sandrobonazzola commented on #2842
This is still there:
[code]

[2022-04-28 11:45] apinnick commented on #2842
@sandrobonazzola
This is upstream only. It's coming from this file: source/release/3.6.1/index.md

[2022-04-29 06:27] sandrobonazzola commented on #2329
Closing, didn't get any attention or interest in a year.

[2022-04-29 06:27] #2329 closed

[2022-05-05 06:06] sandrobonazzola commented on #2559
No capacity for implementing this, closing deferred. Feel free to reopen if you have capacity for working on this

[2022-05-05 06:06] #2559 closed

[2022-05-05 09:21] sandrobonazzola commented on #2137
Didn't move in 2 years, no capacity for handling, closing deferred. Feel free to reopen if you have capacity for working on this.

[2022-05-05 09:21] #2137 closed

[2022-05-09 07:50] sandrobonazzola commented on #2842
Fixed in #2886

[2022-05-09 07:51] #2842 closed

[2022-05-10 06:54] #2857 closed

[2022-05-19 08:49] kazu999 opened #2915 "The link to oVirt Node 4.5.0.2 Async update is wrong"
Description of the problem
Type of problem?
Content issue

The link to oVirt Node 4.5.0.2 Async update is wrong.

error
https://blogs.ovirt.org/2022/04/ovirt-node-4-5-0-2-async-update/

correct
https://blogs.ovirt.org/2022/05/ovirt-node-4-5-0-2-async-update/

[2022-05-19 11:21] sandrobonazzola commented on #2915
Thanks for reporting!

[2022-05-19 11:21] #2915 closed

[2022-05-24 08:37] sandrobonazzola commented on #2790
Dropping upstream as it applies to RHV as well

[2022-05-26 14:50] #2790 closed

[2022-05-31 12:43] apinnick opened #2956 "Update _config.yml links to Intro to VM Portal"
### Description of the problem

#### Type of problem?

We want to move the "documentation/introduction_to_the_vm_portal" to "source/dropped". So the following lines must be updated in _config.yml:

  - documentation/introduction_to_the_vm_portal/topics
  - documentation/introduction_to_the_vm_portal/chap*

Please change to `documentation/doc-Introduction_to_the_VM_Portal/...`

#### Help needed fro

[2022-06-01 09:05] #2956 closed

[2022-06-01 11:45] sandrobonazzola opened #2960 "asciidoctor errors reported while building site locally"
### Description of the problem

#### Type of problem?
Documentation issue

Local site builds shows:
[code]

#### Help needed from @oVirt/ovirt-documentation

[2022-06-01 12:13] apinnick commented on #2960
I can fix the incremental-back-and-restore problem. It looks like the first header was commented out.

However, I do not think I can fix the security profile errors. I suspect that they are caused by the fact that these proc files are only used in the downstream build.

[2022-06-06 08:38] sandrobonazzola commented on #2960
Fixed by #2961

[2022-06-06 08:38] #2960 closed

[2022-06-06 12:08] sandrobonazzola opened #2967 "Issue: /documentation/administration_guide/"
### Description of the problem

#### Type of problem?
Documentation issue

"Migrating the Data Warehouse Database to a Separate Machine" links point to <https://ovirt.org/documentation/administration_guide/chap-Migrating_Data_Warehouse_Database_to_a_Separate_Machine.html#Migrating_the_Data_Warehouse_Database_to_a_Separate_Machine> which ends in 404 page.

[2022-06-06 15:08] #2967 closed

[2022-06-06 18:55] duck-rh commented on #2605
@sandrobonazzola sorry I must have missed your (now dated) reply:-/. I'll work on it then.

[2022-06-07 05:40] sandrobonazzola commented on #2605
Thanks

[2022-06-07 09:56] sandrobonazzola opened #2972 "Issue: /develop/networking/infiniband.html"
### Description of the problem

#### Type of problem?
404

At https://ovirt.org/develop/networking/infiniband.html

Within:

there's a link to http://article.gmane.org/gmane.linux.nfs/60953 but gmane.org is no longer available.

#### Help needed from original authors @SvenMW and @plappermaul

[2022-06-07 11:24] sandrobonazzola opened #2973 "Issue: /develop/release-management/features/infra/hostpmmultipleagents.html"
### Description of the problem

#### Type of problem?
404

In https://ovirt.org/develop/release-management/features/infra/hostpmmultipleagents.html
The link to <http://h20566.www2.hp.com/portal/site/hpsc/public/kb/docDisplay/?docId=emr_na-c02510164&ac.admitted=1350494275400.876444892.199480143> doesn't work anymore as host is not resolvable anymore.

#### Help needed from @emesika

[2022-06-09 07:50] sandrobonazzola commented on #2524
Closing wontfix,didn't got attention over the past year, not going to be handled.

[2022-06-09 07:50] #2524 closed

[2022-06-24 08:22] sandrobonazzola opened #3000 "documentation html syntax issues"
### Description of the problem

checking HTML syntax on the website, shows:

[code]

#### Type of problem?
Documentation issue

#### Help needed from @apinnick

[2022-06-24 10:06] #2530 closed

[2022-06-26 09:28] apinnick commented on #3000
@sandrobonazzola
I am not sure why the attributes are not rendering for some docs but rendering for others. Can you point me to the log?

[2022-06-27 02:32] duck-rh commented on #2605
I switched the branch to `main` and updated all references in  #3005. GH takes care of updating the PRs. Previews are working well.

The production builder was also updated: https://gerrit.ovirt.org/c/infra-ansible/+/118490

Please reopen this ticket is you see any problem.

[2022-06-27 02:32] #2605 closed

[2022-07-05 11:49] sandrobonazzola commented on #2973
@mwperina can you help with this?

[2022-07-05 11:50] sandrobonazzola commented on #2972
@bennyz @nirs @ahadas can you help with this?

[2022-07-05 12:16] sandrobonazzola commented on #1671
Not likely to happen. Closing wontfix.

[2022-07-05 12:16] #1671 closed

[2022-07-05 12:17] sandrobonazzola commented on #2277
Not likely to happen, didn't got attention in over a year. Closing wontfix.

[2022-07-05 12:17] #2277 closed

[2022-07-05 12:29] sandrobonazzola commented on #2732
As authors of https://ovirt.org/develop/release-management/features/storage/spmpriority.html perhaps @oourfali @danielerez @msalem (assuming it's Muli Salem github account) may help as well.

[2022-07-05 12:34] sandrobonazzola commented on #2789
Fixed by #2891

[2022-07-05 12:34] #2789 closed

[2022-07-05 14:01] #2772 closed

[2022-07-09 08:57] sandrobonazzola opened #3016 "Duplicate file causing error on Windows systems"
### Description of the problem

<https://github.com/oVirt/ovirt-site/blob/main/source/documentation/administration_guide/topics/Viewing_User_Information.adoc>
and
<https://github.com/oVirt/ovirt-site/blob/main/source/documentation/administration_guide/topics/Viewing_user_information.adoc>

are considered the same file on Windows. In order to allow Windows users to contribute to the project we shou

[2022-07-09 14:23] nirs commented on #2972
I looked here but this page was not archived:
https://web.archive.org/web/*/http://article.gmane.org/gmane.linux.nfs/60953

Since this is an issue for very old kernels (3.7 - 3.13) I think we can safely delete
this content.

[2022-07-10 10:10] #3016 closed

[2022-07-11 07:10] #2972 closed

[2022-07-12 12:23] sandrobonazzola opened #3020 "Issue: /develop/architecture/backend-modules-root.html"
### Description of the problem

The page at https://ovirt.org/develop/architecture/backend-modules-root.html describes project [`Root` within oVirt Engine](https://github.com/oVirt/ovirt-engine/tree/master/backend/manager/modules/root)

The screenshot there is really outdated but I also think the text is obsolete as the landing page seems to be now under the [`Welcome` project within oVirt Engine]

[2022-07-26 17:25] Fryguy opened #3031 "SVG version of logo for public usage?"
### Description of the problem

I would like an svg version of the ovirt logo available somewhere for download and general usage. (Ideally the same square one used for the [oVirt GitHub org](https://github.com/ovirt).  In particular, we need the logo for ManageIQ as we are adding oVirt as a dedicated provider.

#### Type of problem?
Content issue

#### Help needed from (use @mention to request ass

[2022-07-26 17:28] Fryguy commented on #3031
FWIW, we have the following page on our website where we have the logo available for usage: https://www.manageiq.org/logo/ - I think it would be cool if the ovirt site had a similar page.

[2022-07-27 14:57] #3031 closed

[2022-07-28 08:41] lessfoobar opened #3033 "Top to page button"
I was trying to implement [this](https://www.w3schools.com/howto/howto_js_scroll_to_top.asp) on a local branch but then I remembered I'm no web developer and gave up.

### Description of the problem
The problem is that when you are deep in the documentation and you want to go to the top of the page where you have a nice context you have to scroll like crazy. Imho there are two options move table-c

[2022-08-09 08:03] nzubarev122 commented on #2563
hello. i need help .

i need to Extend size by Vm via GO sdk , please send example. And how can
i Extend size via ovirt api. Please help

[image: image.png]

ср, 12 янв. 2022 г. в 10:43, Sandro Bonazzola ***@***.***>:

[2022-08-09 09:23] nzubarev122 opened #3044 "Extend size by Vm"
hello. i need help .

i need to Extend size by Vm via GO sdk , please send example. And how can i Extend size via ovirt api. Please help

its not work - https://www.ovirt.org/develop/release-management/features/storage/online-virtual-drive-resize.html

[2022-09-05 07:37] sandrobonazzola commented on #3044
@engelmi can you help here?

[2022-09-05 07:59] engelmi commented on #3044
I think an example for the go-ovirt SDK can be found [here](https://github.com/oVirt/go-ovirt/blob/master/examples/extend_disk.go) and for the rest api I can't find anything (probably somewhere [here](http://ovirt.github.io/ovirt-engine-api-model/4.5/)).

However, as already stated in https://github.com/oVirt/go-ovirt-client/issues/235, we highly recommend using [go-ovirt-client](https://github.co

[2022-09-13 13:49] apinnick opened #3064 "ovirt-doc team can no longer merge PRs without outside reviewer"
The Ovirt-doc team used to be able to merge PRs without an outside reviewer. This is necessary in order forthe writers to do quick fixes such as typos, updating RN, or to publish urgent documents. Ovirt-doc used to have this ability. However, the feature seems to have been removed recently.

[2022-09-15 10:03] sandrobonazzola commented on #3064
checking

[2022-09-15 10:08] sandrobonazzola commented on #3064
According to GitHub config the doc team should be able to bypass the review requirements on the PRs:
![Schermata da 2022-09-15 12-06-22](https://user-images.githubusercontent.com/937860/190377191-1da4e486-a206-4cc0-a70c-46fc07411dfa.png)

@apinnick can you please provide an example of PR where the doc team can't merge?

[2022-09-15 10:09] apinnick commented on #3064
I don't mean that the doc team can't merge a PR. I mean that the person who **created** the PR can't merge it. I will try to create a PR to show you.

[2022-09-15 10:14] sandrobonazzola commented on #3064
You should have something like:
![Schermata da 2022-09-15 12-12-40](https://user-images.githubusercontent.com/937860/190378364-9a044403-e46b-4a31-9441-bb7ad5bb06bf.png)

[2022-09-15 10:14] sandrobonazzola commented on #3064
Just check the checkbox and you should be able to merge your own PRs bypassing the review requriement.

[2022-09-15 10:15] apinnick commented on #3064
I know that is how it is **supposed** to work. I have used it in the past. Recently I could not do that. I'm checking it now with a PR.

[2022-09-15 10:36] apinnick commented on #3064
This is what appears. There is no option to merge without waiting for requirements to be met. [PR](https://github.com/oVirt/ovirt-site/pull/3066)
![image](https://user-images.githubusercontent.com/31725355/190382741-50682bd1-248e-497b-a4b4-6220c695eddb.png)

[2022-09-15 11:13] apinnick commented on #3064
@janosdebugs This is not a one-off problem. I noticed it a couple weeks ago when I had a PR for the REST API.

[2022-09-15 11:29] apinnick commented on #3064
I noticed that Eli's [PR](https://github.com/oVirt/ovirt-site/pull/2987) was also stuck in this state.  I submitted a 'test' review and it allowed me to merge. So the end result is the same -- no reviewer, no merge.

[2022-09-15 11:38] sandrobonazzola commented on #3064
I'l try adding doc team members one by one instead of adding the group.

[2022-09-15 11:41] emarcusRH commented on #3064
this behavior seems to have popped up recently - sometime around the beginning of September. All of my PRs in the last 2 weeks have been behaving like this - no option to merge without an additional reviewer - and even approval by authorized Dev reviewers, like Yedidyah, did not open the PR for merging.

[2022-09-15 11:42] sandrobonazzola commented on #3064
check now

[2022-09-15 12:02] apinnick commented on #3064
I see no changes in my PR. I'll try pushing a change to rerun the checks.

[2022-09-15 12:05] sandrobonazzola commented on #3064
@michalskrivanek any change done in global config over the past few weeks?

[2022-09-15 12:06] michalskrivanek commented on #3064
no, nothing I'm aware of

[2022-09-15 12:08] michalskrivanek commented on #3064
i do not see a history, but currently the project is set up so that it requires one review

[2022-09-15 12:10] apinnick commented on #3064
The ovirt-doc team is supposed to be an exception, so that we can do quick fixes that do not require review.

[2022-09-15 12:12] apinnick commented on #3064
No change. My PR still requires a reviewer.

[2022-09-15 13:36] apinnick commented on #3064
Unfortunate..... Thanks for checking.

[2022-09-16 06:10] michalskrivanek commented on #3064
I've got similar report from other repos, there as no config change and AFAICT from settings these people (https://github.com/orgs/oVirt/teams/ovirt-documentation/members) can merge without reviews.
Looks like yet another github outage/bug...

[2022-09-16 06:10] #3064 closed

[2022-09-30 14:44] engelmi commented on #3044
It seems the issue has been resolved, so I am closing it. If you have further questions, please re-open it @nzubarev122

[2022-11-10 17:09] HubKing opened #3081 "Issue: /download/ Authors tag blocks the view"
[ Thank you for submitting an issue! Please read these instructions and then delete the instructions sections before submitting the issue.

Is this Issue something you can help fix? If you'd like to contribute to making our site better, submit a Pull Request along with your Issue report! ]

### Description of the problem
Why is the big authors tag there? It blocks the page.

![image](https://user-